{% extends 'layout.html.twig' %}

{% block title %}
	Patient
    {{ patient.general.prenom }} {{ patient.general.nom }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootgrid.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}

	<div class="container-form">
		<!-- Hero -->
		<section id="tab-profile" class="hero-tabs">
			<div class="hero-header">
				<div class="hero-title">
					<h1 id="profile">
                        PATIENT 
                        <span>{{ patient.general.prenom }} {{ patient.general.nom }}</span>
                    </h1>
				</div>

				<div class="btn-block">
					<a href="{{ path('index_patient') }}" class="form-btn btn-default">
						<i aria-hidden="true" class="fa fa-arrow-left"></i>Retour</a>
                    <a href="{{ path('patient_letter', {id: patient.id}) }}" class="form-btn">
						<i aria-hidden="true" class="fa fa-envelope"></i>Lettre</a>
					{{ include('patient/_delete_form.html.twig') }}
				</div>
			</div>

		</section>

		<!-- Main -->
		<main class="main">

			<!-- Toc -->
			<nav class='toc animated bounceInDown'>
				<ul>
					<li>
						<a href='#history'>
							<div class="menu-title">
								<i class='fa fa-user'></i>
								<div>Patient</div>
                            </div>
						</a>
					</li>
					<li class='sub-menu'>
						<a href='#general'>
							<div class="menu-title">
								<i class='fa fa-stethoscope'></i>
								<div>Informations générales</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#identification'>Identification</a></li>
                            <li><a href='#complement'>Complément</a></li>
						</ul>
					</li>
                    <li>
						<a href='#antecedentCardiovasculaire'>
							<div class="menu-title">
								<i class='fa fa-file-medical-alt'></i>
								<div>Antécédent cardiovasculaire</div>
                            </div>
						</a>
					</li>
                    <li class='sub-menu'>
						<a href='#information'>
							<div class="menu-title">
								<i class='fa fa-notes-medical'></i>
								<div>Information sur l'événement cardiovasculaire</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#infarctusMyocarde'>Infarctus du myocarde</a></li>
                            <li><a href='#accidentVasculaireCerebral'>Accident vasculaire cérébral</a></li>
						</ul>
					</li>
					<li>
						<a href='#facteur'>
							<div class="menu-title">
								<i class='fa fa-heartbeat'></i>
								<div>Facteurs de risques initiaux</div>
                            </div>
						</a>
					</li>
					<li class='sub-menu'>
						<a href='#examen'>
							<div class="menu-title">
								<i class='fa fa-procedures'></i>
								<div>Examens paracliniques</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul class="protocole-list">
                            {% for fiche in patient.protocole.fiches %}
                                {% if fiche == 'angioplastiePontage' %}<li><a name='angioplastiePontage'>Angioplastie et pontage</a></li>
                                {% elseif fiche == 'bfr' %}<li><a name='bfr'>Bilan biologique et risque</a></li>
                                {% elseif fiche == 'catheterisation' %}<li><a name='catheterisation'>Cathétérisation</a></li>
                                {% elseif fiche == 'echocardiographie' %}<li><a name='echocardiographie'>Échocardiographie</a></li>
                                {% elseif fiche == 'echographieVasculaire' %}<li><a name='echographieVasculaire'>Échographie vasculaire</a></li>
                                {% elseif fiche == 'medicaments' %}<li><a name='medicaments'>Médicaments</a></li>
                                {% elseif fiche == 'neuroImagerie' %}<li><a name='neuroImagerie'>Neuro-imagerie</a></li>
                                {% elseif fiche == 'neuroPsychologie' %}<li><a name='neuroPsychologie'>Neuro-psychologie</a></li>
                                {% elseif fiche == 'testsEffort' %}<li><a name='testsEffort'>Test d'effort</a></li>
                                {% elseif fiche == 'visite' %}<li><a name='visite'>Visite</a></li>
                                {% endif %}
                            {% endfor %}
						</ul>
					</li>
					<li>
						<a href='#suivi'>
							<div class="menu-title">
								<i class='fa fa-skull-crossbones'></i>
								<div>Suivi</div>
                            </div>
						</a>
					</li>
                    <li>
                        <button id="js-reducemenu"><i class="fas fa-arrow-left"></i></button>
                    </li>
				</ul>
			</nav>

            <section class="slide" id="tab-history" style="display: block;">
                <h1 id="history">Historique</h1>
    
                <div class="flex">
                    <div class="table-wrapper">
                        <table cellspacing="0" class="table table-condensed table-hover table-striped" id="data-grid">
                            <thead>
                                <tr>
                                    <th data-column-id="id" data-identifier="true" data-searchable="false" data-type="numeric" data-visible="false">Id</th>
                                    <th data-column-id="fieldId" data-searchable="false" data-visible="false">Id</th>
                                    <th data-column-id="etat" data-width="10%" data-formatter="etat" data-searchable="false">Etat</th>
                                    <th data-column-id="date" data-width="20%">Date</th>
                                    <th data-column-id="utilisateur" data-width="20%">Utilisateur</th>
                                    <th data-column-id="message" data-width="50%">Message</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>

            {{ form_start(form, {'attr': {'class': 'form validate-form'} }) }}
            {{ form_errors(form) }}

            {% form_theme form 'form-theme.html.twig' %}

            {# {{ dump(form) }} #}

			{#========== GENERAL ==========#}
			<section class="slide" id="tab-general">
                {% include 'patient/form/general.html.twig' with form %}
			</section>


			{#========== ANTECEDENT CARDIOVASCULAIRE ==========#}
			<section class="slide" id="tab-antecedentCardiovasculaire">
                {% include 'patient/form/antecedent_cardiovasculaire.html.twig' with form %}
            </section>

            {#========== INFORMATION ==========#}
            <section class="slide" id="tab-information">
			    {% include 'patient/form/information.html.twig' with form %}
            </section>


			{#========== FACTEUR ==========#}
			<section class="slide" id="tab-facteur">
                {% include 'patient/form/facteur.html.twig' with form %}
            </section>

            {#========== EXAMEN ==========#}
            <section class="slide" id="tab-examen">
                <div class="form-space">
                    <h3>Fiches d'examen déjà existantes</h3>
                    <ul class="etiquettes__list">
                        {% for fiche in patient.protocole.fiches %}
                            <li name={{ fiche }} class='etiquette'>
                                {% if fiche == 'angioplastiePontage' %}Angioplastie et pontage
                                {% elseif fiche == 'bfr' %}Bilan biologique et risque
                                {% elseif fiche == 'catheterisation' %}Cathétérisation
                                {% elseif fiche == 'echocardiographie' %}Échocardiographie
                                {% elseif fiche == 'echographieVasculaire' %}Échographie vasculaire
                                {% elseif fiche == 'medicaments' %}Médicaments
                                {% elseif fiche == 'neuroImagerie' %}Neuro-imagerie
                                {% elseif fiche == 'neuroPsychologie' %}Neuro-psychologie
                                {% elseif fiche == 'testsEffort' %}Test d'effort
                                {% elseif fiche == 'visite' %}Visite
                                {% else %} {{ fiche }}
                                {% endif %}
                                <span class="delete">
                                    <i class="fa fa-times"></i>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="wrap-input">
                    <h3>Ajouter une fiche d'examen</h3>
                    <label for="protocole">
                        <span></span>
                        <em>Fiches</em>
                    </label>
                
                    <div class="flex">
                        <select id="protocole_fiches" name="protocole[fiches]" class="input">
                            <option value=""></option>
                            {% if "angioplastiePontage" not in patient.protocole.fiches %}<option value="angioplastiePontage">Angioplastie et pontage</option>{% endif %}
                            {% if "bfr" not in patient.protocole.fiches %}<option value="bfr">Bilan biologique et risque</option>{% endif %}
                            {% if "catheterisation" not in patient.protocole.fiches %}<option value="catheterisation">Cathétérisation</option>{% endif %}
                            {% if "echocardiographie" not in patient.protocole.fiches %}<option value="echocardiographie">Échocardiographie</option>{% endif %}
                            {% if "echographieVasculaire" not in patient.protocole.fiches %}<option value="echographieVasculaire">Échographie vasculaire</option>{% endif %}
                            {% if "medicaments" not in patient.protocole.fiches %}<option value="medicaments">Médicaments</option>{% endif %}
                            {% if "neuroImagerie" not in patient.protocole.fiches %}<option value="neuroImagerie">Neuro-imagerie</option>{% endif %}
                            {% if "neuroPsychologie" not in patient.protocole.fiches %}<option value="neuroPsychologie">Neuro-psychologie</option>{% endif %}
                            {% if "testsEffort" not in patient.protocole.fiches %}<option value="testsEffort">Définition des tests d'effort</option>{% endif %}
                            {% if "visite" not in patient.protocole.fiches %}<option value="visite">Visite</option>{% endif %}
                        </select>
                        <span class="focus-input"></span>
                    </div>
                </div>
                <button class="form-btn" id="add-fiche"><i aria-hidden="true" class="fa fa-plus"></i>Ajouter une fiche</button>
                <div class="margin-space"></div>

                <h1 id="examens">Examens paracliniques</h1>

                <ul class="tabbed">
                    {% for fiche in patient.protocole.fiches %}
                        {% if fiche == 'angioplastiePontage' %}<li name="angioplastiePontage">Angioplastie et pontage</li>
                        {% elseif fiche == 'bfr' %}<li name="bfr">Bilan biologique et risque</li>
                        {% elseif fiche == 'catheterisation' %}<li name="catheterisation">Cathétérisation</li>
                        {% elseif fiche == 'echocardiographie' %}<li name="echocardiographie">Échocardiographie</li>
                        {% elseif fiche == 'echographieVasculaire' %}<li name="echographieVasculaire">Échographie vasculaire</li>
                        {% elseif fiche == 'medicaments' %}<li name="medicaments">Médicaments</li>
                        {% elseif fiche == 'neuroImagerie' %}<li name="neuroImagerie">Neuro-imagerie</li>
                        {% elseif fiche == 'neuroPsychologie' %}<li name="neuroPsychologie">Neuro-psychologie</li>
                        {% elseif fiche == 'testsEffort' %}<li name="testsEffort">Test d'effort</li>
                        {% elseif fiche == 'visite' %}<li name="visite">Visite</li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <ul class="tab-list">
					<li class="tab-content" name="angioplastiePontage">
                        {#========== Angioplastie et pontage ==========#}
                        {# <div id="examen-angioplastie-pontage">
                            {{ form_start(formAngioplastiePontage, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formAngioplastiePontage) }}

                            {% form_theme formAngioplastiePontage 'form-theme.html.twig' %}

                            <h1 id="angioplastie-pontage">Angioplastie et pontage</h1>
                            <h3 id="coronaires">Schémas coronaires</h3>
                            <div class="coronaire">
                                {{ form_row(formAngioplastiePontage.segment1, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                                {{ form_row(formAngioplastiePontage.segment2, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                                {{ form_row(formAngioplastiePontage.segment3, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}

                                {{ form_row(formAngioplastiePontage.troncCommun, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                                {{ form_row(formAngioplastiePontage.ivaProximal, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                                {{ form_row(formAngioplastiePontage.diagonal, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                                {{ form_row(formAngioplastiePontage.ivaMoyenne, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                                {{ form_row(formAngioplastiePontage.circonflexeProximale, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                                {{ form_row(formAngioplastiePontage.postrolLateral, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                            </div>

                            <h3 id="pont">Schémas ponts</h3>
                            <div class="form-space pont">
                                {{ form_row(formAngioplastiePontage.pontSaphenesGauche, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                                {{ form_row(formAngioplastiePontage.pontSaphenesDroit, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                                {{ form_row(formAngioplastiePontage.pontMammaire, {'attr': {'class': 'input radio-row'}, 'useLabel': 'Stent' }) }}
                            </div>

                            {{ form_row(formAngioplastiePontage.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formAngioplastiePontage._token) }}
                            {{ form_end(formAngioplastiePontage, {'render_rest' : false}) }}
                        </div> #}
                    </li>

                    <li class="tab-content" name="bfr">
                        {#========== Bilan biologique et risque (BRF) ==========#}
                        <div id="examen-bfr">
                            {% include 'patient/form/examens/bilan_biologique_risque.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="catheterisation">
                        {#========== Catheterisation ==========#}
                        {# <div id="examen-catheterisation">
                            {{ form_start(formCatheterisation, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formCatheterisation) }}

                            {% form_theme formCatheterisation 'form-theme.html.twig' %}

                            <h1 id="catheterisation">Cathétérisation</h1>
                            <h3 id="coronaires">Schémas coronaires</h3>
                            <div class="coronaire">
                                {{ form_row(formCatheterisation.segment1, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formCatheterisation.segment2, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formCatheterisation.segment3, {'attr': {'class': 'input'} }) }}

                                {{ form_row(formCatheterisation.troncCommun, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formCatheterisation.ivaProximal, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formCatheterisation.diagonal, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formCatheterisation.ivaMoyenne, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formCatheterisation.circonflexeProximale, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formCatheterisation.postrolLateral, {'attr': {'class': 'input'} }) }}
                            </div>

                            <h3 id="pont">Schémas ponts</h3>
                            <div class="form-space pont">
                                {{ form_row(formCatheterisation.pontSaphenesGauche, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formCatheterisation.pontSaphenesDroit, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formCatheterisation.pontMammaire, {'attr': {'class': 'input'} }) }}
                            </div>
                            <div class="flex-nowrap">
                                {{ form_row(formCatheterisation.FEVentriculographie, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                {{ form_row(formCatheterisation.FEIsotopique, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                            </div>

                            {{ form_row(formCatheterisation.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formCatheterisation._token) }}
                            {{ form_end(formCatheterisation, {'render_rest' : false}) }}
                        </div> #}
                    </li>

                    <li class="tab-content" name="coronaireAngiosplatie">
                        {#========== Coronaire & Angioplastie ==========#}
                        {# <div id="examen-coronaire-angioplastie">
                            {{ form_start(formCoronaireAngiosplatie, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formCoronaireAngiosplatie) }}

                            {% form_theme formCoronaireAngiosplatie 'form-theme.html.twig' %}

                            <h1 id="coronaire-angioplastie">Coronaire & Angioplastie</h1>

                            <div class="table table-7">
                                <div class="theader">
                                    <div class="row">
                                        <td></td>
                                        <td>Sténose</td>
                                        <td>FFR</td>
                                        <td>CMR</td>
                                        <td>IMR</td>
                                        <td>Angioplastie</td>
                                        <td>Coroscanner</td>
                                    </div>
                                </div>
                                <div class="tbody">
                                    <div class="row">
                                        <tr></tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr></tr>
                                    </div>
                                </div>
                            </div>

                            <div class="form-space">
                                {{ form_row(formCoronaireAngiosplatie.vitesseOndePouls, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                            </div>

                            {{ form_row(formCoronaireAngiosplatie.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formCoronaireAngiosplatie._token) }}
                            {{ form_end(formCoronaireAngiosplatie, {'render_rest' : false}) }}
                        </div> #}
                    </li>

                    <li class="tab-content" name="echocardiographie">
                        {#========== Échographie cardiaque ==========#}
                        {# <div id="examen-echocardiographie">
                            {{ form_start(formEchocardiographie, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formEchocardiographie) }}

                            {% form_theme formEchocardiographie 'form-theme.html.twig' %}

                            <h1 id="echocardiographie">Échocardiographie</h1>
                            <div class="form-space">
                                {{ form_row(formEchocardiographie.date, {'attr': {'class': 'input js-datepicker'} }) }}
                                <div class="flex-nowrap">
                                    {{ form_row(formEchocardiographie.fcRepos, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                    {{ form_row(formEchocardiographie.fcMax, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                </div>
                                {{ form_row(formEchocardiographie.rythmeCardiaque, {'attr': {'class': 'input'} }) }}
                                <div class="flex-nowrap">
                                    {{ form_row(formEchocardiographie.taSystoliqueRepos, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                    {{ form_row(formEchocardiographie.taSystoliquePic, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                </div>
                            </div>

                            <h3 id="basal">Basal</h3>
                            <div class="form-space">
                                {{ form_row(formEchocardiographie.basalEchographie, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchocardiographie.basalFMTPercent, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchocardiographie.basalResult, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchocardiographie.basalNumberSegment, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchocardiographie.basalIschemieLocation, {'attr': {'class': 'input'} }) }}
                            </div>
                            <div class="echo">
                                {% for segment in formEchocardiographie.basalBullseye.segments %}
                                    {% set counter = ( counter | default(0) ) + 1 %}
                                    <div class="segment">
                                        <div class="wrap-input">
                                            {{ form_widget(segment.segment, {'attr': {'class': 'input js-unity', 'placeholder': counter}, 'useStyle': false }) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <h3 id="stress">Stress</h3>
                            <div class="form-space">
                                {{ form_row(formEchocardiographie.stressEchographie, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchocardiographie.stressFMTPercent, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchocardiographie.stressResult, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchocardiographie.stressNumberSegment, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchocardiographie.stressIschemieLocation, {'attr': {'class': 'input'} }) }}
                            </div>
                            <div class="echo">
                                {% for segment in formEchocardiographie.stressBullseye.segments %}
                                    {% set counter = ( counter | default(0) ) + 1 %}
                                    <div class="segment">
                                        <div class="wrap-input">
                                            {{ form_widget(segment.segment, {'attr': {'class': 'input js-unity', 'placeholder': counter}, 'useStyle': false }) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            {{ form_row(formEchocardiographie.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formEchocardiographie._token) }}
                            {{ form_end(formEchocardiographie, {'render_rest' : false}) }}
                        </div> #}
                    </li>

                    <li class="tab-content" name="echographieVasculaire">
                        {#========== Échographie vasculaire ==========#}
                        {# <div id="examen-echographie-vasculaire">
                            {{ form_start(formEchographieVasculaire, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formEchographieVasculaire) }}

                            {% form_theme formEchographieVasculaire 'form-theme.html.twig' %}

                            <h1 id="echographie-vasculaire">Échographie vasculaire</h1>
                            <h3 id="tsa">Schéma TSA</h3>
                            <div class="form-space schema-tsa">
                                {{ form_row(formEchographieVasculaire.carotideInterneDroite, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.carotideInterneGauche, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.EIMDroit, {'attr': {'class': 'input large'} }) }}
                                {{ form_row(formEchographieVasculaire.EIMGauche, {'attr': {'class': 'input large'} }) }}
                                {{ form_row(formEchographieVasculaire.vertebraleDroite, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.vertebraleGauche, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.carotideCommuneDroite, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.carotideCommuneGauche, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.sousClaviereDroite, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.sousClaviereGauche, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.TSAAorte, {'attr': {'class': 'input large'}, 'useStyle': true }) }}
                            </div>

                            <h3 id="membres-inferieur">Schéma membres inférieur</h3>
                            <div class="form-space schema-membres-inferieur">
                                {{ form_row(formEchographieVasculaire.membresInferieurAorte, {'attr': {'class': 'input large'}, 'useStyle': true }) }}
                                {{ form_row(formEchographieVasculaire.iliaqueDroite, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.iliaqueGauche, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.femoraleCommuneDroite, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.femoraleCommuneGauche, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.femoraleSuperficielleDroite, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.femoraleSuperficielleGauche, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.popliteDroite, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.popliteGauche, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.axesJambiersDroits, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formEchographieVasculaire.axesJambiersGauches, {'attr': {'class': 'input'} }) }}
                            </div>

                            <div class="form-space">
                                <div class="flex-nowrap">
                                    {{ form_row(formEchographieVasculaire.IPSReposDroit, {'attr': {'class': 'input'} }) }}
                                    {{ form_row(formEchographieVasculaire.IPSReposGauche, {'attr': {'class': 'input'} }) }}
                                </div>
                                <div class="flex-nowrap">
                                    {{ form_row(formEchographieVasculaire.IPSEffortDroit, {'attr': {'class': 'input'} }) }}
                                    {{ form_row(formEchographieVasculaire.IPSEffortGauche, {'attr': {'class': 'input'} }) }}
                                </div>
                                {{ form_row(formEchographieVasculaire.testStandness, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                <div class="def">* compris entre 0 et 1000, 9999 si non réalisé</div>

                                {{ form_row(formEchographieVasculaire.vitesseOndePouls, {'attr': {'class': 'input'}, 'useStyle': true }) }}

                            </div>

                            {{ form_row(formEchographieVasculaire.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formEchographieVasculaire._token) }}
                            {{ form_end(formEchographieVasculaire, {'render_rest' : false}) }}
                        </div> #}
                    </li>

                    <li class="tab-content" name="medicaments">
                        {#========== Médicaments ==========#}
                        {# <div id="examen-medicaments">
                            {{ form_start(formMedicamentsEntree, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formMedicamentsEntree) }}

                            {% form_theme formMedicamentsEntree 'form-theme.html.twig' %}

                            <h1 id="medicaments">Médicaments</h1>

                            <h3 id="description">Description</h3>
                            <div class="form-space">
                                {{ form_row(formMedicamentsEntree.nombreMedicamentsJour, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                {{ form_row(formMedicamentsEntree.nombrePrisesSemaine, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                {{ form_row(formMedicamentsEntree.pilulier, {'attr': {'class': 'input radio-row'} }) }}
                                {{ form_row(formMedicamentsEntree.gestion, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formMedicamentsEntree.priseDecalee, {'attr': {'class': 'input radio-row'} }) }}
                                {{ form_row(formMedicamentsEntree.geneHeurePrise, {'attr': {'class': 'input radio-row'} }) }}
                                {{ form_row(formMedicamentsEntree.evaluation, {'attr': {'class': 'input radio-row'} }) }}
                                {{ form_row(formMedicamentsEntree.score, {'attr': {'class': 'input'} }) }}
                            </div>

                            <h3 id="complement">Médicaments</h3>
                            <div class="btn-bar">
                                <a href="{{ path('medicament') }}" class="form-btn">
                                    <i aria-hidden="true" class="fa fa-cog"></i>
                                    Gérer la liste des médicaments
                                </a>
                            </div>

                            <div class="margin-space"></div>

                            <div class="form-space">
                                <div class="medicaments__list">
                                    {% for medicament in patient.protocole.medicamentsEntree.medicaments %}
                                        <div data-id='{{ medicament.id }}' class='medicament'>
                                            {{ medicament.name }}
                                            <span class="delete">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-space">
                                <div class="btn-bar">
                                    <select class="js-medicaments-ajax"></select>
                                    <button type="button" class="btn add-medicament" data-collection-holder-class="medicaments">
                                        <i class="fa fa-plus"></i>
                                        Ajouter un médicaments
                                    </button>
                                </div>
                            </div>

                            {{ form_row(formMedicamentsEntree.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formMedicamentsEntree._token) }}
                            {{ form_end(formMedicamentsEntree, {'render_rest' : false}) }}
                        </div> #}
                    </li>

                    <li class="tab-content" name="neuroImagerie">
                        {#========== NeuroImagerie ==========#}
                        {# <div id="examen-neuro-imagerie">
                            {{ form_start(formNeuroImagerie, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formNeuroImagerie) }}

                            {% form_theme formNeuroImagerie 'form-theme.html.twig' %}

                            <h1 id="neuro-imagerie">Neuro-imagerie</h1>
                            <div class="form-space">
                                {{ form_row(formNeuroImagerie.localisation, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formNeuroImagerie.taille, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formNeuroImagerie.mecanisme, {'attr': {'class': 'input'} }) }}
                            </div>

                            {{ form_row(formNeuroImagerie.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formNeuroImagerie._token) }}
                            {{ form_end(formNeuroImagerie, {'render_rest' : false}) }}
                        </div> #}
                    </li>

                    <li class="tab-content" name="neuroPsychologie">
                        {#========== NeuroPsychologie ==========#}
                        {# <div id="examen-neuro-psychologie">
                            {{ form_start(formNeuroPsychologie, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formNeuroPsychologie) }}

                            {% form_theme formNeuroPsychologie 'form-theme.html.twig' %}

                            <h1 id="neuro-psychologie">Neuro-psychologie</h1>
                            <div class="form-space">
                                <div class="flex-nowrap">
                                    {{ form_row(formNeuroPsychologie.MMSE, {'attr': {'class': 'input'} }) }}
                                    {{ form_row(formNeuroPsychologie.MOCA, {'attr': {'class': 'input'} }) }}
                                </div>
                                <div class="flex-nowrap">
                                    {{ form_row(formNeuroPsychologie.HADAnxiete, {'attr': {'class': 'input'} }) }}
                                    {{ form_row(formNeuroPsychologie.HADDepression, {'attr': {'class': 'input'} }) }}
                                </div>
                                {{ form_row(formNeuroPsychologie.barriereLangue, {'attr': {'class': 'input radio-row'} }) }}
                                {{ form_row(formNeuroPsychologie.niveauSocioEducatif, {'attr': {'class': 'input'} }) }}
                                {{ form_row(formNeuroPsychologie.aphasie, {'attr': {'class': 'input radio-row'} }) }}
                                {{ form_row(formNeuroPsychologie.difficultesMouvementFin, {'attr': {'class': 'input radio-row'} }) }}
                                {{ form_row(formNeuroPsychologie.rankin, {'attr': {'class': 'input'} }) }}
                            </div>

                            {{ form_row(formNeuroPsychologie.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formNeuroPsychologie._token) }}
                            {{ form_end(formNeuroPsychologie, {'render_rest' : false}) }}
                        </div> #}
                    </li>

                    <li class="tab-content" name="testsEffort">
                        {#========== Test d'effort ==========#}
                        {# <div id="examen-testsEffort">
                            {{ form_start(formTestEffort, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formTestEffort) }}

                            {% form_theme formTestEffort 'form-theme.html.twig' %}

                            <h1 id="testsEffort">Définition des tests d'effort</h1>
                            <div class="form-space">
                                <div class="flex-nowrap">
                                    {{ form_row(formTestEffort.maquille, {'attr': {'class': 'input radio-row'} }) }}
                                    {{ form_row(formTestEffort.type, {'attr': {'class': 'input radio-row'} }) }}
                                </div>

                                <div class="separator-space"></div>

                                {{ form_row(formTestEffort.duree, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                {{ form_row(formTestEffort.watts, {'attr': {'class': 'input'}, 'useStyle': true }) }}

                                <div class="separator-space"></div>

                                <div class="flex-nowrap">
                                    {{ form_row(formTestEffort.frequenceMax, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                    {{ form_row(formTestEffort.frequenceMaxPercent, {'attr': {'class': 'input'} }) }}
                                </div>
                                <div class="flex-nowrap">
                                    {{ form_row(formTestEffort.TASRepos, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                    {{ form_row(formTestEffort.TASEffort, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                </div>
                                <div class="flex-nowrap">
                                    {{ form_row(formTestEffort.ECGModifie, {'attr': {'class': 'input'} }) }}
                                    {{ form_row(formTestEffort.mesure, {'attr': {'class': 'input'}, 'useStyle': true }) }}
                                </div>
                            </div>

                            {{ form_row(formTestEffort.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formTestEffort._token) }}
                            {{ form_end(formTestEffort, {'render_rest' : false}) }}
                        </div> #}
                    </li>

                    <li class="tab-content" name="visite">
                        {#========== Visite ==========#}
                        {# <div id="examen-visite">
                            {{ form_start(formVisite, {'attr': {'class': 'form validate-form'} }) }}
                            {{ form_errors(formVisite) }}

                            {% form_theme formVisite 'form-theme.html.twig' %}

                            <h1 id="visite">Visite</h1>
                            <div class="form-space">
                                {{ form_row(formVisite.motifs, {'attr': {'class': 'input js-motifs'} }) }}
                            </div>

                            {{ form_row(formVisite.save, {'attr': {'class': 'form-btn'} }) }}

                            {{ form_row(formVisite._token) }}
                            {{ form_end(formVisite, {'render_rest' : false}) }}
                        </div> #}
                    </li>
                </ul>
            </section>

			{#========== SUIVI ==========#}
			<section class="slide" id="tab-suivi">

				<h1 id="suivi">Suivi</h1>

			</section>

            
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}
		</main>

		<div class="cd-top js-cd-top">
			<a href="{{ path('index_patient') }}" class="cd-btn btn-back">
				<i aria-hidden="true" class="fa fa-arrow-left"></i>
			</a>
			<button class="cd-btn btn-delete">
				<i aria-hidden="true" class="fa fa-trash"></i>
			</button>
			<a class="cd-btn btn-top" href="#0">
				<i aria-hidden="true" class="fa fa-chevron-up"></i>
			</a>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script src="{{ asset('js/bootgrid.min.js') }}"></script>

    <script>
        $('.sidebar-navigation ul li').on('click', function () {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>

		$('.btn-save').click(function(event) {
			event.preventDefault();
			$('.btn-save').prop("disabled", true);
			$('.btn-save').text("En cours d'enregistrement...")
			$(this).parents('.form').submit();
		})

        $('.error-list li').each(function() {
            $(this).html($(this).text().replace(/\[(.*?)\]/g, "<b>$1</b>"));
        })

        /* Erreur badges */
        $('.slide').each(function() {
            let count = $(this).find('.error-container').length;
            let id = $(this).attr('id').split('-')[1];
            if (count > 0) $(".toc a[href$='#" + id + "']").append('<span class="badge badge-spe">' + count + '</span>');
        });
        $('h3').each(function() {
            let count = $(this).nextUntil('h3').find('.error-container').length;
            let id = $(this).attr('id');
            if (count > 0) $(".toc a[href$='#" + id + "']").append('<span class="badge badge-spe">' + count + '</span>');
        });

        /* Tab history */
        var url = "{{ path('history_list') }}";

        var grid = $("#data-grid").bootgrid({
            rowCount: [
                20, 50, -1
            ],
            columnSelection: false,
            ajax: true,
            statusMapping: {
                0: "in",
                1: "out"
            },
            requestHandler: function (request) {
                request.patientId = {{ patient.id }};
                return request;
            },
            url: url,
            formatters: {
                "etat": function (column, row) {
                    if (row.etat == 'notice') 
                        return "<div class=\"pastille pastille__notice\"></div>";
                    if (row.etat == 'info') 
                        return "<div class=\"pastille pastille__info\"></div>";
                    if (row.etat == 'error') 
                        return "<div class=\"pastille pastille__error\"></div>";
                },
            }
        }).on('click.rs.jquery.bootgrid', function (e, cols, row, target) {
            if (typeof row != "undefined")
                redirect(row.fieldId);
        }).on("loaded.rs.jquery.bootgrid", function() {
            $('table tr td:nth-child(4)').each(function() {
                $(this).html($(this).text().replace(/\[(.*?)\]/g, "<b class='history-markup'>$1</b>"));
            })
        });;

        function redirect(id) {
            if (id == undefined) 
                return;
    
            let pathArray = window.location.pathname.split("/");
            let url = window.location.protocol + "//" + window.location.host;
            for (let i = 0; i < pathArray.length - 2; i++) 
                url += pathArray[i] + "/";
            window.location.assign(url + {{ patient.id }} + "/history/" + id);
        };

        /* Add error info */
        $('.js-error-button').click(function(event) {
            event.preventDefault();
            let message = $(this).parent().find('.js-error-input').val();
            let patientId = '{{ patient.id }}';
            let fieldId = $(this).parents('.wrap-input').find('.input').attr('id');
            if (message == '') {
                $(this).parent().find('.js-error-input').attr('placeholder', 'Veuillez entrer un message.');
                return
            }
            $.ajax({
                type: "POST",
                url: "{{ path('erreur_add_info') }}",
                data: {
                    'message': message,
                    'patientId': patientId,
                    'fieldId': fieldId,
                },
                success: function(response) {
                    location.reload();
                },
            });
        });

        /* History */
        $('.history').click(function(event) {
            event.preventDefault(); 
            let patientId = "{{ patient.id }}";
            let fieldId = $(this).parents('.wrap-input').find('input, select, textarea').attr('id');
            /* lowercase + add '_' before capital */
            fieldId = fieldId.replace(/([a-z])([A-Z])/g, '$1_$2').trim();
            fieldId = fieldId.toLowerCase();
            if (fieldId.substring(fieldId.length - 2) === "_0") {
                fieldId = fieldId.substring(0, fieldId.length - 2);
            }
            let url = '{{ path("history_list_field", {'patient': 'patientId', 'fieldId': 'fieldId'}) }}'; 
            url = url.replace("patientId", patientId);
            url = url.replace("fieldId", fieldId);
            window.location.href = url;
        });

        /* Date */
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({language: 'fr', clearButton: true});
        });


        /* Fiches */
        let fiches = [];
        $.each({{patient.protocole.fiches|json_encode|raw}}, function (index, fiche) {
            fiches[fiches.length] = fiche;
        });
        $('#add-fiche').click(function() {
            let fiche = $('#protocole_fiches').val()
            if (!fiche) return;
            fiches.push(fiche);
            let text = $('#protocole_fiches').find(":selected").text();
            let t = $(
                `<li name='` + fiche + `' class='etiquette'>
                    ` + text + `
                    <span class="delete">
                        <i class="fa fa-times"></i>
                    </span>
                </li>`
            );
            $('.etiquettes__list').append(t);
            $('.tabbed').append('<li name="' + fiche + '">' + text + '</li>');
            $('.protocole-list').append('<li><a name="' + fiche + '">' + text + '</a></li>');
            $('#protocole_fiches option[value="' + fiche + '"').remove();
            sortList('.etiquettes__list', 'li');
            sortList('.tabbed', 'li');
            sortList('.protocole-list', 'li', 'a');
            sortList('#protocole_fiches', 'option');
            $('#protocole_fiches option').eq(0).prop('selected', true);
            if (fiches.length === 1) selectTab(fiche);

            $.ajax({
                type: "POST",
                url: "{{ path('fiche_add') }}",
                data: {
                    'fiche': fiche,
                    'patientId': {{ patient.id }},
                },
                success: function(response) {},
            });
        })

        $('.etiquettes__list').on('click', '.etiquette .delete', function() {
            let fiche = $(this).parent().attr('name');
            let text = $(this).parent().text();
            const index = fiches.indexOf(fiche);
            if (index > -1) {
                fiches.splice(index, 1);
            }
            $('.etiquette[name="' + fiche + '"]').remove();
            $('.tabbed li[name="' + fiche + '"]').remove();
            $('.protocole-list li a[name="' + fiche + '"]').remove();
            $('#protocole_fiches').append('<option value="' + fiche + '">' + text + '</option>')
            sortList('.etiquettes__list', 'li');
            sortList('.tabbed', 'li');
            sortList('.protocole-list', 'li', 'a');
            sortList('#protocole_fiches', 'option');
            if (fiches.length === 0) clearTab();
            else if (!isTabAvailable(fiche)) {
                let tab = $('.tabbed li').eq(0).attr('name');
                selectTab(tab);
            }

            $.ajax({
                type: "POST",
                url: "{{ path('fiche_delete') }}",
                data: {
                    'fiche': fiche,
                    'patientId': {{ patient.id }},
                },
                success: function(response) {},
            });
        })

        function sortList(list, element, depth = '') {
            $(list + " " + element).sort(function(a, b) {
                if (depth) {
                    return $(a).find(depth).text().trim().toUpperCase().localeCompare($(b).find(depth).text().trim().toUpperCase());
                }
                return $(a).text().trim().toUpperCase().localeCompare($(b).text().trim().toUpperCase());
            }).appendTo(list);
        }
        sortList('.etiquettes__list', 'li');
        sortList('.tabbed', 'li');
        sortList('.protocole-list', 'li', 'a');
        sortList('#protocole_fiches', 'option');
        $('#protocole_fiches option').eq(0).prop('selected', true);

        /* Medicament */
        $('.add-medicament').click(function() {
            let medicament = $('.js-medicaments-ajax').select2('data');
            if (!medicament) return;
            let t = $(
                `<div class='medicament' data-id='` + medicament[0].id + `'>
                    ` + medicament[0].name + `
                    <span class="delete">
                        <i class="fa fa-times"></i>
                    </span>
                </div>`
            );
            if ($('.medicament[data-id="' + medicament[0].id + '"]').length === 0) {
                $('.medicaments__list').append(t);
                sortMedicamentsList();

                $.ajax({
                    type: "POST",
                    url: "{{ path('medicament_entree_add') }}",
                    data: {
                        'medicament': medicament[0].id,
                        'patient': {{ patient.id }},
                    },
                    success: function(response) {},
                });
            }
        })

        $('.medicaments__list').on('click', '.medicament .delete', function() {
            let medicament = $(this).parent().attr('data-id');
            $('.medicament[data-id="' + medicament + '"]').remove();
            sortMedicamentsList();

            $.ajax({
                type: "POST",
                url: "{{ path('medicament_entree_delete') }}",
                data: {
                    'medicament': medicament,
                    'patient': {{ patient.id }},
                },
                success: function(response) {},
            });
        })


        $(".js-medicaments-ajax").select2({
            width: '100%',
            language: "fr",
            ajax: {
                url: "{{ path('medicament_search') }}",
                type: "POST",
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            placeholder: 'Rechercher un médicament',
            minimumInputLength: 1,
            allowClear: true,
            templateResult: formatMed,
            templateSelection: formatMedSelection
        });

        function formatMed(data) {
            if (data.loading) {
                return data.text;
            }

            let $container = $(
                "<div class='select2-result-medicament__name'>" + data.name + "</div>"
            );
            return $container;
        }

        function formatMedSelection(data) {
            return data.name || data.text;
        }

        function sortMedicamentsList() {
            let mylist = $('.medicaments__list');
            let listitems = mylist.children('div').get();

            listitems.sort(function(a, b) {
                return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
            });

            $.each(listitems, function(index, item) {
                mylist.append(item); 
            });
        }
        sortMedicamentsList();

        /* Modifs */
        $(".js-motifs").select2({
            multiple: true,
            width: '100%',
            language: "fr",
            placeholder: 'Sélectionner un motif',
            allowClear: true,
        });


        /* IMC */
        function getIMC(poids, taille) {
            if (poids && taille && taille > 0) {
                let imc = poids / ((taille * 0.01) * (taille * 0.01));
                return imc.toFixed(1);
            }
            return null
        }

        $('#bfr_taille, #bfr_poids').change(function() {
            $('#bfr_IMC').val(getIMC($('#bfr_poids').val(), $('#bfr_taille').val()));
        });
        $('#bfr_IMC').val(getIMC($('#bfr_poids').val(), $('#bfr_taille').val()));
       
    </script>

    <script>
        /* TABBED */
        $('.tabbed').on('click', 'li', function() {
            if (this.classList.contains('active'))
                return;
            selectTab($(this).attr('name'));
        })

        function isTabAvailable(tab) {
            let ret = false;
            $('.tabbed li').each(function() {
                console.log($(this).attr('name'), tab, $(this).attr('name') === tab);
                if ($(this).attr('name') === tab)
                    ret = true;
            })
            return ret;
        }

        let tabSelected = localStorage.getItem('tabSelected');
        console.log(isTabAvailable(tabSelected))
        if (tabSelected === null || !isTabAvailable(tabSelected)) {
            tabSelected = $('.tabbed li').eq(0).attr('name');
        }
        selectTab(tabSelected);

        $('ul.protocole-list').on('click', 'li a', function() {
            let tab = $(this).attr('name')
            selectTab(tab);
            scrollToc('#examen');
        })

        function selectTab(tab) {
            localStorage.setItem('tabSelected', tab);
            $(".tab-content").removeClass('active');
            $(".tabbed li").removeClass('active');
            $(".tab-content[name='" + tab + "']").addClass('active');
            $(".tabbed li[name='" + tab + "']").addClass('active');
        }

        function clearTab() {
            localStorage.setItem('tabSelected', null);
            $(".tab-content").removeClass('active');
            $(".tabbed li").removeClass('active');
        }

        /* TOC */
        /* Smooth scroll */
        function displaySlide(page) {
            $('.slide').each(function(i, e) {
                let id = 'tab-' + page.substring(1);
                $(this).hide();
                $(this).removeClass('slide-active');
                if ($(this).attr('id') == id) {
                    $(this).show();
                    $(this).addClass('slide-active');
                }
            })
        }

        $('.toc > ul > li > a').on('click', function () {
            displaySlide($(this).attr('href'));
            window.location.hash = $(this).attr("href");
            return false;
        });

        function scrollToc(page) {
            let speed = 550;
            if (!$(page).offset()) return;
            $('html, body').animate({
                scrollTop: $(page).offset().top - 30
            }, speed);
        }

        $('.toc li a').on('click', function () {
            scrollToc($(this).attr('href'));
        });

        //onLoad
        var hash = window.location.hash.substr(0);
        $('.toc > ul > li > a').each(function (i) {
            page = $(this).attr('href');
            if (hash == page) {
                $(this).toggleClass('js-active active');
                toggleMenu($(this));
                displaySlide(page);
                scrollToc(page);
            }
        });

        $(".toc > ul > li > a").click(function () {
            if (!$(this).hasClass('js-active')) {
                $('.toc > ul > li > a').each(function (i) {
                    if ($(this).hasClass('js-active')) 
                        toggleMenu($(this));
                    $(this).removeClass('js-active active');
                });
            }
            if (!reduce) {
                $(this).toggleClass('js-active active');
                toggleMenu($(this));
            } else {
                $(this).toggleClass('active');
            }
        });

        function toggleMenu(e) {
            $(e).find(".right").toggleClass("fa-caret-up fa-caret-down");
            $(e).parent(".sub-menu").children("ul").slideToggle("100");
        }

        $(window).scroll(function() {
            onScroll();
        });

        function onScroll() {
            let offset = $('.hero-tabs').offset().top + $('.hero-tabs').height() + 25;
            if ($(window).scrollTop() > offset) {
                $('.hero-tabs-container').addClass('hero-tabs-container--top');
                $('.toc').addClass('toc--top');
            } else {
                $('.hero-tabs-container').removeClass('hero-tabs-container--top');
                $('.toc').removeClass('toc--top');
            }
        }

        /* Reduce menu */
        let reduce = localStorage.getItem('reduceMenu') === "true";
        if (reduce) reduceMenu()
        $('#js-reducemenu').click(function() {
            localStorage.setItem('reduceMenu', !reduce);    
            reduce = !reduce;
            reduceMenu();        
        })

        function reduceMenu() {
            $('.main').toggleClass("reduce");
            $('#js-reducemenu .fas').toggleClass("fa-arrow-left fa-arrow-right");

            $('.toc > ul > li > a').each(function(i) {
                if ($(this).hasClass('js-active')) 
                    toggleMenu($(this));
                $(this).removeClass('js-active');
            });
        }

        $("textarea").keyup(function(e) {
            while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
                $(this).height($(this).height() + 1);
            };
        });

        /* On key "ENTER" pressed */
        $(document).keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13' && !$("textarea").is(":focus")) {
                event.preventDefault();
                $(this).find('.slide-active form').submit();
            }
        });
    </script>

{% endblock %}
