{% extends 'layout.html.twig' %}

{% block title %}
	Patient
    {{ patient.general.prenom }} {{ patient.general.nom }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootgrid.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}

	<div class="container-form">
		<!-- Hero -->
		<section id="tab-profile" class="hero-tabs">
			<div class="hero-header">
				<div class="hero-title">
					<h1 id="profile">
                        PATIENT 
                        <span>{{ patient.general.prenom }} {{ patient.general.nom }}</span>
                    </h1>
				</div>

				<div class="btn-block">
					<a href="{{ path('index_patient') }}" class="form-btn btn-default">
						<i aria-hidden="true" class="fa fa-arrow-left"></i>Retour</a>
                    <a href="{{ path('patient_letter', {id: patient.id}) }}" class="form-btn">
						<i aria-hidden="true" class="fa fa-envelope"></i>Lettre</a>
					{{ include('patient/_delete_form.html.twig') }}
				</div>
			</div>

		</section>

		<!-- Main -->
		<main class="main">

			<!-- Toc -->
			<nav class='toc animated bounceInDown'>
				<ul>
					<li>
						<a href='#history'>
							<div class="menu-title">
								<i class='fa fa-user'></i>
								<div>Patient</div>
                            </div>
						</a>
					</li>
					<li class='sub-menu'>
						<a href='#general'>
							<div class="menu-title">
								<i class='fa fa-stethoscope'></i>
								<div>Informations générales</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#identification'>Identification</a></li>
                            <li><a href='#complement'>Complément</a></li>
						</ul>
					</li>
                    <li>
						<a href='#antecedentCardiovasculaire'>
							<div class="menu-title">
								<i class='fa fa-file-medical-alt'></i>
								<div>Antécédent cardiovasculaire</div>
                            </div>
						</a>
					</li>
                    <li class='sub-menu'>
						<a href='#information'>
							<div class="menu-title">
								<i class='fa fa-notes-medical'></i>
								<div>Information sur l'événement cardiovasculaire</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#infarctusMyocarde'>Infarctus du myocarde</a></li>
                            <li><a href='#accidentVasculaireCerebral'>Accident vasculaire cérébral</a></li>
						</ul>
					</li>
					<li>
						<a href='#facteur'>
							<div class="menu-title">
								<i class='fa fa-heartbeat'></i>
								<div>Facteurs de risques initiaux</div>
                            </div>
						</a>
					</li>
					<li class='sub-menu'>
						<a href='#examen'>
							<div class="menu-title">
								<i class='fa fa-procedures'></i>
								<div>Examens paracliniques</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul class="protocole-list">
                            {% for fiche in patient.protocole.fiches %}
                                {% if fiche == 'angioplastiePontage' %}<li><a name='angioplastiePontage'>Angioplastie et pontage</a></li>
                                {% elseif fiche == 'bfr' %}<li><a name='bfr'>Bilan biologique et risque</a></li>
                                {% elseif fiche == 'catheterisation' %}<li><a name='catheterisation'>Cathétérisation</a></li>
                                {% elseif fiche == 'coronaireAngioplastie' %}<li><a name="coronaireAngioplastie">Coronaire et angioplastie</a></li>
                                {% elseif fiche == 'echographie' %}<li><a name="echographie">Échographie</a></li>
                                {% elseif fiche == 'echographieCardiaque' %}<li><a name='echographieCardiaque'>Échographie cardiaque</a></li>
                                {% elseif fiche == 'echographieVasculaire' %}<li><a name='echographieVasculaire'>Échographie vasculaire</a></li>
                                {% elseif fiche == 'medicaments' %}<li><a name='medicaments'>Médicaments</a></li>
                                {% elseif fiche == 'neuroPsychologie' %}<li><a name='neuroPsychologie'>Neuro-psychologie</a></li>
                                {% elseif fiche == 'scintigraphie' %}<li><a name="scintigraphie">Scintigraphie</a></li>
                                {% elseif fiche == 'testsEffort' %}<li><a name='testsEffort'>Test d'effort</a></li>
                                {% elseif fiche == 'visite' %}<li><a name='visite'>Visite</a></li>
                                {% endif %}
                            {% endfor %}
						</ul>
					</li>
					<li>
						<a href='#suivi'>
							<div class="menu-title">
								<i class="fa fa-clinic-medical"></i>
								<div>Suivi</div>
                            </div>
						</a>
					</li>
                    <li>
                        <button id="js-reducemenu"><i class="fas fa-arrow-left"></i></button>
                    </li>
				</ul>
			</nav>

            <section class="slide" id="tab-history" style="display: block;">
                <h1 id="history">Historique</h1>
    
                <div class="flex">
                    <div class="table-wrapper">
                        <table cellspacing="0" class="table table-condensed table-hover table-striped" id="data-grid">
                            <thead>
                                <tr>
                                    <th data-column-id="id" data-identifier="true" data-searchable="false" data-type="numeric" data-visible="false">Id</th>
                                    <th data-column-id="fieldId" data-searchable="false" data-visible="false">Id</th>
                                    <th data-column-id="etat" data-width="10%" data-formatter="etat" data-searchable="false">Etat</th>
                                    <th data-column-id="date" data-width="20%">Date</th>
                                    <th data-column-id="utilisateur" data-width="20%">Utilisateur</th>
                                    <th data-column-id="message" data-width="50%">Message</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>

            {{ form_start(form, {'attr': {'class': 'form validate-form'} }) }}
            {{ form_errors(form) }}

            {% form_theme form 'form-theme.html.twig' %}

            {# {{ dump(form) }} #}

			{#========== GENERAL ==========#}
			<section class="slide" id="tab-general">
                {% include 'patient/form/general.html.twig' with form %}
			</section>


			{#========== ANTECEDENT CARDIOVASCULAIRE ==========#}
			<section class="slide" id="tab-antecedentCardiovasculaire">
                {% include 'patient/form/antecedent_cardiovasculaire.html.twig' with form %}
            </section>

            {#========== INFORMATION ==========#}
            <section class="slide" id="tab-information">
			    {% include 'patient/form/information.html.twig' with form %}
            </section>


			{#========== FACTEUR ==========#}
			<section class="slide" id="tab-facteur">
                {% include 'patient/form/facteur.html.twig' with form %}
            </section>

            {#========== EXAMEN ==========#}
            <section class="slide" id="tab-examen">
                <div class="form-space">
                    <h3>Fiches d'examen déjà existantes</h3>
                    <ul class="etiquettes__list">
                        {% for fiche in patient.protocole.fiches %}
                            <li name={{ fiche }} class='etiquette'>
                                {% if fiche == 'angioplastiePontage' %}Angioplastie et pontage
                                {% elseif fiche == 'bfr' %}Bilan biologique et risque
                                {% elseif fiche == 'catheterisation' %}Cathétérisation
                                {% elseif fiche == 'coronaireAngioplastie' %}Coronaire et angioplastie
                                {% elseif fiche == 'echographie' %}Échographie
                                {% elseif fiche == 'echographieCardiaque' %}Échographie cardiaque
                                {% elseif fiche == 'echographieVasculaire' %}Échographie vasculaire
                                {% elseif fiche == 'medicaments' %}Médicaments
                                {% elseif fiche == 'neuroPsychologie' %}Neuro-psychologie
                                {% elseif fiche == 'scintigraphie' %}Scintigraphie
                                {% elseif fiche == 'testsEffort' %}Test d'effort
                                {% elseif fiche == 'visite' %}Visite
                                {% else %} {{ fiche }}
                                {% endif %}
                                <span class="delete">
                                    <i class="fa fa-times"></i>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="wrap-input">
                    <h3>Ajouter une fiche d'examen</h3>
                    <label for="protocole">
                        <span></span>
                        <em>Fiches</em>
                    </label>
                
                    <div class="flex">
                        <select id="protocole_fiches" name="protocole[fiches]" class="input">
                            <option value=""></option>
                            {% if "angioplastiePontage" not in patient.protocole.fiches %}<option value="angioplastiePontage">Angioplastie et pontage</option>{% endif %}
                            {% if "bfr" not in patient.protocole.fiches %}<option value="bfr">Bilan biologique et risque</option>{% endif %}
                            {% if "catheterisation" not in patient.protocole.fiches %}<option value="catheterisation">Cathétérisation</option>{% endif %}
                            {% if "coronaireAngioplastie" not in patient.protocole.fiches %}<option value="coronaireAngioplastie">Coronaire et angioplastie</option>{% endif %}
                            {% if "echographie" not in patient.protocole.fiches %}<option value="echographie">Échographie</option>{% endif %}
                            {% if "echographieCardiaque" not in patient.protocole.fiches %}<option value="echographieCardiaque">Échographie cardiaque</option>{% endif %}
                            {% if "echographieVasculaire" not in patient.protocole.fiches %}<option value="echographieVasculaire">Échographie vasculaire</option>{% endif %}
                            {% if "medicaments" not in patient.protocole.fiches %}<option value="medicaments">Médicaments</option>{% endif %}
                            {% if "neuroPsychologie" not in patient.protocole.fiches %}<option value="neuroPsychologie">Neuro-psychologie</option>{% endif %}
                            {% if "scintigraphie" not in patient.protocole.fiches %}<option value="scintigraphie">Scintigraphie</option>{% endif %}
                            {% if "testsEffort" not in patient.protocole.fiches %}<option value="testsEffort">Définition des tests d'effort</option>{% endif %}
                            {% if "visite" not in patient.protocole.fiches %}<option value="visite">Visite</option>{% endif %}
                        </select>
                        <span class="focus-input"></span>
                    </div>
                </div>
                <button type="button" class="form-btn" id="add-fiche"><i aria-hidden="true" class="fa fa-plus"></i>Ajouter une fiche</button>
                <div class="margin-space"></div>

                <h1 id="examens">Examens paracliniques</h1>

                <ul class="tabbed tabbed__fiches">
                    {% for fiche in patient.protocole.fiches %}
                        {% if fiche == 'angioplastiePontage' %}<li name="angioplastiePontage">Angioplastie et pontage</li>
                        {% elseif fiche == 'bfr' %}<li name="bfr">Bilan biologique et risque</li>
                        {% elseif fiche == 'catheterisation' %}<li name="catheterisation">Cathétérisation</li>
                        {% elseif fiche == 'coronaireAngioplastie' %}<li name="coronaireAngioplastie">Coronaire et angioplastie</li>
                        {% elseif fiche == 'echographie' %}<li name="echographie">Échographie</li>
                        {% elseif fiche == 'echographieCardiaque' %}<li name="echographieCardiaque">Échographie cardiaque</li>
                        {% elseif fiche == 'echographieVasculaire' %}<li name="echographieVasculaire">Échographie vasculaire</li>
                        {% elseif fiche == 'medicaments' %}<li name="medicaments">Médicaments</li>
                        {% elseif fiche == 'neuroPsychologie' %}<li name="neuroPsychologie">Neuro-psychologie</li>
                        {% elseif fiche == 'scintigraphie' %}<li name="scintigraphie">Scintigraphie</li>
                        {% elseif fiche == 'testsEffort' %}<li name="testsEffort">Test d'effort</li>
                        {% elseif fiche == 'visite' %}<li name="visite">Visite</li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <ul class="tab-list">
					<li class="tab-content" name="angioplastiePontage">
                        {#========== Angioplastie et pontage ==========#}
                        <div id="examen-angioplastiePontage">
                            {% include 'patient/form/examens/angioplastie_pontage.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="bfr">
                        {#========== Bilan biologique et risque (BRF) ==========#}
                        <div id="examen-bfr">
                            {% include 'patient/form/examens/bilan_biologique_risque.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="catheterisation">
                        {#========== Catheterisation ==========#}
                        <div id="examen-catheterisation">
                            {% include 'patient/form/examens/catheterisation.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="coronaireAngioplastie">
                        {#========== Coronaire & Angioplastie ==========#}
                        <div id="examen-coronaireAngioplastie">
                            {% include 'patient/form/examens/coronaire_angioplastie.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="echographie">
                        {#========== Échographie ==========#}
                        <div id="examen-echographie">
                            {% include 'patient/form/examens/echographie.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="echographieCardiaque">
                        {#========== Échographie cardiaque ==========#}
                        <div id="examen-echographieCardiaque">
                            {% include 'patient/form/examens/echographie_cardiaque.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="echographieVasculaire">
                        {#========== Échographie vasculaire ==========#}
                        <div id="examen-echographieVasculaire">
                            {% include 'patient/form/examens/echographie_vasculaire.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="medicaments">
                        {#========== Médicaments ==========#}
                        <div id="examen-medicaments">
                            {% include 'patient/form/examens/medicament.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="neuroPsychologie">
                        {#========== NeuroPsychologie ==========#}
                        <div id="examen-neuroPsychologie">
                            {% include 'patient/form/examens/neuro_psychologie.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="scintigraphie">
                        {#========== Scintigraphie ==========#}
                        <div id="examen-scintigraphie">
                            {% include 'patient/form/examens/scintigraphie.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="testsEffort">
                        {#========== Test d'effort ==========#}
                        <div id="examen-testsEffort">
                            {% include 'patient/form/examens/tests_effort.html.twig' with form %}
                        </div>
                    </li>

                    <li class="tab-content" name="visite">
                        {#========== Visite ==========#}
                        <div id="examen-visite">
                            {% include 'patient/form/examens/visite.html.twig' with form %}
                        </div>
                    </li>
                </ul>
            </section>

			{#========== SUIVI ==========#}
			<section class="slide" id="tab-suivi">
				<h1 id="suivi">Liste des suivis</h1>
                <ul class="tabbed tabbed__suivis">
                    {% for suivi in patient.suivis %}
                        <li {%if loop.last %}class="active"{% endif %} name={{"suivi-" ~ loop.index }}>Suivi {{ loop.index }}</li>
                    {% endfor %}
                    <li class="suivi-add"><i class="fas fa-plus"></i>Ajouter un suivi</li>
                </ul>

                <ul class="tab-list">
                    {% for suivi in form.suivis %}
                        <li class="tab-content {%if loop.last %}active{% endif %}" name={{"suivi-" ~ loop.index }}>
                            {% include 'patient/form/suivi.html.twig' with {'suivi': suivi, 'index': loop.index} %}
                        </li>
                    {% endfor %}

                </ul>
			</section>

            
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}
		</main>

		<div class="cd-top js-cd-top">
			<a href="{{ path('index_patient') }}" class="cd-btn btn-back">
				<i aria-hidden="true" class="fa fa-arrow-left"></i>
			</a>
			<button class="cd-btn btn-delete">
				<i aria-hidden="true" class="fa fa-trash"></i>
			</button>
			<a class="cd-btn btn-top" href="#0">
				<i aria-hidden="true" class="fa fa-chevron-up"></i>
			</a>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script src="{{ asset('js/bootgrid.min.js') }}"></script>

    <script>
        $('.sidebar-navigation ul li').on('click', function () {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>

		$('.btn-save').click(function(event) {
			event.preventDefault();
			$('.btn-save').prop("disabled", true);
			$('.btn-save').text("En cours d'enregistrement...")
			$(this).parents('.form').submit();
		})

        $('.error-list li').each(function() {
            $(this).html($(this).text().replace(/\[(.*?)\]/g, "<b>$1</b>"));
        })

        /* Erreur badges */
        $('.slide').each(function() {
            let count = $(this).find('.error-container').length;
            let id = $(this).attr('id').split('-')[1];
            if (count > 0) $(".toc a[href$='#" + id + "']").append('<span class="badge badge-spe">' + count + '</span>');
        });
        $('h3').each(function() {
            let count = $(this).nextUntil('h3').find('.error-container').length;
            let id = $(this).attr('id');
            if (count > 0) $(".toc a[href$='#" + id + "']").append('<span class="badge badge-spe">' + count + '</span>');
        });

        /* Tab history */
        var url = "{{ path('history_list') }}";

        var grid = $("#data-grid").bootgrid({
            rowCount: [
                20, 50, -1
            ],
            columnSelection: false,
            ajax: true,
            statusMapping: {
                0: "in",
                1: "out"
            },
            requestHandler: function (request) {
                request.patientId = {{ patient.id }};
                return request;
            },
            url: url,
            formatters: {
                "etat": function (column, row) {
                    if (row.etat == 'notice') 
                        return "<div class=\"pastille pastille__notice\"></div>";
                    if (row.etat == 'info') 
                        return "<div class=\"pastille pastille__info\"></div>";
                    if (row.etat == 'error') 
                        return "<div class=\"pastille pastille__error\"></div>";
                },
            }
        }).on('click.rs.jquery.bootgrid', function (e, cols, row, target) {
            if (typeof row != "undefined")
                redirect(row.fieldId);
        }).on("loaded.rs.jquery.bootgrid", function() {
            $('.table tr td:nth-child(4)').each(function() {
                $(this).html($(this).text().replace(/\[(.*?)\]/g, "<b class='history-markup'>$1</b>"));
            })
        });;

        function redirect(id) {
            if (id == undefined) 
                return;
    
            let pathArray = window.location.pathname.split("/");
            let url = window.location.protocol + "//" + window.location.host;
            for (let i = 0; i < pathArray.length - 2; i++) 
                url += pathArray[i] + "/";
            window.location.assign(url + {{ patient.id }} + "/history/" + id);
        };

        /* Add error info */
        $('.js-error-button').click(function(event) {
            event.preventDefault();
            let message = $(this).parent().find('.js-error-input').val();
            let patientId = '{{ patient.id }}';
            let fieldId = $(this).parents('.wrap-input').find('.input').attr('id');
            if (message == '') {
                $(this).parent().find('.js-error-input').attr('placeholder', 'Veuillez entrer un message.');
                return
            }
            $.ajax({
                type: "POST",
                url: "{{ path('erreur_add_info') }}",
                data: {
                    'message': message,
                    'patientId': patientId,
                    'fieldId': fieldId,
                },
                success: function(response) {
                    location.reload();
                },
            });
        });

        /*
        * HISTORY
        **********************************************************************/
        $('.history').click(function(event) {
            event.preventDefault(); 
            let patientId = "{{ patient.id }}";
            let fieldId = $(this).parent().find('input, select, textarea').attr('id');
            /* lowercase + add '_' before capital */
            fieldId = fieldId.replace(/([a-z])([A-Z])/g, '$1_$2').trim();
            fieldId = fieldId.toLowerCase();
            if (fieldId.substring(fieldId.length - 2) === "_0") {
                fieldId = fieldId.substring(0, fieldId.length - 2);
            }
            let url = '{{ path("history_list_field", {'patient': 'patientId', 'fieldId': 'fieldId'}) }}'; 
            url = url.replace("patientId", patientId);
            url = url.replace("fieldId", fieldId);
            window.location.href = url;
        });

        /* Date */
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({language: 'fr', clearButton: true});
        });


        /*
        * ALIMENTATION
        **********************************************************************/
        function alimentation(nb, item) {
            ali = item.parents('.wrap-input').next();
            ali.empty();
            if (nb >= 4)
                ali.append('<span class="green">Recommandée (4-5)</span');
            else if (nb >= 2)
                ali.append('<span class="orange">Intermédiaire (2-3)</span');
            else
                ali.append('<span class="red">Faible (0-1)</span');
        }

        $('.alimentation-js').each(function() {
            alimentation($(this).find('input:checked').length, $(this));
        })
        $('.alimentation-js input').on('change', function () {
            alimentation($(this).parents('.alimentation-js').find('input:checked').length, $(this).parents('.alimentation-js'));
        });

        /*
        * FICHES
        **********************************************************************/
        let fiches = [];
        $.each({{patient.protocole.fiches|json_encode|raw}}, function (index, fiche) {
            fiches[fiches.length] = fiche;
        });

        $('#add-fiche').click(function() {
            let fiche = $('#protocole_fiches').val()
            if (!fiche) return;
            fiches.push(fiche);
            let text = $('#protocole_fiches').find(":selected").text();
            let t = $(
                `<li name='` + fiche + `' class='etiquette'>
                    ` + text + `
                    <span class="delete">
                        <i class="fa fa-times"></i>
                    </span>
                </li>`
            );
            $('.etiquettes__list').append(t);
            $('.tabbed__fiches').append('<li name="' + fiche + '">' + text + '</li>');
            $('.protocole-list').append('<li><a name="' + fiche + '">' + text + '</a></li>');
            $('#protocole_fiches option[value="' + fiche + '"').remove();
            sortList('.etiquettes__list', 'li');
            sortList('.tabbed__fiches', 'li');
            sortList('.protocole-list', 'li', 'a');
            sortList('#protocole_fiches', 'option');
            $('#protocole_fiches option').eq(0).prop('selected', true);
            if (fiches.length === 1) selectTab(fiche);

            $.ajax({
                type: "POST",
                url: "{{ path('fiche_add') }}",
                data: {
                    'fiche': fiche,
                    'patientId': {{ patient.id }},
                },
                success: function(response) {},
            });
        })

        $('.etiquettes__list').on('click', '.etiquette .delete', function() {
            let fiche = $(this).parent().attr('name');
            let text = $(this).parent().text();
            const index = fiches.indexOf(fiche);
            if (index > -1) {
                fiches.splice(index, 1);
            }
            $('.etiquette[name="' + fiche + '"]').remove();
            $('.tabbed__fiches li[name="' + fiche + '"]').remove();
            $('.protocole-list li a[name="' + fiche + '"]').remove();
            $('#protocole_fiches').append('<option value="' + fiche + '">' + text + '</option>')
            sortList('.etiquettes__list', 'li');
            sortList('.tabbed__fiches', 'li');
            sortList('.protocole-list', 'li', 'a');
            sortList('#protocole_fiches', 'option');
            if (fiches.length === 0) clearTab();
            else if (!isTabAvailable(fiche)) {
                let tab = $('.tabbed__fiches li').eq(0).attr('name');
                selectTab(tab);
            }

            $.ajax({
                type: "POST",
                url: "{{ path('fiche_delete') }}",
                data: {
                    'fiche': fiche,
                    'patientId': {{ patient.id }},
                },
                success: function(response) {},
            });
        })

        function sortList(list, element, depth = '') {
            $(list + " " + element).sort(function(a, b) {
                if (depth) {
                    return $(a).find(depth).text().trim().toUpperCase().localeCompare($(b).find(depth).text().trim().toUpperCase());
                }
                return $(a).text().trim().toUpperCase().localeCompare($(b).text().trim().toUpperCase());
            }).appendTo(list);
        }
        sortList('.etiquettes__list', 'li');
        sortList('.tabbed__fiches', 'li');
        sortList('.protocole-list', 'li', 'a');
        sortList('#protocole_fiches', 'option');
        $('#protocole_fiches option').eq(0).prop('selected', true);

        /*
        * MEDICAMENT
        **********************************************************************/
        $('.medicament-add').click(function() {
            let medicament = $('.js-medicaments-ajax').select2('data');
            if (!medicament || !medicament[0]) return;
            let t = $(
                `<div class='medicament' data-id='` + medicament[0].id + `'>
                    ` + medicament[0].name + `
                    <span class="delete">
                        <i class="fa fa-times"></i>
                    </span>
                </div>`
            );
            if ($('.medicament[data-id="' + medicament[0].id + '"]').length === 0) {
                $('.medicaments__list').append(t);
                sortMedicamentsList();

                $.ajax({
                    type: "POST",
                    url: "{{ path('medicament_entree_add') }}",
                    data: {
                        'medicamentId': medicament[0].id,
                        'patientId': {{ patient.id }},
                    },
                    success: function(response) {},
                });
            }
        })

        $('.medicaments__list').on('click', '.medicament .delete', function() {
            let medicamentId = $(this).parent().attr('data-id');
            $('.medicament[data-id="' + medicamentId + '"]').remove();
            sortMedicamentsList();

            $.ajax({
                type: "POST",
                url: "{{ path('medicament_entree_delete') }}",
                data: {
                    'medicamentId': medicamentId,
                    'patientId': {{ patient.id }},
                },
                success: function(response) {},
            });
        })


        $(".js-medicaments-ajax").select2({
            width: '100%',
            language: "fr",
            ajax: {
                url: "{{ path('medicament_search') }}",
                type: "POST",
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            placeholder: 'Rechercher un médicament',
            minimumInputLength: 1,
            allowClear: true,
            templateResult: formatMed,
            templateSelection: formatMedSelection
        });

        $(document).on("select2:open", () => {
            document.querySelector(".select2-container--open .select2-search__field").focus()
        })

        function formatMed(data) {
            if (data.loading) {
                return data.text;
            }

            let $container = $(
                "<div class='select2-result-medicament__name'>" + data.name + "</div>"
            );
            return $container;
        }

        function formatMedSelection(data) {
            return data.name || data.text;
        }

        function sortMedicamentsList() {
            let mylist = $('.medicaments__list');
            let listitems = mylist.children('div').get();

            listitems.sort(function(a, b) {
                return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
            });

            $.each(listitems, function(index, item) {
                mylist.append(item); 
            });
        }
        sortMedicamentsList();


        /*
        * SUIVI
        **********************************************************************/
       $(".suivi-add").on('click', function() {
            $.ajax({
                type: "POST",
                url: "{{ path('patient_suivi_add') }}",
                data: {
                    'patientId': {{ patient.id }},
                },
                success: function(response) {
                    location.reload();
                },
            });
       })

        $(".suivi-delete").on('click', function() {
            let suiviId = $(this).attr('data-suivi-id');
            $.ajax({
                type: "POST",
                url: "{{ path('patient_suivi_delete') }}",
                data: {
                    'patientId': {{ patient.id }},
                    'suiviId': suiviId
                },
                success: function(response) {
                    $('.tab-list .tab-content[name="suivi-' + suiviId + '"]').remove();
                    $('.tabbed li[name="suivi-' + suiviId + '"]').remove();
                },
            });
       })


        /*
        * Motifs
        **********************************************************************/
        $(".js-motifs").select2({
            multiple: true,
            width: '100%',
            language: "fr",
            placeholder: 'Sélectionner un motif',
            allowClear: true,
        });


        /* 
        * IMC
        **********************************************************************/
        function getIMC(poids, taille) {
            if (poids && taille && taille > 0) {
                let imc = poids / ((taille * 0.01) * (taille * 0.01));
                return imc.toFixed(1);
            }
            return null
        }

        $('#bfr_taille, #bfr_poids').change(function() {
            $('#bfr_IMC').val(getIMC($('#bfr_poids').val(), $('#bfr_taille').val()));
        });
        $('#bfr_IMC').val(getIMC($('#bfr_poids').val(), $('#bfr_taille').val()));
       
    </script>

    <script>
        /* TABBED */
        $('.tabbed__fiches, .tabbed__suivis').on('click', 'li', function() {
            if (this.classList.contains('active'))
                return;
            selectTab(this);
        })

        function isTabAvailable(tab) {
            let ret = false;
            $('.tabbed__fiches li').each(function() {
                if ($(this).attr('name') === tab)
                    ret = true;
            })
            return ret;
        }

        let tabNameSelected = localStorage.getItem('tabSelected');
        let tabSelected = $('.tabbed__fiches li').eq(0);
        if (tabNameSelected != null && isTabAvailable(tabNameSelected)) {
            tabSelected = $(".tabbed__fiches li[name='" + tabNameSelected + "']")
        }
        selectTab(tabSelected);

        $('ul.protocole-list').on('click', 'li a', function() {
            let tab = $(this).attr('name');
            selectTab($(".tabbed__fiches li[name='" + tab + "']"));
            scrollToc('#examen-' + tab);
        })

        function selectTab(obj) {
            let tab = $(obj).attr('name');
            localStorage.setItem('tabSelected', tab);
            $(obj).parents("ul").next(".tab-list").find(".tab-content").removeClass('active');
            $(obj).parents("ul").find("li").removeClass('active');
            $("li[name='" + tab + "']").addClass('active');
        }

        function clearTab() {
            localStorage.setItem('tabSelected', null);
            $(".tab-content").removeClass('active');
            $(".tabbed__fiches li").removeClass('active');
        }

        /* TOC */
        /* Smooth scroll */
        function displaySlide(page) {
            $('.slide').each(function(i, e) {
                let id = 'tab-' + page.substring(1);
                $(this).hide();
                $(this).removeClass('slide-active');
                if ($(this).attr('id') == id) {
                    $(this).show();
                    $(this).addClass('slide-active');
                }
            })
        }

        $('.toc > ul > li > a').on('click', function () {
            displaySlide($(this).attr('href'));
            window.location.hash = $(this).attr("href");
            return false;
        });

        function scrollToc(page) {
            let speed = 550;
            if (!$(page).offset()) return;
            $('html, body').animate({
                scrollTop: $(page).offset().top - 30
            }, speed);
        }

        $('.toc li a').on('click', function () {
            scrollToc($(this).attr('href'));
        });

        //onLoad
        var hash = window.location.hash.substr(0);
        $('.toc > ul > li > a').each(function (i) {
            page = $(this).attr('href');
            if (hash == page) {
                $(this).toggleClass('js-active active');
                toggleMenu($(this));
                displaySlide(page);
                scrollToc(page);
            }
        });

        $(".toc > ul > li > a").click(function () {
            if (!$(this).hasClass('js-active')) {
                $('.toc > ul > li > a').each(function (i) {
                    if ($(this).hasClass('js-active')) 
                        toggleMenu($(this));
                    $(this).removeClass('js-active active');
                });
            }
            if (!reduce) {
                $(this).toggleClass('js-active active');
                toggleMenu($(this));
            } else {
                $(this).toggleClass('active');
            }
        });

        function toggleMenu(e) {
            $(e).find(".right").toggleClass("fa-caret-up fa-caret-down");
            $(e).parent(".sub-menu").children("ul").slideToggle("100");
        }

        $(function() {
            $(window).on('scroll', function () { 
                onScroll();
            });
        });

        function onScroll() {
            let offset = $('.hero-tabs').offset().top + $('.hero-tabs').height() + 25;
            if ($(window).scrollTop() > offset) {
                $('.hero-tabs-container').addClass('hero-tabs-container--top');
                $('.toc').addClass('toc--top');
            } else {
                $('.hero-tabs-container').removeClass('hero-tabs-container--top');
                $('.toc').removeClass('toc--top');
            }
        }

        /* Reduce menu */
        let reduce = localStorage.getItem('reduceMenu') === "true";
        if (reduce) reduceMenu()
        $('#js-reducemenu').click(function() {
            localStorage.setItem('reduceMenu', !reduce);    
            reduce = !reduce;
            reduceMenu();        
        })

        function reduceMenu() {
            $('.main').toggleClass("reduce");
            $('#js-reducemenu .fas').toggleClass("fa-arrow-left fa-arrow-right");

            $('.toc > ul > li > a').each(function(i) {
                if ($(this).hasClass('js-active')) 
                    toggleMenu($(this));
                $(this).removeClass('js-active');
            });
        }

        $("textarea").keyup(function(e) {
            while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
                $(this).height($(this).height() + 1);
            };
        });

        /* On key "ENTER" pressed */
        $(document).keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13' && !$("textarea").is(":focus")) {
                event.preventDefault();
                $(this).find('.slide-active form').submit();
            }
        });
    </script>

{% endblock %}
