{% extends 'layout.html.twig' %}

{% block title %}
	Patient
    {{ patient.general.prenom }} {{ patient.general.nom }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootgrid.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}

	<div class="container-form">
		<!-- Hero -->
		<section id="tab-profile" class="hero-tabs">
			<div class="hero-header">
                <div class="hero-title">
                    <h1 class="profile">
                        <div>PATIENT&nbsp;</div>
                        <div class="profile__name">{{ patient.general.prenom }} {{ patient.general.nom }}</div>
                    </h1>
                </div>

				<div class="btn-block">
					<a href="{{ path('index_patient') }}" class="form-btn btn-default">
						<i aria-hidden="true" class="fa fa-arrow-left"></i>Retour</a>
                    <a href="{{ path('patient_letter_static', {id: patient.id}) }}" class="form-btn">
						<i aria-hidden="true" class="fa fa-envelope"></i>Lettre</a>
					{{ include('patient/_delete_form.html.twig') }}
				</div>
			</div>

		</section>

		<!-- Main -->
		<main class="main">

			<!-- Toc -->
			<nav class='toc animated bounceInDown'>
				<ul>
					<li>
						<a href='#history'>
							<div class="menu-title">
								<i class='fa fa-user'></i>
								<div>Patient</div>
                            </div>
						</a>
					</li>
					<li class="sub-menu">
						<a href='#general'>
							<div class="menu-title">
								<i class='fa fa-stethoscope'></i>
								<div>Informations générales</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#identification'>Identification</a></li>
                            <li><a href='#complement'>Complément</a></li>
						</ul>
					</li>
                    <li>
						<a href='#antecedentCardiovasculaire'>
							<div class="menu-title">
								<i class='fa fa-file-medical-alt'></i>
								<div>Antécédent cardiovasculaire</div>
                            </div>
						</a>
					</li>
                    <li class="sub-menu">
						<a href='#information'>
							<div class="menu-title">
								<i class='fa fa-notes-medical'></i>
								<div>Information sur l'événement cardiovasculaire</div>
                            </div>
							<i class='fa fa-caret-down right'></i>
						</a>
						<ul>
							<li><a href='#infarctusMyocarde'>Infarctus du myocarde</a></li>
                            <li><a href='#accidentVasculaireCerebral'>Accident vasculaire cérébral</a></li>
						</ul>
					</li>
					<li>
						<a href='#facteur'>
							<div class="menu-title">
								<i class='fa fa-heartbeat'></i>
								<div>Facteurs de risques initiaux</div>
                            </div>
						</a>
					</li>
                    <li class="sub-menu">
						<a href='#visite'>
							<div class="menu-title">
								<i class="fa fa-clinic-medical"></i>
								<div>Visite</div>
                            </div>
                            <i class='fa fa-caret-down right'></i>
						</a>
                        <ul class="visite-list">
                            {% set protocoleMenuIds = [] %}
                            {% for visite in patient.visites %}
                                <li class="sub-sub-menu">
                                    <a name={{"visite-" ~ visite.id}} data-protocole={{visite.protocole.id}}>Visite {{ loop.index }}</a>
                                    {% if visite.protocole.id not in protocoleMenuIds %}
                                        {% set protocoleMenuIds = protocoleMenuIds|merge([visite.protocole.id]) %}
                                        <ul class="protocole-list" data-protocole={{visite.protocole.id}}>
                                            {% for fiche in visite.protocole.fiches %}
                                                {% if fiche == 'bfr' %}<li><a name='bfr'>Bilan biologique et risque</a></li>{% endif %}
                                                {% if fiche == 'anatomieCoronaire' %}<li><a name="anatomieCoronaire">Anatomie coronaire</a></li>{% endif %}
                                                {% if fiche == 'echographie' %}<li><a name="echographie">Échocardiographie</a></li>{% endif %}
                                                {% if fiche == 'echographieVasculaire' %}<li><a name='echographieVasculaire'>Échographie vasculaire</a></li>{% endif %}
                                                {% if fiche == 'medicaments' %}<li><a name='medicaments'>Médicaments</a></li>{% endif %}
                                                {% if fiche == 'neuroPsychologie' %}<li><a name='neuroPsychologie'>Neuro-psychologie</a></li>{% endif %}
                                                {% if fiche == 'scintigraphie' %}<li><a name="scintigraphie">Scintigraphie</a></li>{% endif %}
                                                {% if fiche == 'testsEffort' %}<li><a name='testsEffort'>Épreuve d'effort</a></li>{% endif %}
                                                {% if fiche == 'suivi' %}<li><a name='suivi'>Suivi</a></li>{% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
					</li>
                    <li>
                        <button id="js-reducemenu"><i class="fas fa-arrow-left"></i></button>
                    </li>
				</ul>
			</nav>

            <section class="slide active" id="tab-history">
                <h1 id="history">Historique</h1>
    
                <div class="flex">
                    <div class="table-wrapper">
                        <table cellspacing="0" class="table table-condensed table-hover table-striped" id="data-grid">
                            <thead>
                                <tr>
                                    <th data-column-id="id" data-identifier="true" data-searchable="false" data-type="numeric" data-visible="false">Id</th>
                                    <th data-column-id="fieldId" data-searchable="false" data-visible="false">Id</th>
                                    <th data-column-id="etat" data-width="10%" data-formatter="etat" data-searchable="false">Etat</th>
                                    <th data-column-id="dateCreation" data-width="20%">Date</th>
                                    <th data-column-id="utilisateur" data-width="20%">Utilisateur</th>
                                    <th data-column-id="message" data-width="50%">Message</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>

            {{ form_start(form, {'attr': {'class': 'form validate-form'} }) }}
            {{ form_errors(form) }}

            {% form_theme form 'form-theme.html.twig' %}

			{#========== GENERAL ==========#}
			<section class="slide" id="tab-general">
                {% include 'patient/form/general.html.twig' with form %}
			</section>


			{#========== ANTECEDENT CARDIOVASCULAIRE ==========#}
			<section class="slide" id="tab-antecedentCardiovasculaire">
                {% include 'patient/form/antecedent_cardiovasculaire.html.twig' with form %}
            </section>

            {#========== INFORMATION ==========#}
            <section class="slide" id="tab-information">
			    {% include 'patient/form/information.html.twig' with form %}
            </section>


			{#========== FACTEUR ==========#}
			<section class="slide" id="tab-facteur">
                {% include 'patient/form/facteur.html.twig' with form %}
            </section>


			{#========== VISITE ==========#}
			<section class="slide" id="tab-visite">

                <!-- Modal VISITE -->
                <div id="modal-visite" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">
                                    Ajout d'une visite
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="feuilles">
                                    <label for="protocole-new">
                                            <span></span>
                                            <em>Choisir un protocole</em>
                                    </label>
                                    <div class="wrap-input">
                                        <div class="flex">
                                            <select id="protocole_new" name="protocole[new]" class="input">
                                                {% for feuille in constants_labels["FEUILLES"] %}
                                                    <option value="{{ feuille }}">{{ feuille }}</li>
                                                {% endfor %}
                                            </select>
                                            <span class="focus-input"></span>
                                        </div>
                                    </div>
                                    <button type="button" class="form-btn" id="visite-add-new"><i aria-hidden="true" class="fa fa-plus"></i>Ajouter une visite</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

				<h1 id="visite">Liste des visites</h1>
                <ul class="tabbed tabbed__visites">
                    {% for visite in patient.visites %}
                        <li name={{"visite-" ~ visite.id }} data-protocole={{visite.protocole.id}}>Visite {{ loop.index }}</li>
                    {% endfor %}
                    <li id="js-modal-visite" class="action"><span class="fas fa-plus"></span></li>
                </ul>

                <ul class="tab-list">
                    {% set protocoleIds = [] %}
                    {% for visite in form.visites %}
                        <li class="tab-content" name={{ "visite-" ~ visite.vars.value.id }}>
                            {% include 'patient/form/visite.html.twig' with {'visite': visite, 'index': loop.index} %}

                            {% if visite.protocole.vars.value.id not in protocoleIds %}
                                {% set protocoleIds = protocoleIds|merge([visite.protocole.vars.value.id]) %}
                                
                                <!-- Modal PROTOCOLE -->
                                <div id={{ "modal-protocole-" ~ loop.index }} class="modal fade" data-protocole={{visite.protocole.vars.value.id}} role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">
                                                    Gestion des protocoles de la visite {{ loop.index }}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-space">
                                                    <h3>Fiches d'examen déjà existantes</h3>
                                                    <ul class="etiquettes__list">
                                                        {% for fiche in visite.protocole.vars.value.fiches %}
                                                            <li name={{ fiche }} class='etiquette'>
                                                                {% if fiche == 'bfr' %}Bilan biologique et risque{% endif %}
                                                                {% if fiche == 'anatomieCoronaire' %}Anatomie coronaire{% endif %}
                                                                {% if fiche == 'echographie' %}Échocardiographie{% endif %}
                                                                {% if fiche == 'echographieVasculaire' %}Échographie vasculaire{% endif %}
                                                                {% if fiche == 'medicaments' %}Médicaments{% endif %}
                                                                {% if fiche == 'neuroPsychologie' %}Neuro-psychologie{% endif %}
                                                                {% if fiche == 'scintigraphie' %}Scintigraphie{% endif %}
                                                                {% if fiche == 'suivi' %}Suivi{% endif %}
                                                                {% if fiche == 'testsEffort' %}Épreuve d'effort{% endif %}
                                                                <span class="delete">
                                                                    <i class="fa fa-times"></i>
                                                                </span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                                {% set fiches = visite.protocole.vars.value.fiches %}
                                                <h3>Ajouter une fiche d'examen</h3>
                                                <label for="protocole">
                                                    <span></span>
                                                    <em>Fiches</em>
                                                </label>
                                                <div class="wrap-input">
                                                    <select id="protocole-fiches" name="protocole[fiches]" class="input">
                                                        <option value=""></option>
                                                        {% if "bfr" not in fiches %}<option value="bfr">Bilan biologique et risque</option>{% endif %}
                                                        {% if "anatomieCoronaire" not in fiches %}<option value="anatomieCoronaire">Anatomie coronaire</option>{% endif %}
                                                        {% if "echographie" not in fiches %}<option value="echographie">Échocardiographie</option>{% endif %}
                                                        {% if "echographieVasculaire" not in fiches %}<option value="echographieVasculaire">Échographie vasculaire</option>{% endif %}
                                                        {% if "medicaments" not in fiches %}<option value="medicaments">Médicaments</option>{% endif %}
                                                        {% if "neuroPsychologie" not in fiches %}<option value="neuroPsychologie">Neuro-psychologie</option>{% endif %}
                                                        {% if "scintigraphie" not in fiches %}<option value="scintigraphie">Scintigraphie</option>{% endif %}
                                                        {% if "suivi" not in fiches %}<option value="suivi">Suivi</option>{% endif %}
                                                        {% if "testsEffort" not in fiches %}<option value="testsEffort">Épreuve d'effort</option>{% endif %}
                                                    </select>
                                                    <span class="focus-input"></span>
                                                </div>
                                                <button type="button" class="form-btn" id="fiche-add"><i aria-hidden="true" class="fa fa-plus"></i>Ajouter une fiche</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="margin-space"></div>

                                <div class="examen" data-protocole={{visite.protocole.vars.value.id}}>
                                    <h1 id="examen">Examens paracliniques {{ protocoleIds|length }}</h1>

                                    <ul class="tabbed tabbed__fiches">
                                        {% for fiche in fiches %}
                                            {% if fiche == 'bfr' %}<li name="bfr">Bilan biologique et risque</li>{% endif %}
                                            {% if fiche == 'anatomieCoronaire' %}<li name="anatomieCoronaire">Anatomie coronaire</li>{% endif %}
                                            {% if fiche == 'echographie' %}<li name="echographie">Échocardiographie</li>{% endif %}
                                            {% if fiche == 'echographieVasculaire' %}<li name="echographieVasculaire">Échographie vasculaire</li>{% endif %}
                                            {% if fiche == 'medicaments' %}<li name="medicaments">Médicaments</li>{% endif %}
                                            {% if fiche == 'neuroPsychologie' %}<li name="neuroPsychologie">Neuro-psychologie</li>{% endif %}
                                            {% if fiche == 'scintigraphie' %}<li name="scintigraphie">Scintigraphie</li>{% endif %}
                                            {% if fiche == 'suivi' %}<li name="suivi">Suivi</li>{% endif %}
                                            {% if fiche == 'testsEffort' %}<li name="testsEffort">Épreuve d'effort</li>{% endif %}
                                        {% endfor %}
                                        <li id="js-modal-protocole" class="action" data-id={{ loop.index }}><span class="fas fa-cog"></span></li>
                                    </ul>

                                    {#========== EXAMEN ==========#}
                                    <section class="slide" id={{'tab-examen-' ~ visite.protocole.vars.value.id}} data-protocole={{visite.protocole.vars.value.id}}>
                                        <ul class="tab-list">
                                            {#========== Anatomie coronaire ==========#}
                                            <li class="tab-content" name="anatomieCoronaire">
                                                <div id="examen-anatomieCoronaire">
                                                    {% include 'patient/form/examens/anatomie_coronaire.html.twig' with {form: visite} %}
                                                </div>
                                            </li>

                                            {#========== Bilan biologique et risque (BRF) ==========#}
                                            <li class="tab-content" name="bfr">
                                                <div id="examen-bfr">
                                                    {% include 'patient/form/examens/bilan_biologique_risque.html.twig' with {form: visite} %}
                                                </div>
                                            </li>

                                            {#========== Échocardiographie repos/effort ==========#}
                                            <li class="tab-content" name="echographie">
                                                <div id="examen-echographie">
                                                    {% include 'patient/form/examens/echographie.html.twig' with {form: visite} %}
                                                </div>
                                            </li>

                                            {#========== Échographie vasculaire ==========#}
                                            <li class="tab-content" name="echographieVasculaire">
                                                <div id="examen-echographieVasculaire">
                                                    {% include 'patient/form/examens/echographie_vasculaire.html.twig' with {form: visite} %}
                                                </div>
                                            </li>

                                            {#========== Médicaments ==========#}
                                            <li class="tab-content" name="medicaments">
                                                <div id="examen-medicaments">
                                                    {% include 'patient/form/examens/medicament.html.twig' with {form: visite} %}
                                                </div>
                                            </li>

                                            {#========== NeuroPsychologie ==========#}
                                            <li class="tab-content" name="neuroPsychologie">
                                                <div id="examen-neuroPsychologie">
                                                    {% include 'patient/form/examens/neuro_psychologie.html.twig' with {form: visite} %}
                                                </div>
                                            </li>

                                            {#========== Scintigraphie ==========#}
                                            <li class="tab-content" name="scintigraphie">
                                                <div id="examen-scintigraphie">
                                                    {% include 'patient/form/examens/scintigraphie.html.twig' with {form: visite} %}
                                                </div>
                                            </li>

                                            {#========== Suivi ==========#}
                                            <li class="tab-content" name="suivi">
                                                <div id="examen-suivi">
                                                    {% include 'patient/form/examens/suivi.html.twig' with {form: visite} %}
                                                </div>
                                            </li>

                                            {#========== Test d'effort ==========#}
                                            <li class="tab-content" name="testsEffort">
                                                <div id="examen-testsEffort">
                                                    {% include 'patient/form/examens/tests_effort.html.twig' with {form: visite} %}
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
			</section>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}
		</main>

		<div class="cd-top js-cd-top">
			<a href="{{ path('index_patient') }}" class="cd-btn btn-back">
				<i aria-hidden="true" class="fa fa-arrow-left"></i>
			</a>
			<button class="cd-btn btn-check" {{ freezeDatabase ? 'disabled' }}>
				<i aria-hidden="true" class="fa fa-save"></i>
			</button>
			<button class="cd-btn btn-top">
				<i aria-hidden="true" class="fa fa-chevron-up"></i>
			</button>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/vendor/select2.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootgrid.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.dirty.js') }}"></script>

    <script>
        $('.sidebar-navigation ul li').on('click', function () {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>
		$('.btn-save').click(function(event) {
			event.preventDefault();
            
            let freezeDatabase = {{ freezeDatabase ? 'true' : 'false' }};
            if (freezeDatabase)
                return;
			$('.btn-save').prop("disabled", true);
			$('.btn-save').text("En cours d'enregistrement...")
			$(this).parents('.form').submit();
		})

        $('.error-list li').each(function() {
            $(this).html($(this).text().replace(/\[(.*?)\]/g, "<b>$1</b>"));
        })

        /* Erreur badges */
        $('.slide').each(function() {
            let count = $(this).find('.error-container').length;
            let id = $(this).attr('id').split('-')[1];
            if (count > 0) $(".toc a[href$='#" + id + "']").append('<span class="badge badge-spe">' + count + '</span>');
        });
        $('h3').each(function() {
            let count = $(this).nextUntil('h3').find('.error-container').length;
            let id = $(this).attr('id');
            if (count > 0) $(".toc a[href$='#" + id + "']").append('<span class="badge badge-spe">' + count + '</span>');
        });

        /* Tab history */
        var url = "{{ path('history_list') }}";

        var grid = $("#data-grid").bootgrid({
            rowCount: [
                20, 50, -1
            ],
            columnSelection: false,
            ajax: true,
            statusMapping: {
                0: "in",
                1: "out"
            },
            requestHandler: function (request) {
                request.patientId = {{ patient.id }};
                return request;
            },
            url: url,
            formatters: {
                "etat": function (column, row) {
                    if (row.etat == 'notice') 
                        return "<div class=\"pastille pastille__notice\"></div>";
                    if (row.etat == 'info') 
                        return "<div class=\"pastille pastille__info\"></div>";
                    if (row.etat == 'error') 
                        return "<div class=\"pastille pastille__error\"></div>";
                },
            }
        }).on('click.rs.jquery.bootgrid', function (e, cols, row, target) {
            if (typeof row != "undefined")
                redirect(row.fieldId);
        }).on("loaded.rs.jquery.bootgrid", function() {
            $('.table tr td:nth-child(4)').each(function() {
                $(this).html($(this).text().replace(/\[(.*?)\]/g, "<b class='history-markup'>$1</b>"));
            })
        });;

        function redirect(id) {
            if (id == undefined) 
                return;
    
            let pathArray = window.location.pathname.split("/");
            let url = window.location.protocol + "//" + window.location.host;
            for (let i = 0; i < pathArray.length - 2; i++) 
                url += pathArray[i] + "/";
            window.location.assign(url + {{ patient.id }} + "/history/" + id);
        };

        /* Add error info */
        $('.js-error-button').click(function(event) {
            event.preventDefault();
            let message = $(this).parent().find('.js-error-input').val();
            let patientId = '{{ patient.id }}';
            let fieldId = $(this).parents('.wrap-input').find('.input').attr('id');
            if (message == '') {
                $(this).parent().find('.js-error-input').attr('placeholder', 'Veuillez entrer un message.');
                return
            }
            $.ajax({
                type: "POST",
                url: "{{ path('erreur_add_info') }}",
                data: {
                    'message': message,
                    'patientId': patientId,
                    'fieldId': fieldId,
                },
                success: function(response) {
                    location.reload();
                },
            });
        });

        /*
        * HISTORY
        **********************************************************************/
        $('.history').click(function(event) {
            event.preventDefault(); 
            let patientId = "{{ patient.id }}";
            let fieldId = $(this).parent().find('input, select, textarea').attr('id');
            /* lowercase + add '_' before capital */
            fieldId = fieldId.replace(/([a-z])([A-Z])/g, '$1_$2').trim();
            fieldId = fieldId.toLowerCase();
            if (fieldId.substring(fieldId.length - 2) === "_0") {
                fieldId = fieldId.substring(0, fieldId.length - 2);
            }
            let url = '{{ path("history_list_field", {'patient': 'patientId', 'fieldId': 'fieldId'}) }}'; 
            url = url.replace("patientId", patientId);
            url = url.replace("fieldId", fieldId);
            window.location.href = url;
        });

        /* Date */
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({language: 'fr', clearButton: true});
        });


        /*
        * ALIMENTATION
        **********************************************************************/
        function alimentation(nb, item) {
            ali = item.parents('.wrap-input').next();
            ali.empty();
            if (nb >= 4)
                ali.append('<span class="green">Recommandée (4-5)</span');
            else if (nb >= 2)
                ali.append('<span class="orange">Intermédiaire (2-3)</span');
            else
                ali.append('<span class="red">Faible (0-1)</span');
        }

        $('.alimentation-js').each(function() {
            alimentation($(this).find('input:checked').length, $(this));
        });
        $('.alimentation-js input').on('change', function () {
            alimentation($(this).parents('.alimentation-js').find('input:checked').length, $(this).parents('.alimentation-js'));
        });

        /*
        * SCORE
        **********************************************************************/

        function score(el) {
            let p = $(el).parents('.form-space');
            let score = 0;
            $.each(p.find('.input'), function(i, e) {
                if ($(e).hasClass('score')) {
                    return true;
                } else if ($(e).hasClass('alimentation-js')) {
                    score += Math.floor($(e).find('input:checked').length / 2);
                } else {
                    score += $(e).prop('selectedIndex') > 0 ? $(e).prop('selectedIndex') - 1 : 0;
                }
            });

            if (score >= 10)
                $(el).val("Idéal : " + score);
            else if (score >= 5)
                $(el).val("Intermédiaire : " + score);
            else
                $(el).val("Péjoratif : " + score);
        }

        $('.score').each(function() {
            score($(this));
        });

        $('.score').parents('.form-space').find('.input').on('change', function() {
            console.log("hey");
            $('.score').each(function() {
                score($(this));
            });
        });

        /*
        * FICHES
        **********************************************************************/
        let fiches = [];
        let patient = {{ patient.serializer | raw }};
        $.each(patient.visites, function (index, visite) {
            let id = visite.protocole.id;
            fiches[id] = [];
            $.each(visite.protocole.fiches, function (index, fiche) {
                fiches[id][index] = fiche;
            });
        });

        $("main").on("click", "#fiche-add", function() {
            let protocoleId = $(this).parents('.modal').attr("data-protocole");
            let modal = $(".modal[data-protocole=" + protocoleId + "]");
            let fiche = modal.find("#protocole-fiches").val();
            if (!fiche) return;
            fiches[protocoleId].push(fiche);
            let text = modal.find('#protocole-fiches').find(":selected").text();
            let t = $(
                `<li name='` + fiche + `' class='etiquette'>
                    ` + text + `
                    <span class="delete">
                        <i class="fa fa-times"></i>
                    </span>
                </li>`
            );

            modal.find('.etiquettes__list').append(t);
            $('.tabbed__fiches').append('<li name="' + fiche + '">' + text + '</li>');
            $(".protocole-list[data-protocole=" + protocoleId + "]").append('<li><a name="' + fiche + '">' + text + '</a></li>');
            modal.find("#protocole-fiches option[value='" + fiche + "']").remove();
            sortAllList($('.etiquettes__list'), 'li');
            sortAllList($('.tabbed__fiches'), 'li');
            sortAllList($('.protocole-list'), 'li', 'a');
            sortAllList($('#protocole-fiches'), 'option');
            modal.find('#protocole-fiches option').eq(0).prop('selected', true);

            $.ajax({
                type: "POST",
                url: "{{ path('fiche_add') }}",
                data: {
                    'fiche': fiche,
                    'protocoleId': protocoleId
                },
                success: function(response) {},
            });
        })

        $('.etiquettes__list').on('click', '.etiquette .delete', function() {
            let protocoleId = $(this).parents('.modal').attr("data-protocole");
            let modal = $(".modal[data-protocole=" + protocoleId + "]");
            let fiche = $(this).parent().attr('name');
            let text = $(this).parent().text();
            const index = (fiches[protocoleId]).indexOf(fiche);
            if (index > -1) {
                (fiches[protocoleId]).splice(index, 1);
            }

            if (fiches[protocoleId].length === 0
            || $('.tabbed__fiches li[name="' + fiche + '"]').hasClass('active')) {
                $(".examen .tab-content").removeClass('active');
                $(".tabbed__fiches li").removeClass('active');
            }
            modal.find('.etiquette[name="' + fiche + '"]').remove();
            $('.tabbed__fiches li[name="' + fiche + '"]').remove();
            $(".protocole-list[data-protocole=" + protocoleId + "] li a[name='" + fiche + "']").remove();
            modal.find('#protocole-fiches').append('<option value="' + fiche + '">' + text + '</option>')
            sortAllList($('.etiquettes__list'), 'li');
            sortAllList($('.tabbed__fiches'), 'li');
            sortAllList($('.protocole-list'), 'li', 'a');
            sortAllList($('#protocole-fiches'), 'option');
            modal.find('#protocole-fiches option').eq(0).prop('selected', true);

            $.ajax({
                type: "POST",
                url: "{{ path('fiche_delete') }}",
                data: {
                    'fiche': fiche,
                    'protocoleId': protocoleId
                },
                success: function(response) {},
            });
        })

        function sortAllList(list, element, depth = '') {
            $.each(list, function(i, e) { sortList(e, element, depth) });
        }

        function sortList(e, element, depth = '') {
            $(e).find(element).sort(function(a, b) {
                if (depth) {
                    return $(a).find(depth).text().trim().toUpperCase().localeCompare($(b).find(depth).text().trim().toUpperCase());
                }
                return $(a).text().trim().toUpperCase().localeCompare($(b).text().trim().toUpperCase());
            }).appendTo(e);
        }

        function isTabAvailable(tab) {
            let ret = false;
            $('.tabbed__fiches li').each(function() {
                if ($(this).attr('name') === tab)
                    ret = true;
            })
            return ret;
        }

        sortAllList($('.etiquettes__list'), 'li');
        sortAllList($('.tabbed__fiches'), 'li');
        sortAllList($('.protocole-list'), 'li', 'a');
        sortAllList($('#protocole-fiches'), 'option');
        $('#protocole-fiches option').eq(0).prop('selected', true);

        /*
        * MEDICAMENT
        **********************************************************************/
        $('.examen').on('click', '#medicament-add', function() {
            let select = $(this).parents('.form-space').find('.js-medicaments-ajax')
            let medicament = select.select2('data');
            let protocoleId = $(this).parents('section').attr("data-protocole");

            if (!medicament || !medicament[0]) return;
            $('.medicaments-error').text("");
            if ($('section[data-protocole="' + protocoleId + '"] .medicament[data-id="' + medicament[0].id + '"]').length === 0) {
                $('.medicaments-error').text("Ce médicament est invalide ou existe déjà.");
                return;
            }
            
            let t = $(
                `<div class='medicament' data-id='` + medicament[0].id + `'>
                    ` + medicament[0].name + `
                    <span class="delete">
                        <i class="fa fa-times"></i>
                    </span>
                </div>`
            );
            
            $.ajax({
                type: "POST",
                url: "{{ path('medicament_entree_add') }}",
                data: {
                    'medicamentId': medicament[0].id,
                    'protocoleId': protocoleId,
                },
                success: function(response) {
                    $('section[data-protocole="' + protocoleId + '"] .medicaments__list').append(t);
                    select.val(null).trigger("change");
                    sortMedicamentsList();
                },
                error: function(response) {
                    $('.medicaments-error').text("Ce médicament est invalide ou existe déjà.");
                    select.val(null).trigger("change");
                }
            });
        })

        $('section').on('click', '.medicaments__list .medicament .delete', function() {
            let medicamentId = $(this).parent().attr('data-id');
            let protocoleId = $(this).parents('section').attr("data-protocole");

            $.ajax({
                type: "POST",
                url: "{{ path('medicament_entree_delete') }}",
                data: {
                    'medicamentId': medicamentId,
                    'protocoleId': protocoleId,
                },
                success: function(response) {
                    $('section[data-protocole="' + protocoleId + '"] .medicament[data-id="' + medicamentId + '"]').remove();
                    sortMedicamentsList();
                },
            });
        })

        $(".js-medicaments-ajax").select2({
            width: '100%',
            language: "fr",
            ajax: {
                url: "{{ path('medicament_search') }}",
                type: "POST",
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            placeholder: 'Rechercher un médicament',
            minimumInputLength: 1,
            allowClear: true,
            templateResult: formatMed,
            templateSelection: formatMedSelection
        });

        $(document).on("select2:open", () => {
            document.querySelector(".select2-container--open .select2-search__field").focus()
        })

        function formatMed(data) {
            if (data.loading) {
                return data.text;
            }

            let $container = $(
                "<div class='select2-result-medicament__name'>" + data.name + "</div>"
            );
            return $container;
        }

        function formatMedSelection(data) {
            return data.name || data.text;
        }

        function sortMedicamentsList() {
            $.each($('.medicaments__list'), function(i, e) {
                let listitems = $(this).children('div').get();

                listitems.sort(function(a, b) {
                    return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
                });

                $.each(listitems, function(index, item) {
                    $(this).append(item); 
                });
            });
        }
        sortMedicamentsList();

        /*
        * MEDICAMENTS RESULTS
        **********************************************************************/
        let bmqResults = [];

        $.sum = function(arr) {
            var r = 0;
            $.each(arr, function(i, v) {
                r += +v;
            });
            return r;
        }

		function processResults(bmqInputs) {
            bmqResults = [];
			$.each(bmqInputs.find(".input"), function() {
                let items = $(this).find("input[type='radio']");
                let check = 0;
                $.each(items, function(index) {
				    if ($(this).is(':checked')) {
                        check = index + 1;
                    }
                });
                bmqResults.push(check);
			});
            displayBMQResults(bmqInputs);
		}

        function displayBMQResults(bmqInputs) {
            results = bmqInputs.parents(".bmq").find(".bmq-results .result");
            results.eq(0).find('span').html($.sum(bmqResults.slice(0, 5)));
            results.eq(1).find('span').html($.sum(bmqResults.slice(5, 10)));
            results.eq(2).find('span').html($.sum(bmqResults.slice(10, 14)));
            results.eq(3).find('span').html($.sum(bmqResults.slice(14, 18)));
        }

        $('.table-bmq tbody tr .input').on('change', function() {
            processResults($(this).parents(".table-bmq"));
        });
        $.each($(".table-bmq"), function() {
            processResults($(this));
        });

        /*
        * QCM DEFAULT
        **********************************************************************/
        $.each($('.qcm-default .radio-row'), function() {
            let r = $(this).find('input[type="radio"]:checked');
            if (r.length == 0) {
                $(this).find('input[value="Non"]').prop("checked", true);
            }
        })

        /*
        * VISITE
        **********************************************************************/
        $("#visite-add-new").on('click', function() {
            let type = $("#protocole_new option").filter(":selected").val();
            $.ajax({
                type: "POST",
                url: "{{ path('patient_visite_add_new') }}",
                data: {
                    'patientId': {{ patient.id }},
                    'type': type
                },
                success: function(response) {
                    location.reload();
                },
            });
        })

        $(".js-delete-visite").on('click', function() {
            $(this).next('#modal-delete-visite').modal('show');
        })

        $(".delete-visite").on('click', function() {
            let visiteId = $(this).attr('data-visite-id');
            $('[id=modal-delete-visite]').modal('hide');
            $.ajax({
                type: "POST",
                url: "{{ path('patient_visite_delete') }}",
                data: {
                    'patientId': {{ patient.id }},
                    'visiteId': visiteId
                },
                success: function() {
                    $('.visite-list li a[name="visite-' + visiteId + '"]').remove();
                    $('.tab-list .tab-content[name="visite-' + visiteId + '"]').remove();
                    $('.tabbed li[name="visite-' + visiteId + '"]').remove();
                },
            });
        })

        /*
        * Motifs
        **********************************************************************/
        $(".js-motifs").select2({
            multiple: true,
            width: '100%',
            language: "fr",
            placeholder: 'Sélectionner un motif',
            allowClear: true,
        });


        /* 
        * IMC
        **********************************************************************/
        function getIMC(poids, taille) {
            if (poids && taille && taille > 0) {
                let imc = poids / ((taille * 0.01) * (taille * 0.01));
                return imc.toFixed(1);
            }
            return null
        }

        $('.bfr_taille, .bfr_poids').change(function() {
            let poids = $(this).parents('.form-space').find('.bfr_poids').val();
            let taille = $(this).parents('.form-space').find('.bfr_taille').val();
            $(this).parents('.form-space').find('.bfr_IMC').val(getIMC(poids, taille));
        });
        $.each($(".bfr_IMC"), function() {
            let poids = $(this).parents('.form-space').find('.bfr_poids').val();
            let taille = $(this).parents('.form-space').find('.bfr_taille').val();
            $(this).val(getIMC(poids, taille));
        });

        /* 
        * Delete patient
        **********************************************************************/
        $('#js-delete-patient').on('click', function() {
            $('#modal-delete-patient').modal('show');
        })

    </script>

    <script>
        /* MENU */
        $('ul.visite-list').on('click', 'li.sub-sub-menu > a', function() {
            let n = $(this).attr('name');
            selectVisite($(".tabbed__visites li[name='" + n + "']"));
            selectExamen(this);
        })

        $('ul.protocole-list').on('click', 'li a', function() {
            let tab = $(this).attr('name');
            $('ul.protocole-list li a').removeClass("active");
            $(this).addClass("active");
            selectExamen($(".tabbed__fiches li[name='" + tab + "']"));
            scrollToc('.tab-content.active #examen');
        })

        /* TABBED */
        function selectVisite(visite) {
            $('ul.protocole-list').each(function (i) {
                if ($(this).hasClass('active'))
                    $(this).slideToggle("100");
                $(this).removeClass("active");
            });

            selectTab(visite);
            saveTab($(visite).attr('data-protocole'));

            $(".visite-list li a").removeClass('active');
            $(".visite-list li a[name='" + $(visite).attr('name') + "']").addClass('active');
            $(".visite-list li a[name='" + $(visite).attr('name') + "']").parents('li').children('ul.protocole-list').addClass("active");
            $(".visite-list li a[name='" + $(visite).attr('name') + "']").parents('li').children('ul.protocole-list').slideToggle("100");
        }

        $('.tabbed__visites').on('click', 'li', function() {
            if (this.classList.contains('active') || $(this).is('[id^="js-modal-"]')) {
                return;
            }
            selectVisite(this);
        })

        $('.tabbed__fiches').on('click', 'li', function() {
            if (this.classList.contains('active') || $(this).is('[id^="js-modal-"]')) {
                return;
            }
            selectExamen(this);
            $(".protocole-list li a").removeClass('active');
            $(".protocole-list.active li a[name='" + $(this).attr('name') + "']").addClass('active');
        })

        $('.slide').on('click', '#js-modal-visite', function() {
            $('#modal-visite').modal('show');
        });

        $('.slide').on('click', '#js-modal-protocole', function() {
            $('#modal-protocole-' + $(this).attr("data-id")).modal('show');
        });

        function selectTab(obj) {
            let tab = $(obj).attr('name');
            $(obj).parents("ul").next(".tab-list").find(".tab-content").removeClass('active');
            $(obj).parents("ul").find("li").removeClass('active');
            $(".tab-content").removeClass('active');
            $(".tabbed__fiches li").removeClass('active');
            $("li[name='" + tab + "']").addClass('active');
        }

        function selectExamen(obj) {
            let tab = $(obj).attr('name');
            $(".examen .slide").addClass('active');
            $(".examen .tab-list .tab-content").removeClass('active');
            $(".examen .tab-list .tab-content[name='" + tab + "']").addClass('active');
            $(".tabbed__fiches li").removeClass('active');
            $(".tabbed__fiches li[name='" + tab + "']").addClass('active');
            scrollToc('.tab-content.active #examen');
        }

        /* TABBED SAVED */
        function saveTab(id) {
            localStorage.setItem('tabId', id);
        }
        let id = localStorage.getItem('tabId');
        selectVisite($(".tabbed__visites li[data-protocole='" + id + "']"));


        /* TABBED SAVED */
        $("form[name='patient']").dirty({
            preventLeaving: true
        });

        /* TOC */
        /* Smooth scroll */
        $('.toc > ul > li > a, .toc li.sub-menu > ul > li > a').on('click', function () {
            $('.toc li a').removeClass('active');
            $(this).addClass('active');
            scrollToc($(this).attr('href'));
        });
        
        $('.toc > ul > li > a').on('click', function () {
            displaySlide($(this).attr('href'));
            window.location.hash = $(this).attr("href");

            if (!$(this).hasClass('js-active')) {
                $('.toc > ul > li > a').each(function (i) {
                    if ($(this).hasClass('js-active')) 
                        toggleMenu($(this));
                    $(this).removeClass('js-active active');
                });
            }
            if (!reduce) {
                $(this).toggleClass('js-active active');
                toggleMenu($(this));
            } else {
                $(this).toggleClass('active');
            }

            return false;
        });

        function toggleMenu(e) {
            $(e).find(".right").toggleClass("fa-caret-up fa-caret-down");
            $(e).parent(".sub-menu").children("ul").slideToggle("100");
        }

        function displaySlide(page) {
            $('.slide').each(function(i, e) {
                let id = 'tab-' + page.substring(1);
                $(this).removeClass('active');
                if ($(this).attr('id') == id) {
                    $(this).addClass('active');
                }
            })
        }

        function scrollToc(page) {
            let speed = 550;
            if (!$(page).offset()) return;
            $('html, body').animate({
                scrollTop: $(page).offset().top - 30
            }, speed);
        }

        //onLoad
        var hash = window.location.hash.substr(0);

        $('.toc > ul > li > a').each(function (i) {
            page = $(this).attr('href');
            if (hash == page) {
                $(this).toggleClass('js-active active');
                toggleMenu($(this));
                displaySlide(page);
                scrollToc(page);
            }
        });
        
        $(function() {
            $(window).on('scroll', function () { 
                onScroll();
            });
        });

        function onScroll() {
            let offset = $('.hero-tabs').offset().top + $('.hero-tabs').height() + 25;
            if ($(window).scrollTop() > offset) {
                $('.hero-tabs-container').addClass('hero-tabs-container--top');
                $('.toc').addClass('toc--top');
            } else {
                $('.hero-tabs-container').removeClass('hero-tabs-container--top');
                $('.toc').removeClass('toc--top');
            }
        }

        /* Reduce menu */
        let reduce = localStorage.getItem('reduceMenu') === "true";
        if (reduce) reduceMenu()
        $('#js-reducemenu').click(function() {
            localStorage.setItem('reduceMenu', !reduce);    
            reduce = !reduce;
            reduceMenu();        
        })

        function reduceMenu() {
            $('.main').toggleClass("reduce");
            $('#js-reducemenu .fas').toggleClass("fa-arrow-left fa-arrow-right");

            $('.toc > ul > li > a').each(function(i) {
                if ($(this).hasClass('js-active')) 
                    toggleMenu($(this));
                $(this).removeClass('js-active');
            });
        }

        /* TEXTAREA */
        $("textarea").keyup(function(e) {
            while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
                $(this).height($(this).height() + 1);
            };
        });

        /* On key "ENTER" pressed */
        $(document).keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13' && !$("textarea").is(":focus")) {
                event.preventDefault();
                $(this).find('.slide.active form').submit();
            }
        });
    </script>

{% endblock %}
