{% extends 'layout.html.twig' %}

{% macro num_format(n) %}
  {{n|trim('0')|trim('.')}}
{% endmacro %}

{% block title %}
	Création de la lettre
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}
<div class="container-fluid">

	<div class="title-wrapper">
		Lettre
	</div>

	<div
		class="container-form">
		<!-- Hero -->
		<section id="tab-profile" class="hero-tabs">
			<div class="hero-header">
				<div class="hero-title">
					<h1 class="profile">
						<div>PATIENT&nbsp;</div>
						<div class="profile__name">{{ patient.general.prenom }}
							{{ patient.general.nom }}</div>
					</h1>
				</div>
			</div>

			<div class="btn-block">
				<a href="{{ path('index_patient') }}" class="form-btn btn-default">
					<i aria-hidden="true" class="fa fa-arrow-left"></i>Retour</a>
				<button class="form-btn" id="copy">
					<i aria-hidden="true" class="fa fa-copy"></i>Copier</button>
				<button class="form-btn btn-export" id="export">
					<i aria-hidden="true" class="fa fa-file-pdf"></i>Exporter en PDF</button>
			</div>
		</section>

		<!-- Main -->
		<main
			class="letter__content" id="print">

			{#========== GENERAL ==========#}
			<section class="slide" style="display: block">
				<h1 id="general">Informations générales</h1>
				<div class="column">
					<div>
						<h3 id="identification">Identification</h3>
						<div class="form-space">
							<div class="field">
								<strong>Civilité :
								</strong>
								<span>{{ patient.general.civilite }}</span></div>
							<div class="field">
								<strong>Prénom :
								</strong>
								<span>{{ patient.general.prenom }}</span></div>
							<div class="field">
								<strong>Nom :
								</strong>
								<span>{{ patient.general.nom }}</span></div>
							<div class="field">
								<strong>Nom de naissance :
								</strong>
								<span>{{ patient.general.nomNaissance }}</span></div>
							<div class="field">
								<strong>Date de naissance :
								</strong>
								<span>{{ patient.general.dateNaissance is empty ? "" : patient.general.dateNaissance|date("d/m/Y") }}</span></div>
							<div class="field">
								<strong>Sexe :
								</strong>
								<span>{{ patient.general.sexe }}</span></div>
						</div>
					</div>
					<div>
						<h3 id="complement">Complément</h3>
						<div class="form-space">
							<div class="field">
								<strong>Professions :
								</strong>
								<span>{{ patient.general.profession }}</span></div>
							<div class="field">
								<strong>Statut actuel :
								</strong>
								<span>{{ patient.general.statutActuel }}</span></div>
							<div class="field">
								<strong>Niveau d'étude :
								</strong>
								<span>{{ patient.general.niveauEtude }}</span></div>
						</div>
					</div>
				</div>
			</section>

			{#========== ANTECEDENT CARDIOVASCULAIRE ==========#}
			<section class="slide" style="display: block">
				<h1 id="antecedentCardiovasculaire">Antécédent cardiovasculaire</h1>
				<div class="form-space column">
					<div class="field">
						<strong>IDM-SCA :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.IDMSCA }}</span></div>
					<div class="field">
						<strong>Angor stable :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.angorStable }}</span></div>
					<div class="field">
						<strong>Angioplastie coronaire :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.angioplastieCoronaire }}</span></div>
					<div class="field">
						<strong>Pontage coronaire :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.pontageCoronaire }}</span></div>
					<div class="field">
						<strong>AVC :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.AVC }}</span></div>
					<div class="field">
						<strong>AIT :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.AIT }}</span></div>
					<div class="field">
						<strong>Endartériectomie carotidienne :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.endarteriectomieCarotidienne }}</span></div>
					<div class="field">
						<strong>Sténose carotidienne >50% :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.stenoseCarotidienne }}</span></div>
					<div class="field">
						<strong>Artérite des membres inférieurs :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.arteriteMembresInferieurs }}</span></div>
					<div class="field">
						<strong>Angioplastie périphérique :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.angioplastiePeripherique }}</span></div>
					<div class="field">
						<strong>Pontage périphérique :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.pontagePeripherique }}</span></div>
					<div class="field">
						<strong>Antécédent de fibrillation auriculaire :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.antecedentFibrillationAuriculaire }}</span></div>
					<div class="field">
						<strong>Valvulopathie (>grade 2 ou >modérée) :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.valvulopathie }}</span></div>
					<div class="field">
						<strong>Insuffisance cardiaque stade III ou IV :
						</strong>
						<span>{{ patient.antecedentCardiovasculaire.insuffisanceCardiaque }}</span></div>
				</div>
			</section>

			{#========== INFORMATION ==========#}
			<section class="slide" style="display: block">
				<h1 id="information">Information sur l'événement cardiovasculaire</h1>
				<h3 id="infarctusMyocarde">Type d'infarctus du myocarde</h3>
				<div class="form-space">
					<div class="field">
						<strong>Sus-décalage du segment ST :
						</strong>
						<span>{{ patient.information.susDecalage }}</span></div>
					<div class="field">
						<strong>Sans sus-décalage du segment ST :
						</strong>
						<span>{{ patient.information.sansSusDecalage }}</span></div>
				</div>

				<h5>Territoire atteint</h5>
				<div class="form-space">
					<div class="field">
						<strong>Antérieur :
						</strong>
						<span>{{ patient.information.anterieur }}</span></div>
					<div class="field">
						<strong>Septo-apical :
						</strong>
						<span>{{ patient.information.septoApical }}</span></div>
					<div class="field">
						<strong>Latéral :
						</strong>
						<span>{{ patient.information.lateral }}</span></div>
					<div class="field">
						<strong>Inférieur / Postérieur :
						</strong>
						<span>{{ patient.information.inferieurPosterieur }}</span></div>
					<div class="field">
						<strong>Sans territoire :
						</strong>
						<span>{{ patient.information.sansTerritoire }}</span></div>
				</div>

				<h5>Coronarographie (sténose > 50%)</h5>
				<div class="form-space">
					<div class="field">
						<strong>IVA :
						</strong>
						<span>{{ patient.information.IVA }}</span></div>
					<div class="field">
						<strong>Diagonale :
						</strong>
						<span>{{ patient.information.diagonale }}</span></div>
					<div class="field">
						<strong>Cx :
						</strong>
						<span>{{ patient.information.Cx }}</span></div>
					<div class="field">
						<strong>Marginale :
						</strong>
						<span>{{ patient.information.marginale }}</span></div>
					<div class="field">
						<strong>CD :
						</strong>
						<span>{{ patient.information.CD }}</span></div>
					<div class="field">
						<strong>Pontage :
						</strong>
						<span>{{ patient.information.pontage }}</span></div>
					<div class="field">
						<strong>Tronc commun :
						</strong>
						<span>{{ patient.information.troncCommun }}</span></div>
				</div>

				<h5>Traitement à la phase aiguë</h5>
				<div class="form-space">
					<div class="field">
						<strong>Traitement :
						</strong>
						<span>
							{% for t in patient.information.traitementPhaseAigue %}
								{{ t }}
								{% if loop.last == false %},
								{% endif %}
							{% endfor %}
						</span>
					</div>
				</div>

				<h5>Complications immédiates</h5>
				<div class="form-space">
					<div class="field">
						<strong>Trouble du rythme ventriculaire :
						</strong>
						<span>{{ patient.information.troubleRythmeVentriculaire }}</span></div>
					<div class="field">
						<strong>Insuffisance cardiaque :
						</strong>
						<span>{{ patient.information.insuffisanceCardiaque }}</span></div>
					<div class="field">
						<strong>Péricardite :
						</strong>
						<span>{{ patient.information.pericardite }}</span></div>
					<div class="field">
						<strong>Complication mécanique :
						</strong>
						<span>{{ patient.information.complicationMecanique }}</span></div>
				</div>

				<h3 id="accidentVasculaireCerebral">Accident vasculaire cérébral</h3>
				<div class="form-space">
					<div class="field">
						<strong>Date de l'AVC :
						</strong>
						<span>{{ patient.information.dateAVC is empty ? "" : patient.information.dateAVC|date("d/m/Y") }}</span></div>
					<div class="field">
						<strong>Score modifié de Rankin à 3 mois :
						</strong>
						<span>{{ patient.information.scoreModifieRankin }}</span></div>
					<div class="field">
						<strong>Localisation :
						</strong>
						<span>{{ patient.information.localisation }}</span></div>
					<div class="field">
						<strong>Taille :
						</strong>
						<span>{{ patient.information.taille }}</span></div>
				</div>

				<div class="form-space">
					<div class="field">
						<strong>Cause potentielle :
						</strong>
						<span>{{ patient.information.etiologieAtherosclerose }}</span></div>
					<div class="field">
						<strong>Cause incertaine :
						</strong>
						<span>{{ patient.information.etiologieMaladiePetitsArteres }}</span></div>
					<div class="field">
						<strong>Cause improbable :
						</strong>
						<span>{{ patient.information.etiologieCardioEmbolique }}</span></div>
					<div class="field">
						<strong>Pathologie absente :
						</strong>
						<span>{{ patient.information.etiologieAutreCause }}</span></div>
					<div class="field">
						<strong>Explorations insuffisantes pour statuer :
						</strong>
						<span>{{ patient.information.etiologieDissection }}</span></div>
				</div>
			</section>

			{#========== FACTEUR ==========#}
			<section class="slide" style="display: block">
				<h1 id="facteur">Facteurs de risques initiaux</h1>
				<div class="field">
					<strong>Antécédent familiaux :
					</strong>
					<span>{{ patient.facteur.antecedentFamiliaux }}</span></div>

				<div class="form-space table-container">
					<table class="table-custom">
						<thead>
							<tr>
								<th></th>
								<th>Risques</th>
								<th>Depuis</th>
								<th>Traité</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="row-header">HTA</td>
								<td><span>{{ patient.facteur.risqueHTA }}</span></td>
								<td><span>{{ patient.facteur.depuisHTA }}</span></td>
								<td><span>{{ patient.facteur.traiteHTA }}</span></td>
							</tr>
							<tr>
								<td class="row-header">Diabète</td>
								<td><span>{{ patient.facteur.risqueDiabete }}</span></td>
								<td><span>{{ patient.facteur.depuisDiabete }}</span></td>
								<td><span>{{ patient.facteur.traiteDiabete }}</span></td>
							</tr>
							<tr>
								<td class="row-header">Hypertriglycéridèmie</td>
								<td><span>{{ patient.facteur.risqueHypertriglyceridemie }}</span></td>
								<td><span>{{ patient.facteur.depuisHypertriglyceridemie }}</span></td>
								<td><span>{{ patient.facteur.traiteHypertriglyceridemie }}</span></td>
							</tr>
							<tr>
								<td class="row-header">Hypercholestérolémie</td>
								<td><span>{{ patient.facteur.risqueHypercholesterolemie }}</span></td>
								<td><span>{{ patient.facteur.depuisHypercholesterolemie }}</span></td>
								<td><span>{{ patient.facteur.traiteHypercholesterolemie }}</span></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="form-space column">
					<div class="field">
						<strong>LDL maximal au cours de la vie (en g/L):
						</strong>
						<span>{{ patient.facteur.LDLMaximal }}</span></div>
					<div class="field">
						<strong>Âge d’introduction du traitement hypolipémiant (en années):
						</strong>
						<span>{{ patient.facteur.ageIntroductionTraitementHypolipemiant }}</span></div>
				</div>

				<h5>Tabagisme</h5>
				<div class="form-space column">
					<div class="field">
						<strong>État :
						</strong>
						<span>{{ patient.facteur.tabagisme }}</span></div>
					<div class="field">
						<strong>Date d'arrêt :
						</strong>
						<span>{{ patient.facteur.dateArret is empty ? "" : patient.facteur.dateArret|date("d/m/Y") }}</span></div>
					<div class="field">
						<strong>Nombres de paquets par an :
						</strong>
						<span>{{ patient.facteur.nombrePaquetsAn }}</span></div>
				</div>

				<h5>Obésité</h5>
				<div class="form-space">
					<div class="field">
						<strong>État :
						</strong>
						<span>{{ patient.facteur.obesite }}</span></div>
				</div>

				<h5>Alcoolisme</h5>
				<div class="form-space column">
					<div class="field">
						<strong>État :
						</strong>
						<span>{{ patient.facteur.alcoolisme }}</span></div>
					<div class="field">
						<strong>Sevré :
						</strong>
						<span>{{ patient.facteur.sevre }}</span></div>
				</div>

				<h5>Cannabis</h5>
				<div class="form-space">
					<div class="field">
						<strong>État :
						</strong>
						<span>{{ patient.facteur.cannabis }}</span></div>
				</div>
			</section>

			{% for visite in patient.visites %}

				<hr class="separator">

				{#========== VISITE ==========#}
				<section class="slide" style="display: block">
					<h1 id={{"visite-" ~ visite.id }} class="no-delete">Visite
						{{ loop.index }}</h1>

					<div class="field">
						<strong>Protocole :
						</strong>
						<span>{{ visite.protocoleNom }}</span></div>
					<div class="form-space">
						<div class="field">
							<strong>Date :
							</strong>
							<span>{{ visite.date is empty ? "" : visite.date|date("d/m/Y") }}</span></div>
					</div>
				</section>

				{#========== EXAMENS ==========#}

				{% if "anatomieCoronaire" in visite.protocole.fiches %}
					{#========== Anatomie coronaire ==========#}
					<section class="slide" style="display: block">
						<h1 id="bfr">Anatomie coronaire</h1>
						<div class="form-space table-container">
							<table class="table-custom">
								<thead>
									<tr>
										<th></th>
										<th>Sténose coronarographie</th>
										<th>Sténose coroscanner</th>
										<th>FFR</th>
										<th>Angioplastie</th>
										<th>CMR</th>
										<th>IMR</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="row-header">IVA</td>
										<td><span>{{ visite.protocole.anatomieCoronaire.stenoseIVA }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.coroscannerIVA }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.ffrIVA }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.angioplastieIVA }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.cmrIVA }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.imrIVA }}</span></td>
									</tr>
									<tr>
										<td class="row-header">Diagonale</td>
										<td><span>{{ visite.protocole.anatomieCoronaire.stenoseDiagonale }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.coroscannerDiagonale }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.ffrDiagonale }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.angioplastieDiagonale }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.cmrDiagonale }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.imrDiagonale }}</span></td>
									</tr>
									<tr>
										<td class="row-header">Circonflexe</td>
										<td><span>{{ visite.protocole.anatomieCoronaire.stenoseCirconflexe }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.coroscannerCirconflexe }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.ffrCirconflexe }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.angioplastieCirconflexe }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.cmrCirconflexe }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.imrCirconflexe }}</span></td>
									</tr>
									<tr>
										<td class="row-header">Postérolatéral</td>
										<td><span>{{ visite.protocole.anatomieCoronaire.stenosePosterolateral }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.coroscannerPosterolateral }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.ffrPosterolateral }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.angioplastiePosterolateral }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.cmrPosterolateral }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.imrPosterolateral }}</span></td>
									</tr>
									<tr>
										<td class="row-header">Coronaire droite</td>
										<td><span>{{ visite.protocole.anatomieCoronaire.stenoseCoronaireDroite }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.coroscannerCoronaireDroite }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.ffrCoronaireDroite }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.angioplastieCoronaireDroite }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.cmrCoronaireDroite }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.imrCoronaireDroite }}</span></td>
									</tr>
									<tr>
										<td class="row-header">Pontage</td>
										<td><span>{{ visite.protocole.anatomieCoronaire.stenosePontage }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.coroscannerPontage }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.ffrPontage }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.angioplastiePontage }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.cmrPontage }}</span></td>
										<td><span>{{ visite.protocole.anatomieCoronaire.imrPontage }}</span></td>
									</tr>
								</tbody>
							</table>
						</div>

						<h2>Exploration de la charge en athérome coronaire</h2>

						<h3>Score calcique coronaire</h3>
						<div class="form-space">
							<div class="field">
								<strong>Score calcique coronaire :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.scoreCalciqueCoronaire }}</span></div>
						</div>

						<h3>Athérome coronaire</h3>
						<div class="form-space">
							<div class="field">
								<strong>Non analysable devant cac élevé :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.nonAnalysable }}</span></div>
							<div class="field">
								<strong>Absence d'athérome :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.absenceAtherome }}</span></div>
							<div class="field">
								<strong>Remodelage de la plaque* :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.remodelagePlaque }}</span></div>
							<div class="field">
								<strong>Napkin ring* :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.napkinRing }}</span></div>
							<div class="def">*Remodelage et Napking ring décrit par le radiologue (sont des caractéristiques de plaque à risque)</div>
						</div>

						<h3>Plaque</h3>
						<h5>Caractéristiques</h5>
						<div class="form-space">
							<div class="field">
								<strong>Molle (hypodense) :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.molle }}</span></div>
							<div class="field">
								<strong>Calcaire (hyperdense) :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.calcaire }}</span></div>
							<div class="field">
								<strong>Mixte :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.mixte }}</span></div>
						</div>

						<h5>Volume</h5>
						<div class="form-space">
							<div class="field">
								<strong>Volume non réalisable (charge trop importante en athérome, cac élevé...) :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.volumeNonRealisable }}</span></div>
							<div class="field">
								<strong>Volume coronaire total (en mm3) :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.volumeCoronaireTotal }}</span></div>
							<div class="field">
								<strong>Volume plaque hypodense (< 30 UH) bleu  (en mm3) :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.volumePlaqueHypodense }}</span></div>
							<div class="field">
								<strong>Volume de plaque calcifiée jaune (en mm3) :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.volumePlaqueCalcifiee }}</span></div>
							<div class="field">
								<strong>Volume plaque non calcifiée non hypodense rose (en mm3) :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.volumePlaque }}</span></div>
							<div class="field">
								<strong>Volume total de plaque (bleu + jaune + rose) (en mm3) :
								</strong>
								<span>{{ visite.protocole.anatomieCoronaire.volumeTotalPlaque }}</span></div>
						</div>
					</section>
				{% endif %}

				{% if "bfr" in visite.protocole.fiches %}
					{#========== Bilan biologique et risque (BRF) ==========#}
					<section class="slide" style="display: block">
						<h1 id="bfr">Bilan biologique et risque</h1>

						<div class="form-space column">
							<div class="field">
								<strong>Taille (en cm):
								</strong>
								<span>{{ visite.protocole.BFR.taille }}</span></div>
							<div class="field">
								<strong>Poids (en kg):
								</strong>
								<span>{{ visite.protocole.BFR.poids }}</span></div>
							<div class="field">
								<strong>Tour de taille (en cm):
								</strong>
								<span>{{ visite.protocole.BFR.tourTaille }}</span></div>
							{% if visite.protocole.BFR.taille != 0 %}
								<div class="field">
									<strong>IMC :
									</strong>
									<span>{{ (visite.protocole.BFR.poids / ((visite.protocole.BFR.taille / 100) ** 2))|round(1, 'floor') }}</span></div>
							{% endif %}
						</div>

						<h3 id="tensionArterielle">Tension artérielle</h3>
						<div class="form-space column">
							<div class="field">
								<strong>Systolique jour (en mmHg) :
								</strong>
								<span>{{ visite.protocole.BFR.tensionArterielleSystoliqueJour }}</span></div>
							<div class="field">
								<strong>Diastolique jour (en mmHg) :
								</strong>
								<span>{{ visite.protocole.BFR.tensionArterielleDiastoliqueJour }}</span></div>
							<div class="field">
								<strong>Systolique nuit (en mmHg) :
								</strong>
								<span>{{ visite.protocole.BFR.tensionArterielleSystoliqueNuit }}</span></div>
							<div class="field">
								<strong>Diastolique nuit (en mmHg) :
								</strong>
								<span>{{ visite.protocole.BFR.tensionArterielleDiastoliqueNuit }}</span></div>
						</div>
						<div class="form-space">
							<div class="field">
								<strong>HVG :
								</strong>
								<span>{{ visite.protocole.BFR.HVG }}</span></div>
						</div>

						<h3 id="dyslipidemie">Dyslipidémie</h3>
						<div class="form-space column">
							<div class="field">
								<strong>Cholestérol total (en g/L) :
								</strong>
								<span>{{ visite.protocole.BFR.cholesterolTotal }}</span></div>
							<div class="field">
								<strong>Triglicérides (en g/L) :
								</strong>
								<span>{{ visite.protocole.BFR.triglicerides }}</span></div>
							<div class="field">
								<strong>HDL-C (en g/L) :
								</strong>
								<span>{{ visite.protocole.BFR.HDLC }}</span></div>
							<div class="field">
								<strong>LDL-C (en g/L) :
								</strong>
								<span>{{ visite.protocole.BFR.LDLC }}</span></div>
							<div class="field">
								<strong>Score de DUTCH :
								</strong>
								<span>{{ visite.protocole.BFR.scoreDUTCH }}</span></div>
						</div>

						<h3 id="activite-physique">Tabagisme</h3>
						<div class="form-space column">
							<div class="field">
								<strong>État :
								</strong>
								<span>{{ visite.protocole.BFR.tabagisme }}</span></div>
							<div class="field">
								<strong>Date d'arrêt :
								</strong>
								<span>{{ visite.protocole.BFR.dateArret is empty ? "" : visite.protocole.BFR.dateArret|date("d/m/Y") }}</span></div>
							<div class="field">
								<strong>Nombres de paquets par an :
								</strong>
								<span>{{ visite.protocole.BFR.nombrePaquetsAn }}</span></div>
						</div>

						<h3 id="diabete">Diabète</h3>
						<div class="form-space column">
							<div class="field">
								<strong>Type :
								</strong>
								<span>{{ visite.protocole.BFR.diabeteType }}</span></div>
							<div class="field">
								<strong>Depuis :
								</strong>
								<span>{{ visite.protocole.BFR.diabeteDepuis }}</span></div>
							<div class="field">
								<strong>Glycémie ajeûn :
								</strong>
								<span>{{ visite.protocole.BFR.glycemieAjeun }}</span></div>
							<div class="field">
								<strong>Hba1c :
								</strong>
								<span>{{ visite.protocole.BFR.hba1c }}</span></div>
							<div class="field">
								<strong>Neuropathie clinique (DN4) :
								</strong>
								<span>{{ visite.protocole.BFR.neuropathieClinique }}</span></div>
						</div>
						<div class="form-space column">
							<div class="field">
								<strong>Neuroesthésiométrie pied droit (en volt) :
								</strong>
								<span>{{ visite.protocole.BFR.neuroesthesiometriePiedDroit }}</span></div>
							<div class="field">
								<strong>Neuroesthésiométrie pied gauche (en volt) :
								</strong>
								<span>{{ visite.protocole.BFR.neuroesthesiometriePiedGauche }}</span></div>
						</div>
						<div class="form-space column">
							<div class="field">
								<strong>Fond d'oeil :
								</strong>
								<span>{{ visite.protocole.BFR.fondOeil }}</span></div>
						</div>


						<h3 id="bilan-renal">Bilan rénal</h3>
						<div class="form-space column">
							<div class="field">
								<strong>Créatinine :
								</strong>
								<span>{{ visite.protocole.BFR.creatinine }}</span></div>
							<div class="field">
								<strong>Débit de filtration glomerulaire CK-EPI :
								</strong>
								<span>{{ visite.protocole.BFR.debitFiltrationGlomerulaire }}</span></div>
							<div class="field">
								<strong>Microalbuminurie :
								</strong>
								<span>{{ visite.protocole.BFR.microAlbuminurie }}</span></div>
							<div class="field">
								<strong>Protéinurie :
								</strong>
								<span>{{ visite.protocole.BFR.proteinurie }}</span></div>
						</div>

						<h3 id="bilan-hepatique">Bilan hépatique</h3>
						<div class="form-space column">
							<div class="field">
								<strong>Transaminases ASAT :
								</strong>
								<span>{{ visite.protocole.BFR.transaminasesASAT }}</span></div>
							<div class="field">
								<strong>Transaminases ALAT :
								</strong>
								<span>{{ visite.protocole.BFR.transaminasesALAT }}</span></div>
							<div class="field">
								<strong>Gamma GT :
								</strong>
								<span>{{ visite.protocole.BFR.gamma }}</span></div>
						</div>

						<h3 id="facteur-thrombogeniques">Facteur thrombogéniques</h3>
						<div class="form-space column">
							<div class="field">
								<strong>Fibrinogène :
								</strong>
								<span>{{ visite.protocole.BFR.fibrinogene }}</span></div>
							<div class="field">
								<strong>CRP :
								</strong>
								<span>{{ visite.protocole.BFR.CRP }}</span></div>
							<div class="field">
								<strong>Hémoglobine :
								</strong>
								<span>{{ visite.protocole.BFR.hemoglobine }}</span></div>
							<div class="field">
								<strong>VGM :
								</strong>
								<span>{{ visite.protocole.BFR.VGM }}</span></div>
							<div class="field">
								<strong>Plaquettes :
								</strong>
								<span>{{ visite.protocole.BFR.plaquettes }}</span></div>
						</div>

						<h3 id="activite-physique">Thyroïde</h3>
						<div class="form-space column">
							<div class="field">
								<strong>TSH :
								</strong>
								<span>{{ visite.protocole.BFR.TSH }}</span></div>
						</div>

						<h3 id="activite-physique">Activité physique</h3>
						<div class="form-space">
							<div class="field">
								<strong>Activité physique :
								</strong>
								<span>{{ visite.protocole.BFR.activitePhysique }}</span></div>
						</div>

						<h3 id="alimentation">Alimentation</h3>
						<div class="form-space field">
							<strong>Alimentation :
							</strong>
							<span class="alimentation">
								{% for t in visite.protocole.BFR.alimentation %}
									{{ t }}
									{% if loop.last == false %},
									{% endif %}
								{% endfor %}
							</span>
						</div>
					</section>
				{% endif %}

				{% if "echographie" in visite.protocole.fiches %}
					{#========== Échocardiographie repos/effort ==========#}
					<section class="slide" style="display: block">
						<h1 id="bfr">Échocardiographie repos/effort</h1>
						<div class="form-space table-container">
							<table class="table-custom">
								<thead>
									<tr>
										<th></th>
										<th>Repos</th>
										<th>Effort</th>
										<th>Nombre de segments</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="row-header">IVA</td>
										<td><span>{{ visite.protocole.echographie.reposIVA }}</span></td>
										<td><span>{{ visite.protocole.echographie.effortIVA }}</span></td>
										<td><span>{{ visite.protocole.echographie.nbSegmentIVA }}</span></td>
									</tr>
									<tr>
										<td class="row-header">Circonflexe</td>
										<td><span>{{ visite.protocole.echographie.reposCirconflexe }}</span></td>
										<td><span>{{ visite.protocole.echographie.effortCirconflexe }}</span></td>
										<td><span>{{ visite.protocole.echographie.nbSegmentCirconflexe }}</span></td>
									</tr>
									<tr>
										<td class="row-header">Coronaire droite</td>
										<td><span>{{ visite.protocole.echographie.reposCoronaireDroite }}</span></td>
										<td><span>{{ visite.protocole.echographie.effortCoronaireDroite }}</span></td>
										<td><span>{{ visite.protocole.echographie.nbSegmentCoronaireDroite }}</span></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="form-space">
							<div class="field">
								<strong>Fraction d'éjection (en %) :
								</strong>
								<span>{{ visite.protocole.echographie.fractionEjection }}</span></div>
						</div>
					</section>
				{% endif %}

				{% if "echographieVasculaire" in visite.protocole.fiches %}
					{#========== Échographie vasculaire ==========#}
					<section class="slide" style="display: block">
						<h1 id="bfr">Échographie vasculaire</h1>
						<h3 id="tsa">Schéma TSA</h3>
						<div class="form-space schema-tsa">
							<img src={{ asset('assets/images/tsa.png') }} alt="Schéma TSA"/>
							<div class="field" id="carotideInterneDroite">
								<strong>Carotide interne droite :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.carotideInterneDroite }}</span></div>
							<div class="field" id="carotideInterneGauche">
								<strong>Carotide interne gauche :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.carotideInterneGauche }}</span></div>
							<div class="field" id="EIMDroit">
								<strong>EIM droit :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.EIMDroit }}</span></div>
							<div class="field" id="EIMGauche">
								<strong>EIM gauche :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.EIMGauche }}</span></div>
							<div class="field" id="vertebraleDroite">
								<strong>Vertébrale droite :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.vertebraleDroite }}</span></div>
							<div class="field" id="vertebraleGauche">
								<strong>Vertébrale gauche :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.vertebraleGauche }}</span></div>
							<div class="field" id="carotideCommuneDroite">
								<strong>Carotide commune droite :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.carotideCommuneDroite }}</span></div>
							<div class="field" id="carotideCommuneGauche">
								<strong>Carotide commune gauche :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.carotideCommuneGauche }}</span></div>
							<div class="field" id="sousClaviereDroite">
								<strong>Sous-clavière droite :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.sousClaviereDroite }}</span></div>
							<div class="field" id="sousClaviereGauche">
								<strong>Sous-clavière gauche :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.sousClaviereGauche }}</span></div>
							<div class="field" id="TSAAorte">
								<strong>Aorte (en mm) :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.TSAAorte }}</span></div>

							<div class="field" id="volumeCarotideDroite">
								<strong>Volume carotide droite (en mm3) :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.volumeCarotideDroite }}</span></div>
							<div class="field" id="volumeCarotideGauche">
								<strong>Volume carotide gauche (en mm3) :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.volumeCarotideGauche }}</span></div>
							<div class="field" id="chargeAtheromeTotale">
								<strong>Charge en athérome totale (en mm3) :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.chargeAtheromeTotale }}</span></div>
						</div>

						<h3 id="membres-inferieur">Schéma membres inférieur</h3>
						<div class="form-space schema-membres-inferieur">
							<img src={{ asset('assets/images/membres_inferieur.jpg') }} alt="Schéma membres inférieur"/>
							<div class="field" id="membresInferieurAorte">
								<strong>Diamètre aorte (en mm) :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.membresInferieurAorte }}</span></div>
							<div class="field" id="volumeFemoralDroit">
								<strong>Volume fémoral droite (en mm3) :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.volumeFemoralDroit }}</span></div>
							<div class="field" id="volumeFemoralGauche">
								<strong>Volume fémoral gauche (en mm3) :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.volumeFemoralGauche }}</span></div>
							<div class="field" id="iliaqueDroite">
								<strong>Iliaque droite :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.iliaqueDroite }}</span></div>
							<div class="field" id="iliaqueGauche">
								<strong>Iliaque gauche :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.iliaqueGauche }}</span></div>
							<div class="field" id="femoraleCommuneDroite">
								<strong>Fémorale commune droite :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.femoraleCommuneDroite }}</span></div>
							<div class="field" id="femoraleCommuneGauche">
								<strong>Fémorale commune gauche :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.femoraleCommuneGauche }}</span></div>
							<div class="field" id="femoraleSuperficielleDroite">
								<strong>Fémorale superficielle droite :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.femoraleSuperficielleDroite }}</span></div>
							<div class="field" id="femoraleSuperficielleGauche">
								<strong>Fémorale superficielle gauche :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.femoraleSuperficielleGauche }}</span></div>
							<div class="field" id="popliteDroite">
								<strong>Poplite droite :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.popliteDroite }}</span></div>
							<div class="field" id="popliteGauche">
								<strong>Poplite gauche :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.popliteGauche }}</span></div>
							<div class="field" id="axesJambiersDroits">
								<strong>Axes jambiers droits :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.axesJambiersDroits }}</span></div>
							<div class="field" id="axesJambiersGauches">
								<strong>Axes jambiers gauches :
								</strong>
								<span>{{ visite.protocole.echographieVasculaire.axesJambiersGauches }}</span></div>
						</div>

						<div class="form-space">
							<div class="column">
								<div class="field">
									<strong>IPS repos droit :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.IPSReposDroit }}</span></div>
								<div class="field">
									<strong>IPS repos gauche :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.IPSReposGauche }}</span></div>
							</div>

							<div class="column">
								<div class="field">
									<strong>IPS repos gros orteil droit :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.IPSGrosOrteilDroit }}</span></div>
								<div class="field">
									<strong>IPS repos gros orteil gauche :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.IPSGrosOrteilGauche }}</span></div>
							</div>

							<div class="form-space">
								<div class="field">
									<strong>Test de Strandness: distance de première gêne :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.testStrandnessDistanceGene }}</span></div>
								<div class="field">
									<strong>Test de Strandness: distance max * :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.testStrandnessDistanceMax }}</span></div>
								<div class="def">* compris entre 0 et 1000, 9999 si non réalisé</div>
							</div>
							<div class="form-space">
								<div class="field">
									<strong>Arrêt pour :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.arretPour }}</span></div>
							</div>

							<div class="column">
								<div class="field">
									<strong>IPS effort droit :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.IPSEffortDroit }}</span></div>
								<div class="field">
									<strong>IPS effort gauche :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.IPSEffortGauche }}</span></div>
							</div>

							<div class="form-space column">
								<div class="field">
									<strong>Vélocité de l'onde pouls :
									</strong>
									<span>{{ visite.protocole.echographieVasculaire.vitesseOndePouls }}</span></div>
							</div>
						</div>
					</section>
				{% endif %}

				{% if "testsEffort" in visite.protocole.fiches %}
					{#========== Épreuve d'effort ==========#}
					<section class="slide" style="display: block">
						<h1 id="bfr">Épreuve d'effort</h1>
						<div class="form-space column">
							<div class="field">
								<strong>Maquillé :
								</strong>
								<span>{{ visite.protocole.testEffort.maquille }}</span></div>
							<div class="field">
								<strong>Type :
								</strong>
								<span>{{ visite.protocole.testEffort.type }}</span></div>
						</div>
						<div class="form-space">
							<div class="field">
								<strong>Durée totale (en min) :
								</strong>
								<span>{{ visite.protocole.testEffort.duree }}</span></div>
							<div class="field">
								<strong>Watts :
								</strong>
								<span>{{ visite.protocole.testEffort.watts }}</span></div>
						</div>
						<div class="form-space column">
							<div class="field">
								<strong>Symptomes :
								</strong>
								<span>{{ visite.protocole.testEffort.symptomes }}</span></div>
							<div class="field">
								<strong>% de la fréq. max :
								</strong>
								<span>{{ visite.protocole.testEffort.frequenceMaxPercent }}</span></div>
							<div class="field">
								<strong>ECG modifié :
								</strong>
								<span>{{ visite.protocole.testEffort.ECGModifie }}</span></div>
							<div class="field">
								<strong>Mesure :
								</strong>
								<span>{{ visite.protocole.testEffort.mesure }}</span></div>
						</div>
					</section>
				{% endif %}

				{% if "medicaments" in visite.protocole.fiches %}
					{#========== Médicaments ==========#}
					<section class="slide" style="display: block">
						<h1 id="bfr">Médicaments</h1>
						<div class="form-space">
							<div class="field">
								<strong>Nombre d'unités de prise de médicament (par semaine) : </strong>
								<span>{{ visite.protocole.medicamentsEntree.NbMedicamentSemaine }}</span></div>
							<div class="field">
								<strong>Délai depuis la mise sous traitement (en mois) : </strong>
								<span>{{ visite.protocole.medicamentsEntree.DelaiSousTraitement }}</span></div>
							<div class="field">
								<strong>Pilulier : </strong>
								<span>{{ visite.protocole.medicamentsEntree.pilulier }}</span></div>
							<div class="field">
								<strong>Gestion des médicaments : </strong>
								<span>
									{% for t in visite.protocole.medicamentsEntree.gestionMedicaments %}
										{{ t }}
										{% if loop.last == false %},
										{% endif %}
									{% endfor %}
								</span>
							</div>
							<div class="field">
								<strong>Satisfaction pratique de la prise de traitement : </strong>
								<span>{{ visite.protocole.medicamentsEntree.satisfaction }}</span></div>
							<div class="field">
								<strong>Connaissance de la durée de traitement :</strong>
								<span>{{ visite.protocole.medicamentsEntree.ConnaissanceDureeTraitement }}</span></div>
							<div class="field">
								<strong>Score échelle adhésion Mascard (/5) : </strong>
								<span>{{ visite.protocole.medicamentsEntree.scoreMasCard }}</span></div>
							<div class="sub">
								<div class="field">
									<strong>Item problèmes : </strong>
									<span>
										{% for t in visite.protocole.medicamentsEntree.problemes %}
											{{ t }}
											{% if loop.last == false %},
											{% endif %}
										{% endfor %}
									</span>
								</div>
								<div class="field">
									<strong>Remarques : </strong>
									<span>{{ visite.protocole.medicamentsEntree.remarques }}</span></div>
							</div>

							<div class="field">
								<strong>Effet indésirable ressenti au moment de l'enquête : </strong>
								<span>{{ visite.protocole.medicamentsEntree.effetIndesirable }}</span></div>
							<div class="sub">
								<div class="field">
									<strong>Si oui lequel(s) : </strong>
									<span>{{ visite.protocole.medicamentsEntree.lequel }}</span></div>
							</div>

							<div class="field">
								<strong>Verbatims vécu des médicaments : </strong>
								<span>{{ visite.protocole.medicamentsEntree.verbatimsMedicaments }}</span></div>
						</div>

						<h5>Verbatims vécu</h5>
						<div class="form-space column">
							{% for qcm in visite.protocole.medicamentsEntree.verbatims %}
								<div class="field">
									<strong>{{constants_labels["MEDICAMENTSENTREE_VERBATIMS_VECU"][ loop.index0 ]}} : </strong>
									<span>{{ qcm.response }}</span></div>
							{% endfor %}
						</div>

						<div class="form-space">
							<div class="field">
								<strong>Verbatims apport des médicaments pour la santé : </strong>
								<span>{{ visite.protocole.medicamentsEntree.verbatimsApportSante }}</span></div>
						</div>

						<h5>Verbatims santé</h5>
						<div class="form-space column">
							{% for qcm in visite.protocole.medicamentsEntree.verbatimsSante %}
								<div class="field">
									<strong>{{constants_labels["MEDICAMENTSENTREE_VERBATIMS_SANTE"][ loop.index0 ]}} : </strong>
									<span>{{ qcm.response }}</span></div>
							{% endfor %}
						</div>

						<div class="form-space">
							<div class="field">
								<strong>Vécu du traitement : </strong>
								<span>{{ visite.protocole.medicamentsEntree.vecuTraitement }}</span></div>
						</div>

						<h5>Questionnaire BMQ</h5>
						<div class="form-space column">
							{% for qcm in visite.protocole.medicamentsEntree.questionnaire %}
								<div class="field">
									<strong>{{constants_labels["MEDICAMENTSENTREE_QUESTIONNAIRE"][ loop.index0 ]}} : </strong>
									<span>{{ qcm.response }}</span></div>
							{% endfor %}
						</div>

						<div class="form-space">
							<div class="field">
								<strong>Liste des médicaments : </strong>
								<span>
									{% for medicament in visite.protocole.medicamentsEntree.medicaments %}
										{{ medicament.name }}
										{% if loop.last == false %},
										{% endif %}
									{% endfor %}
								</span>
							</div>
						</div>
					</section>
				{% endif %}

				{% if "neuroPsychologie" in visite.protocole.fiches %}
					{#========== NeuroPsychologie ==========#}
					<section class="slide" style="display: block">
						<h1 id="bfr">Neuro-psychologie</h1>
						<div class="field">
							<strong>Rankin* :
							</strong>
							<span>{{ visite.protocole.neuroPsychologie.rankin }}</span></div>
						<div class="form-space column">
							<div class="field">
								<strong>MMSE* :
								</strong>
								<span>{{ visite.protocole.neuroPsychologie.MMSE }}</span></div>
							<div class="field">
								<strong>MOCA* :
								</strong>
								<span>{{ visite.protocole.neuroPsychologie.MOCA }}</span></div>
						</div>

						<div class="form-space column">
							<div class="field">
								<strong>HAD anxiété* :
								</strong>
								<span>{{ visite.protocole.neuroPsychologie.HADAnxiete }}</span></div>
							<div class="field">
								<strong>HAD dépression* :
								</strong>
								<span>{{ visite.protocole.neuroPsychologie.HADDepression }}</span></div>
							<div class="def">* compris entre 0 et 1000, 9999 si non réalisé</div>
						</div>

						<div class="form-space">
							<div class="field">
								<strong>Barrière langue :
								</strong>
								<span>{{ visite.protocole.neuroPsychologie.barriereLangue }}</span></div>
							<div class="field">
								<strong>Niveau socio-éducatif :
								</strong>
								<span>{{ visite.protocole.neuroPsychologie.niveauSocioEducatif }}</span></div>
							<div class="field">
								<strong>Aphasie :
								</strong>
								<span>{{ visite.protocole.neuroPsychologie.aphasie }}</span></div>
							<div class="field">
								<strong>Difficultés mouvement fin :
								</strong>
								<span>{{ visite.protocole.neuroPsychologie.difficultesMouvementFin }}</span></div>
						</div>
					</section>
				{% endif %}

				{% if "scintigraphie" in visite.protocole.fiches %}
					{#========== Scintigraphie ==========#}
					<section class="slide" style="display: block">
						<h1 id="bfr">Scintigraphie</h1>
						<div class="form-space table-container">
							<table class="table-custom table-scintigraphie">
								<thead>
									<tr>
										<th></th>
										<th colspan="2">Analyse visuelle</th>
										<th colspan="2">Débit</th>
										<th>&nbsp;</th>
									</tr>
									<tr>
										<th></th>
										<th>Repos</th>
										<th>Régadénoson</th>
										<th>Repos</th>
										<th>Régadénoson</th>
										<th>Réserve</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="row-header">IVA</td>
										<td><span>{{ visite.protocole.scintigraphie.reposAnalyseVisuelleIVA }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.regadenosonAnalyseVisuelleIVA }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.reposDebitIVA }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.regadenosonDebitIVA }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.reserveIVA }}</span></td>
									</tr>
									<tr>
										<td class="row-header">CX</td>
										<td><span>{{ visite.protocole.scintigraphie.reposAnalyseVisuelleCX }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.regadenosonAnalyseVisuelleCX }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.reposDebitCX }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.regadenosonDebitCX }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.reserveCX }}</span></td>
									</tr>
									<tr>
										<td class="row-header">CD</td>
										<td><span>{{ visite.protocole.scintigraphie.reposAnalyseVisuelleCD }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.regadenosonAnalyseVisuelleCD }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.reposDebitCD }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.regadenosonDebitCD }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.reserveCD }}</span></td>
									</tr>
									<tr>
										<td class="row-header">Total</td>
										<td></td>
										<td></td>
										<td><span>{{ visite.protocole.scintigraphie.reposDebitTotal }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.regadenosonDebitTotal }}</span></td>
										<td><span>{{ visite.protocole.scintigraphie.reserveTotal }}</span></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="form-space">
							<div class="field">
								<strong>Fraction d'éjection sous régadénoson (en %) :
								</strong>
								<span>{{ visite.protocole.scintigraphie.fractionEjection }}</span></div>
						</div>
					</section>
				{% endif %}

				{% if "suivi" in visite.protocole.fiches %}
					{#========== Suivi ==========#}
					<section class="slide" style="display: block">
						<h1 id="bfr">Suivi</h1>
						<h3 id="recidive">Récidive</h3>
						<div class="form-space">
							<div class="field">
								<strong>Récidive d'événement cardiovasculaire :
								</strong>
								<span>{{ visite.protocole.suivi.recidive }}</span></div>
							<div class="field">
								<strong>Date de survenue :
								</strong>
								<span>{{ visite.protocole.suivi.dateSurvenue is empty ? "" : visite.protocole.suivi.dateSurvenue|date("d/m/Y") }}</span></div>
							<div class="field">
								<strong>Type d'événement :
								</strong>
								<span>{{ visite.protocole.suivi.type }}</span></div>
						</div>

						<h3 id="clinique">Clinique</h3>
						<div class="form-space">
							<div class="field">
								<strong>Dyspnée :
								</strong>
								<span>{{ visite.protocole.suivi.dyspnee }}</span></div>
							<div class="field">
								<strong>Douleur thoracique :
								</strong>
								<span>{{ visite.protocole.suivi.douleur }}</span></div>
						</div>

						<h3 id="facteur">Facteurs de risque cardiovasculaire</h3>
						<div class="form-space">
							<div class="field">
								<strong>Tabac :
								</strong>
								<span>{{ visite.protocole.suivi.tabac }}</span></div>
							<div class="field">
								<strong>Activité physique :
								</strong>
								<span>{{ visite.protocole.suivi.activite }}</span></div>
							<div class="field">
								<strong>Alimentation :
								</strong>
								<span class="alimentation">
									{% for t in visite.protocole.suivi.alimentation %}
										{{ t }}
										{% if loop.last == false %},
										{% endif %}
									{% endfor %}
								</span>
							</div>
							<div class="field">
								<strong>HbA1C :
								</strong>
								<span>{{ visite.protocole.suivi.hba1c }}</span></div>
							<div class="field">
								<strong>Hypertension artérielle :
								</strong>
								<span>{{ visite.protocole.suivi.hypertension }}</span></div>
							<div class="field">
								<strong>Dyslipidémie :
								</strong>
								<span>{{ visite.protocole.suivi.dyslipidemie }}</span></div>
							<div class="field">
								<strong>Poids :
								</strong>
								<span>{{ visite.protocole.suivi.poids }}</span></div>
							<div class="field">
								<strong>Score globale :
								</strong>
								<span>{{ visite.protocole.suivi.score }}</span></div>
						</div>
						<div class="form-space column">
							{% for qcm in visite.protocole.suivi.facteurs %}
								<div class="field">
									<strong>{{constants_labels["SUIVI_FACTEUR"][ loop.index0 ]}} :
									</strong>
									<span>{{ qcm.response }}</span></div>
							{% endfor %}
						</div>

						<h3 id="place">Traitement mis en place suite à l'évènement cardiovasculaire</h3>
						<div class="form-space column">
							{% for qcm in visite.protocole.suivi.traitement %}
								<div class="field">
									<strong>{{constants_labels["SUIVI_TRAITEMENT"][ loop.index0 ]}}
										:
									</strong>
									<span>{{ qcm.response }}</span></div>
							{% endfor %}
						</div>

						<h3 id="biologie">Biologie</h3>
						<div class="form-space">
							<div class="field">
								<strong>Débit de filtration glomerulaire CK-EPI :
								</strong>
								<span>{{ visite.protocole.suivi.debitFiltrationGlomerulaire }}</span></div>
						</div>

						<h5>Inflammation</h5>
						<div class="form-space">
							<div class="field">
								<strong>CRP ultra-sensible :
								</strong>
								<span>{{ visite.protocole.suivi.crp }}</span></div>
						</div>

						<h5>Bilan lipidique</h5>
						<div class="form-space">
							<div class="field">
								<strong>Triglycérides :
								</strong>
								<span>{{ visite.protocole.suivi.triglycerides }}</span></div>
							<div class="field">
								<strong>LDL-c :
								</strong>
								<span>{{ visite.protocole.suivi.ldl }}</span></div>
							<div class="field">
								<strong>HDL-c :
								</strong>
								<span>{{ visite.protocole.suivi.hdl }}</span></div>
						</div>
					</section>
				{% endif %}

			{% endfor %}

		</main>
	</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vendor/html2canvas.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jspdf.umd.js') }}"></script>

    <script>
        /*
        * COPY
        **********************************************************************/
        $('#copy').click(function() {
			var $temp = $("<div>");
			$(".title-wrapper").append($temp);
			$temp.attr("contenteditable", true)
				.html($(".letter__content").html()).select()
				.on("focus", function() { document.execCommand('selectAll', false, null); })
				.focus();
			document.execCommand("copy");
			$temp.remove();
        });

        /*
        * Clean
        **********************************************************************/
        function cleanTable() {
            $.each($('.table-container'), function(i, table) {
                $.each($(table).find('tbody tr'), function(j, line) {
                    let colEmpty = 0;
                    $.each($(line).find('td'), function(k, col) {
                        let t = col.textContent.replace(/^\s+|\s+$/g, '').trim();
                        if (t.length) colEmpty++;
                    });
                    if (colEmpty <= 1) line.remove();
                });
                if ($(table).find('tbody tr').length == 0) table.remove();
            });
        }

        function clean() {
            //remove empty field
            $.each($('.letter__content .field'), function(i, elem) {
                let length = elem.childNodes.length
                $.each(elem.childNodes, function(j, node) {
                    let t = node.textContent.replace(/^\s+|\s+$/g, '').trim();
                    if (!t) length--;
                });
                if (length <= 1) elem.remove();
            });

            $.each($('.letter__content .form-space'), function(i, elem) {
                if ($(elem).children().length == 0) elem.remove();
                if ($(elem).children().length >= 1 && $(elem).has('.def').length) elem.remove();
				if ($(elem).children().length >= 1 && $(elem).has('.sub').length) elem.remove();
            });

            $.each($('.letter__content h5'), function(i, elem) {
                if ($(elem).nextUntil('h5').length == 0
                    || $(elem).nextUntil('h3').length == 0
                    || $(elem).nextUntil('section').length == 0) elem.remove();
            });

            $.each($('.letter__content h3'), function(i, elem) {
                if ($(elem).nextUntil('h3').length == 0 || $(elem).nextUntil('section').length == 0) elem.remove();
            });

            $.each($('.letter__content h2'), function(i, elem) {
                if ($(elem).nextUntil('h2').length == 0 || $(elem).nextUntil('section').length == 0) elem.remove();
            });

            $.each($('.letter__content h1'), function(i, elem) {
                if ($(elem).hasClass("no-delete")) return;
                if ($(elem).nextUntil('h1').length == 0 || $(elem).nextUntil('section').length == 0) elem.remove();
            });
        }

        cleanTable();
        clean();

        /*
        * HTML TO PDF
        **********************************************************************/
       window.jsPDF = window.jspdf.jsPDF;

        $('#export').on('click', function () {
            buildPDF();
        });

        function buildPDF() {
            const input = document.getElementById('print');
            const pdf = new jsPDF({
                orientation: '',
                unit: 'pt',
                format: 'a4'
            });

			pdf.setFont('times', 'normal');

			$('.alimentation').html($('.alimentation').html().replace(/\≥/g, '>='));
            let srcwidth = document.getElementById('print').scrollWidth;
            let date = new Date().
                toLocaleString('fr-FR', {year: 'numeric', month: '2-digit', day: '2-digit'}).
                replace(/(\d+)\/(\d+)\/(\d+)/, '$1-$2-$3');

            pdf
                .html(input, {
                    callback: function (pdf) {
                        pdf.save("Horus_{{patient.general.nom}}-{{patient.general.prenom}}_" + date + ".pdf");
                    },
                    margin: [15, 15, 15, 15],
                    //autoPaging: 'text',
                    html2canvas: {
                        scale: (595.26 - 30) / srcwidth, //595.26 is the width of A4 page
                        scrollY: 0,
						allowTaint: true,
						letterRendering: true
                    }
                })
                .then(() => {
                    const pageCount = pdf.internal.getNumberOfPages();
                    const pageWidth = pdf.internal.pageSize.getWidth();
                    var pageHeight = pdf.internal.pageSize.getHeight();

                    //loop to set header/ footer, style, alignment, text style to the page
                    for (let i = 1; i <= pageCount; i++) {
                        pdf.rect(
                            0,
                            0,
                            pdf.internal.pageSize.width,
                            pdf.internal.pageSize.height,
                            'S',
                        );
                        pdf.setPage(i);
                    };
                });
        }
    </script>
{% endblock %}
