{% extends 'layout.html.twig' %}

{% block title %}
	Création de la lettre
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}
	<div class="container-fluid">

		<div class="title-wrapper">
			Lettre
		</div>

		<div class="container-form">
            <!-- Hero -->
            <section id="tab-profile" class="hero-tabs">
                <div class="hero-header">
                    <div class="hero-title">
                        <h1 class="profile">
                            <div>PATIENT&nbsp;</div>
                            <div class="profile__name">{{ patient.general.prenom }} {{ patient.general.nom }}</div>
                        </h1>
                    </div>
                </div>

                <div class="btn-block">
                    <a href="{{ path('index_patient') }}" class="form-btn btn-default">
                        <i aria-hidden="true" class="fa fa-arrow-left"></i>Retour</a>
                    <button class="form-btn" id="copy">
                        <i aria-hidden="true" class="fa fa-copy"></i>Copier</button>
                    <button class="form-btn btn-export" id="export">
                        <i aria-hidden="true" class="fa fa-file-pdf"></i>Exporter en PDF</button>
                </div>
            </section>
			
            <!-- Main -->
            <main class="letter__content" id="print">

                {#========== GENERAL ==========#}
                <section class="slide" style="display: block">
                    <h1 id="general">Informations générales</h1>
                    <div class="column">
                        <div>
                            <h3 id="identification">Identification</h3>
                            <div class="form-space">
                                <div class="field"><strong>Civilité : </strong>{{ patient.general.civilite }}</div>
                                <div class="field"><strong>Prénom : </strong>{{ patient.general.prenom }}</div>
                                <div class="field"><strong>Nom : </strong>{{ patient.general.nom }}</div>
                                <div class="field"><strong>Nom de naissance : </strong>{{ patient.general.nomNaissance }}</div>
                                <div class="field"><strong>Date de naissance : </strong>{{ patient.general.dateNaissance is empty ? "" : patient.general.dateNaissance|date("d/m/Y") }}</div>
                                <div class="field"><strong>Sexe : </strong>{{ patient.general.sexe }}</div>
                            </div>
                        </div>
                        <div>
                            <h3 id="complement">Complément</h3>
                            <div class="form-space">
                                <div class="field"><strong>Professions : </strong>{{ patient.general.profession }}</div>
                                <div class="field"><strong>Statut actuel : </strong>{{ patient.general.statutActuel }}</div>
                                <div class="field"><strong>Niveau d'étude : </strong>{{ patient.general.niveauEtude }}</div>
                            </div>
                        </div>
                    </div>
                </section>

                {#========== ANTECEDENT CARDIOVASCULAIRE ==========#}
                <section class="slide" style="display: block">
                    <h1 id="antecedentCardiovasculaire">Antécédent cardiovasculaire</h1>
                    <div class="form-space column">
                        <div class="field"><strong>IDM-SCA : </strong>{{ patient.antecedentCardiovasculaire.IDMSCA }}</div>
                        <div class="field"><strong>Angor stable : </strong>{{ patient.antecedentCardiovasculaire.angorStable }}</div>
                        <div class="field"><strong>Angioplastie coronaire : </strong>{{ patient.antecedentCardiovasculaire.angioplastieCoronaire }}</div>
                        <div class="field"><strong>Pontage coronaire : </strong>{{ patient.antecedentCardiovasculaire.pontageCoronaire }}</div>
                        <div class="field"><strong>AVC : </strong>{{ patient.antecedentCardiovasculaire.AVC }}</div>
                        <div class="field"><strong>AIT : </strong>{{ patient.antecedentCardiovasculaire.AIT }}</div>
                        <div class="field"><strong>Endartériectomie carotidienne : </strong>{{ patient.antecedentCardiovasculaire.endarteriectomieCarotidienne }}</div>
                        <div class="field"><strong>Artérite des membres inférieurs : </strong>{{ patient.antecedentCardiovasculaire.arteriteMembresInferieurs }}</div>
                        <div class="field"><strong>Angioplastie périphérique : </strong>{{ patient.antecedentCardiovasculaire.angioplastiePeripherique }}</div>
                        <div class="field"><strong>Pontage périphérique : </strong>{{ patient.antecedentCardiovasculaire.pontagePeripherique }}</div>
                        <div class="field"><strong>Antécédent de fibrillation auriculaire : </strong>{{ patient.antecedentCardiovasculaire.antecedentFibrillationAuriculaire }}</div>
                        <div class="field"><strong>Valvulopathie (>grade 2 ou >modérée) : </strong>{{ patient.antecedentCardiovasculaire.valvulopathie }}</div>
                        <div class="field"><strong>Insuffisance cardiaque stade III ou IV : </strong>{{ patient.antecedentCardiovasculaire.insuffisanceCardiaque }}</div>
                    </div>
                </section>

                {#========== INFORMATION ==========#}
                <section class="slide" style="display: block">
                    <h1 id="information">Information sur l'événement cardiovasculaire</h1>
                    <h3 id="infarctusMyocarde">Type d'infarctus du myocarde</h3>
                    <div class="form-space">
                        <div class="field"><strong>Sus-décalage du segment ST : </strong>{{ patient.information.susDecalage }}</div>
                        <div class="field"><strong>Sans sus-décalage du segment ST : </strong>{{ patient.information.sansSusDecalage }}</div>
                    </div>

                    <h5>Territoire atteint</h5>
                    <div class="form-space">
                        <div class="field"><strong>Antérieur : </strong>{{ patient.information.anterieur }}</div>
                        <div class="field"><strong>Septo-apical : </strong>{{ patient.information.septoApical }}</div>
                        <div class="field"><strong>Latéral : </strong>{{ patient.information.lateral }}</div>
                        <div class="field"><strong>Inférieur / Postérieur : </strong>{{ patient.information.inferieurPosterieur }}</div>
                        <div class="field"><strong>Sans territoire : </strong>{{ patient.information.sansTerritoire }}</div>
                    </div>

                    <h5>Coronarographie (sténose > 50%)</h5>
                    <div class="form-space">
                        <div class="field"><strong>IVA : </strong>{{ patient.information.IVA }}</div>
                        <div class="field"><strong>Diagonale : </strong>{{ patient.information.diagonale }}</div>
                        <div class="field"><strong>Cx : </strong>{{ patient.information.Cx }}</div>
                        <div class="field"><strong>Marginale : </strong>{{ patient.information.marginale }}</div>
                        <div class="field"><strong>CD : </strong>{{ patient.information.CD }}</div>
                        <div class="field"><strong>Pontage : </strong>{{ patient.information.pontage }}</div>
                        <div class="field"><strong>Tronc commun : </strong>{{ patient.information.troncCommun }}</div>
                    </div>

                    <h5>Traitement à la phase aiguë</h5>
                    <div class="form-space">
                        <div class="field">
                            <strong>Traitement : </strong> 
                            {% for t in patient.information.traitementPhaseAigue %}
                                {{ t }}{% if loop.last == false %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <h5>Complications immédiates</h5>
                    <div class="form-space">
                        <div class="field"><strong>Trouble du rythme ventriculaire : </strong>{{ patient.information.troubleRythmeVentriculaire }}</div>
                        <div class="field"><strong>Insuffisance cardiaque : </strong>{{ patient.information.insuffisanceCardiaque }}</div>
                        <div class="field"><strong>Péricardite : </strong>{{ patient.information.pericardite }}</div>
                        <div class="field"><strong>Complication mécanique : </strong>{{ patient.information.complicationMecanique }}</div>
                    </div>

                    <h3 id="accidentVasculaireCerebral">Accident vasculaire cérébral</h3>
                    <div class="form-space">
                        <div class="field"><strong>Localisation : </strong>{{ patient.information.localisation }}</div>
                        <div class="field"><strong>Taille : </strong>{{ patient.information.taille }}</div>
                    </div>

                    <div class="form-space">
                        <div class="field"><strong>Cause potentielle : </strong>{{ patient.information.etiologieAtherosclerose }}</div>
                        <div class="field"><strong>Cause incertaine : </strong>{{ patient.information.etiologieMaladiePetitsArteres }}</div>
                        <div class="field"><strong>Cause improbable : </strong>{{ patient.information.etiologieCardioEmbolique }}</div>
                        <div class="field"><strong>Pathologie absente : </strong>{{ patient.information.etiologieAutreCause }}</div>
                        <div class="field"><strong>Explorations insuffisantes pour statuer : </strong>{{ patient.information.etiologieDissection }}</div>
                    </div>
                </section>

                {#========== FACTEUR ==========#}
                <section class="slide" style="display: block">
                    <h1 id="facteur">Facteurs de risques initiaux</h1>
                    <div class="radio-row">
                        <div class="field"><strong>Antécédent familiaux : </strong>{{ patient.facteur.antecedentFamiliaux }}</div>
                    </div>

                    <div class="form-space">
                        <div class="table-container">
                            <table class="table-custom">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Risques</th>
                                        <th>Depuis</th>
                                        <th>Traité</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="row-header">HTA</td>
                                        <td>{{ patient.facteur.risqueHTA }}</td>
                                        <td>{{ patient.facteur.depuisHTA }}</td>
                                        <td>{{ patient.facteur.traiteHTA }}</td>
                                    </tr>
                                    <tr>
                                        <td class="row-header">Diabète</td>
                                        <td>{{ patient.facteur.risqueDiabete }}</td>
                                        <td>{{ patient.facteur.depuisDiabete }}</td>
                                        <td>{{ patient.facteur.traiteDiabete }}</td>
                                    </tr>
                                    <tr>
                                        <td class="row-header">Hypercholestérolémie</td>
                                        <td>{{ patient.facteur.risqueHypercholesterolemie }}</td>
                                        <td>{{ patient.facteur.depuisHypercholesterolemie }}</td>
                                        <td>{{ patient.facteur.traiteHypercholesterolemie }}</td>
                                    </tr>
                                    <tr>
                                        <td class="row-header">Hypertriglycéridèmie</td>
                                        <td>{{ patient.facteur.risqueHypertriglyceridemie }}</td>
                                        <td>{{ patient.facteur.depuisHypertriglyceridemie }}</td>
                                        <td>{{ patient.facteur.traiteHypertriglyceridemie }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h5>Tabagisme</h5>
                    <div class="form-space column">
                        <div class="field"><strong>État : </strong>{{ patient.facteur.tabagisme }}</div>
                        <div class="field"><strong>Date d'arrêt : </strong>{{ patient.facteur.dateArret is empty ? "" : patient.facteur.dateArret|date("d/m/Y") }}</div>
                        <div class="field"><strong>Nombres de paquets par an : </strong>{{ patient.facteur.nombrePaquetsAn }}</div>
                    </div>

                    <h5>Obésité</h5>
                    <div class="form-space">
                        <div class="field"><strong>État : </strong>{{ patient.facteur.obesite }}</div>
                    </div>

                    <h5>Alcoolisme</h5>
                    <div class="form-space column">
                        <div class="field"><strong>État : </strong>{{ patient.facteur.alcoolisme }}</div>
                        <div class="field"><strong>Sevré : </strong>{{ patient.facteur.sevre }}</div>
                    </div>

                    <h5>Cannabis</h5>
                    <div class="form-space">
                        <div class="field"><strong>État : </strong>{{ patient.facteur.cannabis }}</div>
                    </div>
                </section>

                {% for visite in patient.visites %}

                    <hr class="separator">

                    {#========== VISITE ==========#}
                    <section class="slide" style="display: block">
                        <h1 id={{"visite-" ~ visite.id }}>Visite {{ loop.index }}</h1>
                        <div class="form-space">
                            <div class="field"><strong>Date : </strong>{{ visite.date is empty ? "" : visite.date|date("m/d/Y") }}</div>
                        </div>
                    </section>

                    {#========== EXAMENS ==========#}
                    {#========== Anatomie coronaire ==========#}
                    <section class="slide" style="display: block">
                        <h1 id="bfr">Anatomie coronaire</h1>
                        <div class="form-space">
                            <div class="table-container">
                                <table class="table-custom">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Sténose coronarographie</th>
                                            <th>Sténose coroscanner</th>
                                            <th>FFR</th>
                                            <th>Angioplastie</th>
                                            <th>CMR</th>
                                            <th>IMR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="row-header">IVA</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.stenoseIVA }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.coroscannerIVA }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.ffrIVA }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.angioplastieIVA }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.cmrIVA }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.imrIVA }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">Diagonale</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.stenoseDiagonale }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.coroscannerDiagonale }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.ffrDiagonale }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.angioplastieDiagonale }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.cmrDiagonale }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.imrDiagonale }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">Circonflexe</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.stenoseCirconflexe }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.coroscannerCirconflexe }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.ffrCirconflexe }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.angioplastieCirconflexe }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.cmrCirconflexe }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.imrCirconflexe }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">Postérolatéral</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.stenosePosterolateral }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.coroscannerPosterolateral }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.ffrPosterolateral }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.angioplastiePosterolateral }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.cmrPosterolateral }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.imrPosterolateral }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">Coronaire droite</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.stenoseCoronaireDroite }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.coroscannerCoronaireDroite }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.ffrCoronaireDroite }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.angioplastieCoronaireDroite }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.cmrCoronaireDroite }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.imrCoronaireDroite }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">Pontage</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.stenosePontage }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.coroscannerPontage }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.ffrPontage }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.angioplastiePontage }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.cmrPontage }}</td>
                                            <td>{{ visite.protocole.coronaireAngioplastie.imrPontage }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <h2>Exploration de la charge en athérome coronaire</h2>

                        <h3>Score calcique coronaire</h3>
                        <div class="form-space">
                            <div class="field"><strong>Score calcique coronaire : </strong>{{ visite.protocole.coronaireAngioplastie.scoreCalciqueCoronaire }}</div>
                        </div>

                        <h3>Athérome coronaire</h3>
                        <div class="form-space">
                            <div class="field"><strong>Non analysable devant cac élevé : </strong>{{ visite.protocole.coronaireAngioplastie.nonAnalysable }}</div>
                            <div class="field"><strong>Absence d'athérome : </strong>{{ visite.protocole.coronaireAngioplastie.absenceAtherome }}</div>
                            <div class="field"><strong>Remodelage de la plaque* : </strong>{{ visite.protocole.coronaireAngioplastie.remodelagePlaque }}</div>
                            <div class="field"><strong>Napkin ring* : </strong>{{ visite.protocole.coronaireAngioplastie.napkinRing }}</div>
                            <div class="def">*Remodelage et Napking ring décrit par le radiologue (sont des caractéristiques de plaque à risque)</div>
                        </div>

                        <h3>Plaque</h3>
                        <h5>Caractéristiques</h5>
                        <div class="form-space">
                            <div class="field"><strong>Molle (hyperdense) : </strong>{{ visite.protocole.coronaireAngioplastie.molle }}</div>
                            <div class="field"><strong>Calcaire (hyperdense) : </strong>{{ visite.protocole.coronaireAngioplastie.calcaire }}</div>
                            <div class="field"><strong>Mixte : </strong>{{ visite.protocole.coronaireAngioplastie.mixte }}</div>
                        </div>

                        <h5>Volume</h5>
                        <div class="form-space">
                            <div class="field"><strong>Volume non réalisable (charge trop importante en athérome, cac élevé...) : </strong>{{ visite.protocole.coronaireAngioplastie.volumeNonRealisable }}</div>
                            <div class="field"><strong>Volume plaque hypodense (< 30 UH) bleu : </strong>{{ visite.protocole.coronaireAngioplastie.volumePlaqueHypodense }}</div>
                            <div class="field"><strong>Volume de plaque calcifiée jaune : </strong>{{ visite.protocole.coronaireAngioplastie.volumePlaqueCalcifiee }}</div>
                            <div class="field"><strong>Volume plaque non calcifiée non hypodense rose : </strong>{{ visite.protocole.coronaireAngioplastie.volumePlaque }}</div>
                            <div class="field"><strong>Volume total de plaque (bleu + jaune + rose) : </strong>{{ visite.protocole.coronaireAngioplastie.volumeTotalPlaque }}</div>
                        </div>
                    </section>

                    {#========== Bilan biologique et risque (BRF) ==========#}
                    <section class="slide" style="display: block">
                        <h1 id="bfr">Bilan biologique et risque</h1>

                        <div class="form-space column">
                            <div class="field"><strong>Taille (en cm): </strong>{{ visite.protocole.BFR.taille }}</div>
                            <div class="field"><strong>Poids (en kg): </strong>{{ visite.protocole.BFR.poids }}</div>
                            <div class="field"><strong>Tour de taille (en cm): </strong>{{ visite.protocole.BFR.tourTaille }}</div>
                            {% if visite.protocole.BFR.taille != 0 %}
                                <div class="field"><strong>IMC : </strong>{{ visite.protocole.BFR.poids / (visite.protocole.BFR.taille ** 2) }}</div>
                            {% endif %}
                        </div>

                        <h3 id="tensionArterielle">Tension artérielle</h3>
                        <div class="form-space column">
                            <div class="field"><strong>Systolique jour (en mmHg) : </strong>{{ visite.protocole.BFR.tensionArterielleSystoliqueJour }}</div>
                            <div class="field"><strong>Diastolique jour (en mmHg) : </strong>{{ visite.protocole.BFR.tensionArterielleDiastoliqueJour }}</div>
                            <div class="field"><strong>Systolique nuit (en mmHg) : </strong>{{ visite.protocole.BFR.tensionArterielleSystoliqueNuit }}</div>
                            <div class="field"><strong>Diastolique nuit (en mmHg) : </strong>{{ visite.protocole.BFR.tensionArterielleDiastoliqueNuit }}</div>
                        </div>
                        <div class="form-space">
                            <div class="field"><strong>HVG : </strong>{{ visite.protocole.BFR.HVG }}</div>
                        </div>

                        <h3 id="dyslipidemie">Dyslipidémie</h3>
                        <div class="form-space column">
                            <div class="field"><strong>Cholestérol total (en g/L) : </strong>{{ visite.protocole.BFR.cholesterolTotal }}</div>
                            <div class="field"><strong>Triglicérides (en g/L) : </strong>{{ visite.protocole.BFR.triglicerides }}</div>
                            <div class="field"><strong>HDL-C (en g/L) : </strong>{{ visite.protocole.BFR.HDLC }}</div>
                            <div class="field"><strong>LDL-C (en g/L) : </strong>{{ visite.protocole.BFR.LDLC }}</div>
                            <div class="field"><strong>Score de DUTCH : </strong>{{ visite.protocole.BFR.scoreDUTCH }}</div>
                        </div>

                        <h3 id="activite-physique">Tabagisme</h3>
                        <div class="form-space column">
                            <div class="field"><strong>État : </strong>{{ visite.protocole.BFR.tabagisme }}</div>
                            <div class="field"><strong>Date d'arrêt : </strong>{{ visite.protocole.BFR.dateArret is empty ? "" : visite.protocole.BFR.dateArret|date("d/m/Y") }}</div>
                            <div class="field"><strong>Nombres de paquets par an : </strong>{{ visite.protocole.BFR.nombrePaquetsAn }}</div>
                        </div>

                        <h3 id="diabete">Diabète</h3>
                        <div class="form-space column">
                            <div class="field"><strong>Type : </strong>{{ visite.protocole.BFR.diabeteType }}</div>
                            <div class="field"><strong>Depuis : </strong>{{ visite.protocole.BFR.diabeteDepuis }}</div>
                            <div class="field"><strong>Glycémie ajeûn : </strong>{{ visite.protocole.BFR.glycemieAjeun }}</div>
                            <div class="field"><strong>Glycémie post prandiale : </strong>{{ visite.protocole.BFR.glycemiePostPrandiale }}</div>
                            <div class="field"><strong>Hba1c : </strong>{{ visite.protocole.BFR.Hba1c }}</div>
                            <div class="field"><strong>Fond d'oeil : </strong>{{ visite.protocole.BFR.fondOeil }}</div>
                            <div class="field"><strong>Neuropathie clinique (DN4) : </strong>{{ visite.protocole.BFR.neuropathieClinique }}</div>
                        </div>
                        <div class="form-space column">
                            <div class="field"><strong>Neuroesthésiométrie pied droit (en volt) : </strong>{{ visite.protocole.BFR.neuroesthesiometriePiedDroit }}</div>
                            <div class="field"><strong>Neuroesthésiométrie pied gauche (en volt) : </strong>{{ visite.protocole.BFR.neuroesthesiometriePiedGauche }}</div>
                        </div>


                        <h3 id="bilan-renal">Bilan rénal</h3>
                        <div class="form-space column">
                            <div class="field"><strong>Créatinine : </strong>{{ visite.protocole.BFR.creatinine }}</div>
                            <div class="field"><strong>Débit de filtration glomerulaire CK-EPI : </strong>{{ visite.protocole.BFR.debitFiltrationGlomerulaire }}</div>
                            <div class="field"><strong>Microalbuminurie : </strong>{{ visite.protocole.BFR.microAlbuminurie }}</div>
                            <div class="field"><strong>Protéinurie : </strong>{{ visite.protocole.BFR.proteinurie }}</div>
                        </div>

                        <h3 id="bilan-hepatique">Bilan hépatique</h3>
                        <div class="form-space column">
                            <div class="field"><strong>Transaminases ASAT : </strong>{{ visite.protocole.BFR.transaminasesASAT }}</div>
                            <div class="field"><strong>Transaminases ALAT : </strong>{{ visite.protocole.BFR.transaminasesALAT }}</div>
                            <div class="field"><strong>Gamma GT : </strong>{{ visite.protocole.BFR.gamma }}</div>
                        </div>

                        <h3 id="facteur-thrombogeniques">Facteur thrombogéniques</h3>
                        <div class="form-space column">
                            <div class="field"><strong>Fibrinogène : </strong>{{ visite.protocole.BFR.fibrinogene }}</div>
                            <div class="field"><strong>CRP : </strong>{{ visite.protocole.BFR.CRP }}</div>
                            <div class="field"><strong>Hémoglobine : </strong>{{ visite.protocole.BFR.hemoglobine }}</div>
                            <div class="field"><strong>VGM : </strong>{{ visite.protocole.BFR.VGM }}</div>
                            <div class="field"><strong>Plaquettes : </strong>{{ visite.protocole.BFR.plaquettes }}</div>
                        </div>

                        <h3 id="activite-physique">Thyroïde</h3>
                        <div class="form-space column">
                           <div class="field"><strong>TSH : </strong>{{ visite.protocole.BFR.TSH }}</div>
                        </div>

                        <h3 id="activite-physique">Activité physique</h3>
                        <div class="form-space">
                           <div class="field"><strong>Activité physique : </strong>{{ visite.protocole.BFR.activitePhysique }}</div>
                        </div>

                        <h3 id="alimentation">Alimentation</h3>
                        <div class="form-space field">
                            <strong>Alimentation : </strong> 
                            {% for t in visite.protocole.BFR.alimentation %}
                                {{ t }}{% if loop.last == false %}, {% endif %}
                            {% endfor %}
                            <div class="alimentation"></div>
                        </div>
                    </section>

                    {#========== Échocardiographie repos/effort ==========#}
                    <section class="slide" style="display: block">
                        <h1 id="bfr">Échocardiographie repos/effort</h1>
                        <div class="form-space">
                            <div class="table-container">
                                <table class="table-custom">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Repos</th>
                                            <th>Effort</th>
                                            <th>Nombre de segments</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="row-header">IVA</td>
                                            <td>{{ visite.protocole.echographie.reposIVA }}</td>
                                            <td>{{ visite.protocole.echographie.effortIVA }}</td>
                                            <td>{{ visite.protocole.echographie.nbSegmentIVA }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">Diagonale</td>
                                            <td>{{ visite.protocole.echographie.reposCX }}</td>
                                            <td>{{ visite.protocole.echographie.effortCX }}</td>
                                            <td>{{ visite.protocole.echographie.nbSegmentCX }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">Circonflexe</td>
                                            <td>{{ visite.protocole.echographie.reposCD }}</td>
                                            <td>{{ visite.protocole.echographie.effortCD }}</td>
                                            <td>{{ visite.protocole.echographie.nbSegmentCD }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-space">
                            <div class="field"><strong>Fraction d'éjection (en %) : </strong>{{ visite.protocole.echographie.fractionEjection }}</div>
                        </div>
                    </section>

                    {#========== Échographie vasculaire ==========#}
                    <section class="slide" style="display: block">
                        <h1 id="bfr">Échographie vasculaire</h1>
                        <h3 id="tsa">Schéma TSA</h3>
                        <div class="form-space schema-tsa">
                            <img src={{ asset('assets/images/tsa.png') }} alt="Schéma TSA"/>
                            <div class="field" id="carotideInterneDroite"><strong>Carotide interne droite : </strong>{{ visite.protocole.echographieVasculaire.carotideInterneDroite }}</div>
                            <div class="field" id="carotideInterneGauche"><strong>Carotide interne gauche : </strong>{{ visite.protocole.echographieVasculaire.carotideInterneGauche }}</div>
                            <div class="field" id="EIMDroit"><strong>EIM droit : </strong>{{ visite.protocole.echographieVasculaire.EIMDroit }}</div>
                            <div class="field" id="EIMGauche"><strong>EIM gauche : </strong>{{ visite.protocole.echographieVasculaire.EIMGauche }}</div>
                            <div class="field" id="vertebraleDroite"><strong>Vertébrale droite : </strong>{{ visite.protocole.echographieVasculaire.vertebraleDroite }}</div>
                            <div class="field" id="vertebraleGauche"><strong>Vertébrale gauche : </strong>{{ visite.protocole.echographieVasculaire.vertebraleGauche }}</div>
                            <div class="field" id="carotideCommuneDroite"><strong>Carotide commune droite : </strong>{{ visite.protocole.echographieVasculaire.carotideCommuneDroite }}</div>
                            <div class="field" id="carotideCommuneGauche"><strong>Carotide commune gauche : </strong>{{ visite.protocole.echographieVasculaire.carotideCommuneGauche }}</div>
                            <div class="field" id="sousClaviereDroite"><strong>Sous-clavière droite : </strong>{{ visite.protocole.echographieVasculaire.sousClaviereDroite }}</div>
                            <div class="field" id="sousClaviereGauche"><strong>Sous-clavière gauche : </strong>{{ visite.protocole.echographieVasculaire.sousClaviereGauche }}</div>
                            <div class="field" id="TSAAorte"><strong>Aorte : </strong>{{ visite.protocole.echographieVasculaire.TSAAorte }}</div>

                            <div class="field" id="volumeCarotideDroite"><strong>Volume carotide droite : </strong>{{ visite.protocole.echographieVasculaire.volumeCarotideDroite }}</div>
                            <div class="field" id="volumeCarotideGauche"><strong>Volume carotide gauche : </strong>{{ visite.protocole.echographieVasculaire.volumeCarotideGauche }}</div>
                            <div class="field" id="chargeAtheromeTotale"><strong>Charge en athérome totale : </strong>{{ visite.protocole.echographieVasculaire.chargeAtheromeTotale }}</div>
                        </div>

                        <h3 id="membres-inferieur">Schéma membres inférieur</h3>
                        <div class="form-space schema-membres-inferieur">
                            <img src={{ asset('assets/images/membres_inferieur.jpg') }} alt="Schéma membres inférieur"/>
                            <div class="field" id="membresInferieurAorte"><strong>Diamètre aorte : </strong>{{ visite.protocole.echographieVasculaire.membresInferieurAorte }}</div>
                            <div class="field" id="iliaqueDroite"><strong>Iliaque droite : </strong>{{ visite.protocole.echographieVasculaire.iliaqueDroite }}</div>
                            <div class="field" id="iliaqueGauche"><strong>Iliaque gauche : </strong>{{ visite.protocole.echographieVasculaire.iliaqueGauche }}</div>
                            <div class="field" id="femoraleCommuneDroite"><strong>Fémorale commune droite : </strong>{{ visite.protocole.echographieVasculaire.femoraleCommuneDroite }}</div>
                            <div class="field" id="femoraleCommuneGauche"><strong>Fémorale commune gauche : </strong>{{ visite.protocole.echographieVasculaire.femoraleCommuneGauche }}</div>
                            <div class="field" id="femoraleSuperficielleDroite"><strong>Fémorale superficielle droite : </strong>{{ visite.protocole.echographieVasculaire.femoraleSuperficielleDroite }}</div>
                            <div class="field" id="femoraleSuperficielleGauche"><strong>Fémorale superficielle gauche : </strong>{{ visite.protocole.echographieVasculaire.femoraleSuperficielleGauche }}</div>
                            <div class="field" id="popliteDroite"><strong>Poplite droite : </strong>{{ visite.protocole.echographieVasculaire.popliteDroite }}</div>
                            <div class="field" id="popliteGauche"><strong>Poplite gauche : </strong>{{ visite.protocole.echographieVasculaire.popliteGauche }}</div>
                            <div class="field" id="axesJambiersDroits"><strong>Axes jambiers droits : </strong>{{ visite.protocole.echographieVasculaire.axesJambiersDroits }}</div>
                            <div class="field" id="axesJambiersGauches"><strong>Axes jambiers gauches : </strong>{{ visite.protocole.echographieVasculaire.axesJambiersGauches }}</div>
                        </div>

                        <div class="form-space">
                            <div class="column">
                                <div class="field"><strong>IPS repos droit : </strong>{{ visite.protocole.echographieVasculaire.IPSReposDroit }}</div>
                                <div class="field"><strong>IPS repos gauche : </strong>{{ visite.protocole.echographieVasculaire.IPSReposGauche }}</div>
                            </div>

                            <div class="column">
                                <div class="field"><strong>IPS repos gros orteil droit : </strong>{{ visite.protocole.echographieVasculaire.IPSGrosOrteilDroit }}</div>
                                <div class="field"><strong>IPS repos gros orteil gauche : </strong>{{ visite.protocole.echographieVasculaire.IPSGrosOrteilGauche }}</div>
                            </div>

                            <div class="form-space">
                                <div class="field"><strong>Test de Strandness: distance de première gêne : </strong>{{ visite.protocole.echographieVasculaire.testStrandnessDistanceGene }}</div>
                                <div class="field"><strong>Test de Strandness: distance max * : </strong>{{ visite.protocole.echographieVasculaire.testStrandnessDistanceMax }}</div>
                                <div class="def">* compris entre 0 et 1000, 9999 si non réalisé</div>
                            </div>
                            <div class="form-space">
                                <div class="field"><strong>Arrêt pour : </strong>{{ visite.protocole.echographieVasculaire.arretPour }}</div>
                            </div>

                            <div class="column">
                                <div class="field"><strong>IPS effort droit : </strong>{{ visite.protocole.echographieVasculaire.IPSEffortDroit }}</div>
                                <div class="field"><strong>IPS effort gauche : </strong>{{ visite.protocole.echographieVasculaire.IPSEffortGauche }}</div>
                            </div>

                            <div class="form-space column">
                                <div class="field"><strong>Vélocité de l'onde pouls : </strong>{{ visite.protocole.echographieVasculaire.vitesseOndePouls }}</div>
                            </div>
                        </div>
                    </section>

                    {#========== Médicaments ==========#}
                    <section class="slide" style="display: block">
                        <h1 id="bfr">Médicaments</h1>
                        <div class="form-space">
                            <div class="field"><strong>Nombre d'unités de prise de médicament (par semaine) : </strong>{{ visite.protocole.medicamentsEntree.NbMedicamentSemaine }}</div>
                            <div class="field"><strong>Délai depuis la mise sous traitement (en mois) : </strong>{{ visite.protocole.medicamentsEntree.DelaiSousTraitement }}</div>

                            <div class="field"><strong>Pilulier : </strong>{{ visite.protocole.medicamentsEntree.pilulier }}</div>
                            <div class="field">
                                <strong>Gestion des médicaments : </strong> 
                                {% for t in visite.protocole.medicamentsEntree.gestionMedicaments %}
                                    {{ t }}{% if loop.last == false %}, {% endif %}
                                {% endfor %}
                            </div>
                            <div class="field"><strong>Satisfaction pratique de la prise de traitement : </strong>{{ visite.protocole.medicamentsEntree.satisfaction }}</div>
                            <div class="field"><strong>Connaissance de la durée de traitement : </strong>{{ visite.protocole.medicamentsEntree.ConnaissanceDureeTraitement }}</div>

                            <div class="field"><strong>Score échelle adhésion Mascard (/5) : </strong>{{ visite.protocole.medicamentsEntree.scoreMasCard }}</div>
                        </div>
                    </section>

                    {#========== NeuroPsychologie ==========#}
                    <section class="slide" style="display: block">
                        <h1 id="bfr">Neuro-psychologie</h1>
                        <div class="field"><strong>Rankin* : </strong>{{ visite.protocole.neuroPsychologie.rankin }}</div>
                        <div class="form-space column">
                            <div class="field"><strong>MMSE* : </strong>{{ visite.protocole.neuroPsychologie.MMSE }}</div>
                            <div class="field"><strong>MOCA* : </strong>{{ visite.protocole.neuroPsychologie.MOCA }}</div>
                        </div>

                        <div class="form-space column">
                            <div class="field"><strong>HAD anxiété* : </strong>{{ visite.protocole.neuroPsychologie.HADAnxiete }}</div>
                            <div class="field"><strong>HAD dépression* : </strong>{{ visite.protocole.neuroPsychologie.HADDepression }}</div>
                            <div class="def">* compris entre 0 et 1000, 9999 si non réalisé</div>	
                        </div>

                        <div class="form-space">
                            <div class="field"><strong>Barrière langue : </strong>{{ visite.protocole.neuroPsychologie.barriereLangue }}</div>
                            <div class="field"><strong>Niveau socio-éducatif : </strong>{{ visite.protocole.neuroPsychologie.niveauSocioEducatif }}</div>
                            <div class="field"><strong>Aphasie : </strong>{{ visite.protocole.neuroPsychologie.aphasie }}</div>
                            <div class="field"><strong>Difficultés mouvement fin : </strong> {{ visite.protocole.neuroPsychologie.difficultesMouvementFin }}</div>
                        </div>
                    </section>

                    {#========== Scintigraphie ==========#}
                    <section class="slide" style="display: block">
                        <h1 id="bfr">Scintigraphie</h1>
                        <div class="form-space">
                            <div class="table-container">
                                <table class="table-custom table-scintigraphie">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th colspan="2">Analyse visuelle</th>
                                            <th colspan="2">Débit</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th>Repos</th>
                                            <th>Régadénoson</th>
                                            <th>Repos</th>
                                            <th>Régadénoson</th>
                                            <th>Réserve</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="row-header">IVA</td>
                                            <td>{{ visite.protocole.scintigraphie.reposAnalyseVisuelleIVA }}</td>
                                            <td>{{ visite.protocole.scintigraphie.regadenosonAnalyseVisuelleIVA }}</td>
                                            <td>{{ visite.protocole.scintigraphie.reposDebitIVA }}</td>
                                            <td>{{ visite.protocole.scintigraphie.regadenosonDebitIVA }}</td>
                                            <td>{{ visite.protocole.scintigraphie.reserveIVA }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">CX</td>
                                            <td>{{ visite.protocole.scintigraphie.reposAnalyseVisuelleCX }}</td>
                                            <td>{{ visite.protocole.scintigraphie.regadenosonAnalyseVisuelleCX }}</td>
                                            <td>{{ visite.protocole.scintigraphie.reposDebitCX }}</td>
                                            <td>{{ visite.protocole.scintigraphie.regadenosonDebitCX }}</td>
                                            <td>{{ visite.protocole.scintigraphie.reserveCX }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">CD</td>
                                            <td>{{ visite.protocole.scintigraphie.reposAnalyseVisuelleCD }}</td>
                                            <td>{{ visite.protocole.scintigraphie.regadenosonAnalyseVisuelleCD }}</td>
                                            <td>{{ visite.protocole.scintigraphie.reposDebitCD }}</td>
                                            <td>{{ visite.protocole.scintigraphie.regadenosonDebitCD }}</td>
                                            <td>{{ visite.protocole.scintigraphie.reserveCD }}</td>
                                        </tr>
                                        <tr>
                                            <td class="row-header">Total</td>
                                            <td></td>
                                            <td></td>
                                            <td>{{ visite.protocole.scintigraphie.reposDebitTotal }}</td>
                                            <td>{{ visite.protocole.scintigraphie.regadenosonDebitTotal }}</td>
                                            <td>{{ visite.protocole.scintigraphie.reserveTotal }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-space">
                            <div class="field"><strong>Fraction d'éjection sous régadénoson (en %) : </strong>{{ visite.protocole.scintigraphie.fractionEjection }}</div>
                        </div>
                    </section>

                    {#========== Suivi ==========#}
                    <section class="slide" style="display: block">
                        <h1 id="bfr">Suivi</h1>
                        <h3 id="recidive">Récidive</h3>
                        <div class="form-space">
                            <div class="field"><strong>Récidive d’événement cardiovasculaire : </strong>{{ visite.protocole.suivi.recidive }}</div>
                            <div class="field"><strong>Date de survenue : </strong>{{ visite.protocole.suivi.dateSurvenue is empty ? "" : visite.protocole.suivi.dateSurvenue|date("m/d/Y") }}</div>
                            <div class="field"><strong>Type d'événement : </strong>{{ visite.protocole.suivi.type }}</div>
                        </div>

                        <h3 id="clinique">Clinique</h3>
                        <div class="form-space">
                            <div class="field"><strong>Dyspnée : </strong>{{ visite.protocole.suivi.dyspnee }}</div>
                            <div class="field"><strong>Douleur thoracique : </strong>{{ visite.protocole.suivi.douleur }}</div>
                        </div>

                        <h3 id="facteur">Facteurs de risque cardiovasculaire</h3>
                        <div class="form-space">
                            <div class="field"><strong>Tabac : </strong>{{ visite.protocole.suivi.tabac }}</div>
                            <div class="field"><strong>Activité physique : </strong>{{ visite.protocole.suivi.activite }}</div>
                            <div class="form-space field">
                                <strong>Alimentation : </strong> 
                                {% for t in visite.protocole.suivi.alimentation %}
                                    {{ t }}{% if loop.last == false %}, {% endif %}
                                {% endfor %}
                                <div class="alimentation"></div>
                            </div>
                        </div>
                        <div class="form-space column">
                            {% for qcm in visite.protocole.suivi.facteurs %}
                                <div class="field"><strong>{{constants_labels["SUIVI_FACTEUR"][ loop.index0 ]}} : </strong>{{ qcm.response }}</div>
                            {% endfor %}
                        </div>

                        <h3 id="place">Traitement mis en place suite à l'évènement cardiovasculaire</h3>
                        <div class="form-space column">
                            {% for qcm in visite.protocole.suivi.traitement %}
                                <div class="field"><strong>{{constants_labels["SUIVI_TRAITEMENT"][ loop.index0 ]}} : </strong>{{ qcm.response }}</div>
                            {% endfor %}
                        </div>

                        <h3 id="biologie">Biologie</h3>
                        <div class="form-space">
                            <div class="field"><strong>Débit de filtration glomerulaire CK-EPI : </strong>{{ visite.protocole.suivi.debitFiltrationGlomerulaire }}</div>
                        </div>
                        
                        <h5>Inflammation</h5>
                        <div class="form-space">
                            <div class="field"><strong>CRP ultra-sensible : </strong>{{ visite.protocole.suivi.crp }}</div>
                        </div>

                        <h5>Bilan lipidique</h5>
                        <div class="form-space">
                            <div class="field"><strong>Triglycérides : </strong>{{ visite.protocole.suivi.triglycerides }}</div>
                            <div class="field"><strong>LDL-c : </strong>{{ visite.protocole.suivi.ldl }}</div>
                            <div class="field"><strong>HDL-c : </strong>{{ visite.protocole.suivi.hdl }}</div>
                        </div>
                        
                        <h5>HbA1c</h5>
                        <div class="form-space">
                            <div class="field"><strong>HbA1c : </strong>{{ visite.protocole.suivi.hba1c }}</div>
                        </div>
                    </section>

                    {#========== Test d'effort ==========#}
                    <section class="slide" style="display: block">
                        <h1 id="bfr">Test d'effort</h1>
                        <div class="form-space column">
                            <div class="field"><strong>Maquillé : </strong>{{ visite.protocole.testEffort.maquille }}</div>
                            <div class="field"><strong>Type : </strong>{{ visite.protocole.testEffort.type }}</div>
                        </div>
                        <div class="form-space">
                            <div class="field"><strong>Durée totale (en min) : </strong>{{ visite.protocole.testEffort.duree }}</div>
                            <div class="field"><strong>Watts : </strong>{{ visite.protocole.testEffort.watts }}</div>
                        </div>
                        <div class="form-space column">
                            <div class="field"><strong>Symptomes : </strong>{{ visite.protocole.testEffort.symptomes }}</div>
                            <div class="field"><strong>% de la fréq. max : </strong>{{ visite.protocole.testEffort.frequenceMaxPercent }}</div>
                            <div class="field"><strong>ECG modifié : </strong>{{ visite.protocole.testEffort.ECGModifie }}</div>
                            <div class="field"><strong>Mesure : </strong>{{ visite.protocole.testEffort.mesure }}</div>
                        </div>
                    </section>

                {% endfor %}

            </main>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vendor/html2canvas.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jspdf.umd.js') }}"></script>

    <script>
        /*
        * COPY
        **********************************************************************/
        $('#copy').click(function() {
            $(".letter__content").select();
            document.execCommand('copy');
        });

        /*
        * Clean
        **********************************************************************/
        function cleanTable() {
            $.each($('.table-container'), function(i, table) {
                $.each($(table).find('tbody tr'), function(j, line) {
                    let colEmpty = 0;
                    $.each($(line).find('td'), function(k, col) {
                        let t = col.textContent.replace(/^\s+|\s+$/g, '').trim();
                        if (t.length) colEmpty++;
                    });
                    if (colEmpty <= 1) line.remove();
                });
                if ($(table).find('tbody tr').length == 0) table.remove();
            });
        }

        function clean() {
            //remove empty field
            $.each($('.letter__content .field'), function(i, elem) {
                let length = elem.childNodes.length
                $.each(elem.childNodes, function(j, node) {
                    let t = node.textContent.replace(/^\s+|\s+$/g, '').trim();
                    if (!t) length--;
                });
                if (length <= 1) elem.remove();
            });

            $.each($('.letter__content .form-space'), function(i, elem) {
                if ($(elem).children().length == 0) elem.remove();
                if ($(elem).children().length == 1 && $(elem).has('.def').length) elem.remove();
            });

            $.each($('.letter__content h5'), function(i, elem) {
                if ($(elem).nextUntil('h5').length == 0
                    || $(elem).nextUntil('h3').length == 0
                    || $(elem).nextUntil('section').length == 0) elem.remove();
            });

            $.each($('.letter__content h3'), function(i, elem) {
                if ($(elem).nextUntil('h3').length == 0 || $(elem).nextUntil('section').length == 0) elem.remove();
            });

            $.each($('.letter__content h2'), function(i, elem) {
                if ($(elem).nextUntil('h2').length == 0 || $(elem).nextUntil('section').length == 0) elem.remove();
            });

            $.each($('.letter__content h1'), function(i, elem) {
                if ($(elem).nextUntil('h1').length == 0 || $(elem).nextUntil('section').length == 0) elem.remove();
            });
        }

        cleanTable();
        clean();

        /*
        * HTML TO PDF
        **********************************************************************/
       window.jsPDF = window.jspdf.jsPDF;

        $('#export').on('click', function () {
            // createPDFObject();
            buildPDF();
        });

        function buildPDF() {
            const input = document.getElementById('print');
            const pdf = new jsPDF({
                orientation: '',
                unit: 'pt',
                format: 'a4'
            });

            $('.letter__content').css("font-family", "Arial, sans-serif")

            let srcwidth = document.getElementById('print').scrollWidth;
            let date = new Date().
                toLocaleString('fr-FR', {year: 'numeric', month: '2-digit', day: '2-digit'}).
                replace(/(\d+)\/(\d+)\/(\d+)/, '$1-$2-$3');

            pdf
                .html(input, {
                    callback: function (pdf) {
                        pdf.save("Horus_{{patient.general.nom}}-{{patient.general.prenom}}_" + date + ".pdf");
                        $('.letter__content').css("font-family", "Ubuntu-Regular, sans-serif");
                    },
                    margin: [15, 15, 15, 15],
                    autoPaging: 'text',
                    html2canvas: {
                        scale: (595.26 - 30) / srcwidth, //595.26 is the width of A4 page
                        scrollY: 0,
                    }
                })
                .then(() => {
                    const pageCount = pdf.internal.getNumberOfPages();
                    const pageWidth = pdf.internal.pageSize.getWidth();
                    var pageHeight = pdf.internal.pageSize.getHeight();

                    //loop to set header/ footer, style, alignment, text style to the page
                    for (let i = 1; i <= pageCount; i++) {
                        pdf.rect(
                            0,
                            0,
                            pdf.internal.pageSize.width,
                            pdf.internal.pageSize.height,
                            'S',
                        );
                        pdf.setPage(i);
                    };
                });
        }

        function createPDFObject() {
            html2canvas($(".letter__content")[0]).then(function(canvas) {
                    var contentWidth = canvas.width;
                    var contentHeight = canvas.height;

                    //One page pdf shows the height of canvas generated by html page;
                    var pageHeight = contentWidth / 595.28 * 841.89;
                    //html page height without pdf generation
                    var leftHeight = contentHeight;
                    //Page offset
                    var position = 0;
                    //a4 paper size [595.28;841.89], width and height of image in pdf of canvas generated by html page
                    var imgWidth = 595.28; 
                    var imgHeight = 595.28 / contentWidth * contentHeight;
                    console.log(pageHeight, leftHeight, imgHeight);

                    //Return picture dataURL, parameters: picture format and sharpness (0-1)
                    var pageData = canvas.toDataURL('image/jpeg', 1.0);

                    //Direction is vertical by default, dimension ponits, format A4 [595.28;841.89]
                    var pdf = new jsPDF('', 'pt', 'a4');

                    //There are two heights to distinguish, one is the actual height of the html page, and the height of the generated pdf page (841.89)
                    //When the content does not exceed the display range of one page of pdf, paging is not required
                    var margin = 25;
                    if (leftHeight + (margin * 2) < pageHeight) {
                        pdf.addImage(pageData, 'JPEG', margin, margin, imgWidth - (margin * 2), imgHeight);
                    } else {
                        while (leftHeight > 0) {
                            pdf.addImage(pageData, 'JPEG', margin, position + margin, imgWidth - (margin * 2), imgHeight - (margin * 2))
                            
                            pdf.setLineWidth(25);
                            pdf.setDrawColor(255, 0, 0);
                            pdf.rect(margin / 2, margin / 2, 595.28 - margin, 841.89 - margin);

                            leftHeight -= pageHeight - (margin * 2);
                            position -= 841.89 - (margin * 2);
                            //Avoid adding blank pages
                            if (leftHeight > 0) {
                                pdf.addPage();
                            }
                        }
                    }
                    let date = new Date().
                        toLocaleString('fr-FR', {year: 'numeric', month: '2-digit', day: '2-digit'}).
                        replace(/(\d+)\/(\d+)\/(\d+)/, '$1-$2-$3');
                    pdf.save("Horus_{{patient.general.nom}}-{{patient.general.prenom}}_" + date + ".pdf");
                }
            );
        }
    </script>
{% endblock %}
