<h1 id="anatomie-coronaire">Anatomie coronaire</h1>

<div class="form-space">
	<div class="table-container">
		<table class="table-custom table-anatomieCoronaire">
			<thead>
				<tr>
					<th></th>
					<th>Sténose coronarographie</th>
					<th>Sténose coroscanner</th>
					<th>FFR</th>
					<th>Angioplastie</th>
					<th>CMR</th>
					<th>IMR</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="row-header">IVA</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.stenoseIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.coroscannerIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.ffrIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.angioplastieIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.cmrIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.imrIVA, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Diagonale</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.stenoseDiagonale, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.coroscannerDiagonale, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.ffrDiagonale, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.angioplastieDiagonale, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.cmrDiagonale, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.imrDiagonale, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Circonflexe</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.stenoseCirconflexe, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.coroscannerCirconflexe, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.ffrCirconflexe, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.angioplastieCirconflexe, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.cmrCirconflexe, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.imrCirconflexe, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Postérolatéral</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.stenosePosterolateral, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.coroscannerPosterolateral, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.ffrPosterolateral, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.angioplastiePosterolateral, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.cmrPosterolateral, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.imrPosterolateral, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Coronaire droite</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.stenoseCoronaireDroite, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.coroscannerCoronaireDroite, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.ffrCoronaireDroite, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.angioplastieCoronaireDroite, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.cmrCoronaireDroite, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.imrCoronaireDroite, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Pontage</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.stenosePontage, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.coroscannerPontage, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.ffrPontage, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.angioplastiePontage, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.cmrPontage, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.anatomieCoronaire.imrPontage, {'attr': {'class': 'input'} }) }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2>Exploration de la charge en athérome coronaire</h2>

<h3>Score calcique coronaire</h3>
{{ form_row(form.protocole.anatomieCoronaire.scoreCalciqueCoronaire, {'attr': {'class': 'input'} }) }}

<h3>Athérome coronaire</h3>
<div class="form-space">
	{{ form_row(form.protocole.anatomieCoronaire.nonAnalysable, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.anatomieCoronaire.absenceAtherome, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.anatomieCoronaire.remodelagePlaque, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.anatomieCoronaire.napkinRing, {'attr': {'class': 'input radio-row'} }) }}
	<div class="def">*Remodelage et Napking ring décrit par le radiologue (sont des caractéristiques de plaque à risque)</div>
</div>

<h3>Plaque</h3>
<h5>Caractéristiques</h5>
<div class="form-space">
	{{ form_row(form.protocole.anatomieCoronaire.molle, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.anatomieCoronaire.calcaire, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.anatomieCoronaire.mixte, {'attr': {'class': 'input radio-row'} }) }}
</div>

<h5>Volume</h5>
<div class="form-space">
	{{ form_row(form.protocole.anatomieCoronaire.volumeNonRealisable, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.anatomieCoronaire.volumeCoronaireTotal, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.anatomieCoronaire.volumePlaqueHypodense, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.anatomieCoronaire.volumePlaqueCalcifiee, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.anatomieCoronaire.volumePlaque, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.anatomieCoronaire.volumeTotalPlaque, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

{{ form_row(form.protocole.anatomieCoronaire.save, {'attr': {'class': 'form-btn btn-save', 'disabled': freezeDatabase, 'disabled': freezeDatabase} }) }}
