<h1 id="bfr">Bilan biologique et risque</h1>
<h3 id="biometrie">Biométrie</h3>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.taille, {'attr': {'class': 'input bfr_taille'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.poids, {'attr': {'class': 'input bfr_poids'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.tourTaille, {'attr': {'class': 'input'}, 'useStyle': true }) }}

	<div class="wrap-input">
		<label for="bfr_IMC">
			<span></span>
			<em>IMC</em>
		</label>
		<div class="flex">
			<div class="form-input">
				<input disabled type="number" id="bfr_IMC" name="bfr[IMC]" unity="" data-min="0" data-max="0" class="input bfr_IMC">
				<span class="focus-input"></span>
			</div>
		</div>
	</div>
</div>

<h3 id="tensionArterielle">Tension artérielle</h3>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.tensionArterielleSystoliqueJour, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.tensionArterielleDiastoliqueJour, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.tensionArterielleSystoliqueNuit, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.tensionArterielleDiastoliqueNuit, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>
{{ form_row(form.protocole.BFR.HVG, {'attr': {'class': 'input'} }) }}

<h3 id="dyslipidemie">Dyslipidémie</h3>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.cholesterolTotal, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.triglicerides, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.HDLC, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.LDLC, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.scoreDUTCH, {'attr': {'class': 'input'} }) }}
</div>

<h3 id="activite-physique">Tabagisme</h3>
<div class="form-space">
	<div class="column">
		{{ form_row(form.protocole.BFR.tabagisme, {'attr': {'class': 'input'} }) }}
		{{ form_row(form.protocole.BFR.dateArret, {'attr': {'class': 'input js-datepicker'} }) }}
		{{ form_row(form.protocole.BFR.nombrePaquetsAn, {'attr': {'class': 'input'} }) }}
	</div>
</div>

<h3 id="diabete">Diabète</h3>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.diabeteType, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.BFR.diabeteDepuis, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.BFR.glycemieAjeun, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.hba1c, {'attr': {'class': 'input'}, 'useStyle': true }) }}

	{{ form_row(form.protocole.BFR.neuropathieClinique, {'attr': {'class': 'input'} }) }}
</div>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.neuroesthesiometriePiedDroit, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.neuroesthesiometriePiedGauche, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.fondOeil, {'attr': {'class': 'input'} }) }}
</div>

<h3 id="bilan-renal">Bilan rénal</h3>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.creatinine, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.debitFiltrationGlomerulaire, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.BFR.microAlbuminurie, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.proteinurie, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

<h3 id="bilan-hepatique">Bilan hépatique</h3>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.transaminasesASAT, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.transaminasesALAT, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.gamma, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

<h3 id="facteur-thrombogeniques">Facteur thrombogéniques</h3>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.fibrinogene, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.CRP, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.hemoglobine, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.BFR.VGM, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.BFR.plaquettes, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

<h3 id="activite-physique">Thyroïde</h3>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.TSH, {'attr': {'class': 'input'} }) }}
</div>

<h3 id="activite-physique">Activité physique</h3>
<div class="form-space column">
	{{ form_row(form.protocole.BFR.activitePhysique, {'attr': {'class': 'input'} }) }}
</div>

<h3 id="alimentation">Alimentation</h3>
<div class="form-space">
	{{ form_row(form.protocole.BFR.alimentation, {'attr': {'class': 'input radio-row alimentation-js'} }) }}
	<div class="alimentation"></div>
</div>

{{ form_row(form.protocole.BFR.save, {'attr': {'class': 'form-btn btn-save', 'disabled': freezeDatabase} }) }}
