<h1 id="coronaire-angioplastie">Coronaire & Angioplastie</h1>

<div class="form-space">
	<div class="table">
		<div class="theader">
			<div class="tr">
				<div></div>
				<div>Sténose</div>
				<div>FFR</div>
				<div>CMR</div>
				<div>IMR</div>
				<div>Angioplastie</div>
				<div>Coroscanner</div>
			</div>
		</div>
		<div class="tbody">
			<div class="tr">
				<div class="row-header">IVA</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.stenoseIVA, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.ffrIVA, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.cmrIVA, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.imrIVA, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.angioplastieIVA, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.coroscannerIVA, {'attr': {'class': 'input'} }) }}</div>
			</div>
			<div class="tr">
				<div class="row-header">Diagonale</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.stenoseDiagonale, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.ffrDiagonale, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.cmrDiagonale, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.imrDiagonale, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.angioplastieDiagonale, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.coroscannerDiagonale, {'attr': {'class': 'input'} }) }}</div>
			</div>
			<div class="tr">
				<div class="row-header">Circonflexe</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.stenoseCirconflexe, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.ffrCirconflexe, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.cmrCirconflexe, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.imrCirconflexe, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.angioplastieCirconflexe, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.coroscannerCirconflexe, {'attr': {'class': 'input'} }) }}</div>
			</div>
			<div class="tr">
				<div class="row-header">Postérolatéral</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.stenosePosterolateral, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.ffrPosterolateral, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.cmrPosterolateral, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.imrPosterolateral, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.angioplastiePosterolateral, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.coroscannerPosterolateral, {'attr': {'class': 'input'} }) }}</div>
			</div>
			<div class="tr">
				<div class="row-header">Coronaire droite</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.stenoseCoronaireDroite, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.ffrCoronaireDroite, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.cmrCoronaireDroite, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.imrCoronaireDroite, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.angioplastieCoronaireDroite, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.coroscannerCoronaireDroite, {'attr': {'class': 'input'} }) }}</div>
			</div>
			<div class="tr">
				<div class="row-header">Pontage</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.stenosePontage, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.ffrPontage, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.cmrPontage, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.imrPontage, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.angioplastiePontage, {'attr': {'class': 'input'} }) }}</div>
				<div>{{ form_row(form.protocole.coronaireAngioplastie.coroscannerPontage, {'attr': {'class': 'input'} }) }}</div>
			</div>
		</div>
	</div>
</div>

<div class="form-space">
	{{ form_row(form.protocole.coronaireAngioplastie.scoreCalcique, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

{{ form_row(form.protocole.coronaireAngioplastie.save, {'attr': {'class': 'form-btn'} }) }}
