<h1 id="echographie-vasculaire">Échographie vasculaire</h1>
<h3 id="tsa">Schéma TSA</h3>
<div class="form-space schema-tsa">
	{{ form_row(form.protocole.echographieVasculaire.carotideInterneDroite, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.carotideInterneGauche, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.EIMDroit, {'attr': {'class': 'input large'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.EIMGauche, {'attr': {'class': 'input large'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.vertebraleDroite, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.vertebraleGauche, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.carotideCommuneDroite, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.carotideCommuneGauche, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.sousClaviereDroite, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.sousClaviereGauche, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.TSAAorte, {'attr': {'class': 'input large'}, 'useStyle': true }) }}
</div>

<h3 id="membres-inferieur">Schéma membres inférieur</h3>
<div class="form-space schema-membres-inferieur">
	{{ form_row(form.protocole.echographieVasculaire.membresInferieurAorte, {'attr': {'class': 'input large'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.echographieVasculaire.iliaqueDroite, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.iliaqueGauche, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.femoraleCommuneDroite, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.femoraleCommuneGauche, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.femoraleSuperficielleDroite, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.femoraleSuperficielleGauche, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.popliteDroite, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.popliteGauche, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.axesJambiersDroits, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.echographieVasculaire.axesJambiersGauches, {'attr': {'class': 'input'} }) }}
</div>

<div class="form-space">
	<div class="flex-nowrap">
		{{ form_row(form.protocole.echographieVasculaire.IPSReposDroit, {'attr': {'class': 'input'} }) }}
		{{ form_row(form.protocole.echographieVasculaire.IPSReposGauche, {'attr': {'class': 'input'} }) }}
	</div>
	<div class="flex-nowrap">
		{{ form_row(form.protocole.echographieVasculaire.IPSEffortDroit, {'attr': {'class': 'input'} }) }}
		{{ form_row(form.protocole.echographieVasculaire.IPSEffortGauche, {'attr': {'class': 'input'} }) }}
	</div>
	{{ form_row(form.protocole.echographieVasculaire.testStandness, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	<div class="def">* compris entre 0 et 1000, 9999 si non réalisé</div>
</div>

<div class="form-space">
	{{ form_row(form.protocole.echographieVasculaire.vitesseOndePouls, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>


{{ form_row(form.protocole.echographieVasculaire.save, {'attr': {'class': 'form-btn'} }) }}
