<h1 id="echographie">Échocardiographie repos/effort</h1>
<div class="form-space">
	<div class="table-container">
		<table class="table-custom">
			<thead>
				<tr>
					<th></th>
					<th>Repos</th>
					<th>Effort</th>
					<th>Nombre de segments</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="row-header">IVA</td>
					<td>{{ form_row(form.protocole.echographie.reposIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.echographie.effortIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.echographie.nbSegmentIVA, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Diagonale</td>
					<td>{{ form_row(form.protocole.echographie.reposCX, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.echographie.effortCX, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.echographie.nbSegmentCX, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Circonflexe</td>
					<td>{{ form_row(form.protocole.echographie.reposCD, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.echographie.effortCD, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.echographie.nbSegmentCD, {'attr': {'class': 'input'} }) }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="form-space">
	{{ form_row(form.protocole.echographie.fractionEjection, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

{{ form_row(form.protocole.echographie.save, {'attr': {'class': 'form-btn'} }) }}
