<h1 id="medicaments">Médicaments</h1>

<h3 id="description">Description</h3>
<div class="form-space">
	{{ form_row(form.protocole.medicamentsEntree.NbMedicamentSemaine, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.medicamentsEntree.DelaiSousTraitement, {'attr': {'class': 'input'}, 'useStyle': true }) }}

	{{ form_row(form.protocole.medicamentsEntree.pilulier, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.medicamentsEntree.gestionMedicaments, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.medicamentsEntree.satisfaction, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.medicamentsEntree.ConnaissanceDureeTraitement, {'attr': {'class': 'input radio-row'} }) }}

	{{ form_row(form.protocole.medicamentsEntree.scoreMasCard, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	<div class="sub">
		{{ form_row(form.protocole.medicamentsEntree.problemes, {'attr': {'class': 'input radio-row'} }) }}
		{{ form_row(form.protocole.medicamentsEntree.remarques, {'attr': {'class': 'input'} }) }}
	</div>

	{{ form_row(form.protocole.medicamentsEntree.effetIndesirable, {'attr': {'class': 'input radio-row'} }) }}
	<div class="sub">
		{{ form_row(form.protocole.medicamentsEntree.lequel, {'attr': {'class': 'input'} }) }}
	</div>

	{{ form_row(form.protocole.medicamentsEntree.verbatimsMedicaments, {'attr': {'class': 'input'} }) }}

	<label>
		<em>Verbatims vécu</em>
	</label>
	<div class="qcm">
		{% for qcm in form.protocole.medicamentsEntree.verbatims %}
			<div class="qcm-row">
				<div class="qcm-question">
					{{constants_labels["MEDICAMENTSENTREE_VERBATIMS_VECU"][ loop.index0 ]}}
				</div>
				<div class="qcm-response">
					<div class="qcm-flex">
						{{ form_widget(qcm.response, {'attr': {'class': 'input radio-row'} }) }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	{{ form_row(form.protocole.medicamentsEntree.verbatimsApportSante, {'attr': {'class': 'input'} }) }}

	<label>
		<em>Verbatims santé</em>
	</label>
	<div class="qcm">
		{% for qcm in form.protocole.medicamentsEntree.verbatimsSante %}
			<div class="qcm-row">
				<div class="qcm-question">
					{{constants_labels["MEDICAMENTSENTREE_VERBATIMS_SANTE"][ loop.index0 ]}}
				</div>
				<div class="qcm-response">
					<div class="qcm-flex">
						{{ form_widget(qcm.response, {'attr': {'class': 'input radio-row'} }) }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	{{ form_row(form.protocole.medicamentsEntree.vecuTraitement, {'attr': {'class': 'input radio-row'} }) }}

	<label>
		<em>Questionnaire BMQ</em>
	</label>
	<div class="bmq">
		<div class="table-container">
			<table class="table-custom table-bmq">
				<thead>
					<th class="bmq-question__header"></th>

					<th class="bmq-response__header" colspan="6">
						<div>Pas du tout d'accord</div>
						<div>Plutôt pas d'accord</div>
						<div>Ni en désaccord, ni d'accord</div>
						<div>Plutôt d'accord</div>
						<div>Tout à fait d'accord</div>
						<div style="width: 42px"></div>
					</th>
				</thead>

				<tbody>
					{% for bmq in form.protocole.medicamentsEntree.questionnaire %}
						<tr>
							<td class="qcm-question">
								{{constants_labels["MEDICAMENTSENTREE_QUESTIONNAIRE"][ loop.index0 ]}}
							</td>
							<td class="bmq-response" colspan="6">
								{{ form_widget(bmq.response, {'attr': {'class': 'input radio-row'}, 'useLabel': ' ' }) }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>

<h3 id="complement">Médicaments</h3>
<div class="btn-bar">
	<a href="{{ path('medicament') }}" class="form-btn">
		<i aria-hidden="true" class="fa fa-cog"></i>
		Gérer la liste des médicaments
	</a>
</div>

<div class="margin-space"></div>

<div class="form-space">
	<div class="medicaments__list">
		{% for medicament in patient.protocole.medicamentsEntree.medicaments %}
			<div data-id='{{ medicament.id }}' class='medicament'>
				{{ medicament.name }}
				<span class="delete">
					<i class="fa fa-times"></i>
				</span>
			</div>
		{% endfor %}
	</div>
</div>
<div class="form-space">
	<div class="btn-bar">
		<select class="js-medicaments-ajax"></select>
		<button type="button" class="btn add-medicament" data-collection-holder-class="medicaments">
			<i class="fa fa-plus"></i>
			Ajouter un médicaments
		</button>
	</div>
</div>

{{ form_row(form.protocole.medicamentsEntree.save, {'attr': {'class': 'form-btn'} }) }}
