<h1 id="neuro-psychologie">Neuro-psychologie</h1>
<div class="form-space">
	{{ form_row(form.protocole.neuroPsychologie.rankin, {'attr': {'class': 'input'} }) }}

	<div class="flex-nowrap">
		{{ form_row(form.protocole.neuroPsychologie.MMSE, {'attr': {'class': 'input'}, 'useStyle': true }) }}
		{{ form_row(form.protocole.neuroPsychologie.MOCA, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	</div>
	<div class="flex-nowrap">
		{{ form_row(form.protocole.neuroPsychologie.HADAnxiete, {'attr': {'class': 'input'}, 'useStyle': true }) }}
		{{ form_row(form.protocole.neuroPsychologie.HADDepression, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	</div>

	<div class="def">* compris entre 0 et 1000, 9999 si non réalisé</div>	

	{{ form_row(form.protocole.neuroPsychologie.barriereLangue, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.neuroPsychologie.niveauSocioEducatif, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.neuroPsychologie.aphasie, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.neuroPsychologie.difficultesMouvementFin, {'attr': {'class': 'input radio-row'} }) }}
</div>

{{ form_row(form.protocole.neuroPsychologie.save, {'attr': {'class': 'form-btn'} }) }}