<h1 id="scintigraphie">Scintigraphie</h1>
<div class="form-space">
	<div class="table-container">
		<table class="table-custom table-scintigraphie">
			<thead>
				<tr>
					<th></th>
					<th colspan="2">Analyse visuelle</th>
					<th colspan="2">Débit</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<th></th>
					<th>Repos</th>
					<th>Régadénoson</th>
					<th>Repos</th>
					<th>Régadénoson</th>
					<th>Réserve</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="row-header">IVA</td>
					<td>{{ form_row(form.protocole.scintigraphie.reposAnalyseVisuelleIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.regadenosonAnalyseVisuelleIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.reposDebitIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.regadenosonDebitIVA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.reserveIVA, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">CX</td>
					<td>{{ form_row(form.protocole.scintigraphie.reposAnalyseVisuelleCX, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.regadenosonAnalyseVisuelleCX, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.reposDebitCX, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.regadenosonDebitCX, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.reserveCX, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">CD</td>
					<td>{{ form_row(form.protocole.scintigraphie.reposAnalyseVisuelleCD, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.regadenosonAnalyseVisuelleCD, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.reposDebitCD, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.regadenosonDebitCD, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.reserveCD, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Total</td>
					<td></td>
					<td></td>
					<td>{{ form_row(form.protocole.scintigraphie.reposDebitTotal, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.regadenosonDebitTotal, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.protocole.scintigraphie.reserveTotal, {'attr': {'class': 'input'} }) }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="form-space">
	{{ form_row(form.protocole.scintigraphie.fractionEjection, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

{{ form_row(form.protocole.scintigraphie.save, {'attr': {'class': 'form-btn btn-save', 'disabled': freezeDatabase} }) }}
