<h1 id="suivi">Suivi</h1>
<h3 id="recidive">Récidive</h3>
<div class="form-space">
	{{ form_row(form.protocole.suivi.recidive, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(form.protocole.suivi.dateSurvenue, {'attr': {'class': 'input js-datepicker'} }) }}
	{{ form_row(form.protocole.suivi.type, {'attr': {'class': 'input'} }) }}
</div>

<h3 id="clinique">Clinique</h3>
<div class="form-space">
	{{ form_row(form.protocole.suivi.dyspnee, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.suivi.douleur, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

<h3 id="facteur">Facteurs de risque cardiovasculaire</h3>
<div class="form-space">
	{{ form_row(form.protocole.suivi.tabac, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.suivi.activite, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.suivi.alimentation, {'attr': {'class': 'input radio-row alimentation-js'} }) }}
	<div class="alimentation"></div>
	{{ form_row(form.protocole.suivi.hba1c, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.suivi.hypertension, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.suivi.dyslipidemie, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.protocole.suivi.poids, {'attr': {'class': 'input'} }) }}
	<div class="score"></div>
</div>

<div class="form-space column">
	{% for qcm in form.protocole.suivi.facteurs %}
		<div class="qcm-row">
			<div class="qcm-question">
				{{constants_labels["SUIVI_FACTEUR"][ loop.index0 ]}}
			</div>
			<div class="qcm-response">
				<div class="wrap-input qcm-flex">
					{{ form_widget(qcm.response, {'attr': {'class': 'input radio-row'} }) }}
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<h3 id="place">Traitement mis en place suite à l'évènement cardiovasculaire</h3>
<div class="form-space">
	<div class="column">
		{% for qcm in form.protocole.suivi.traitement %}
			<div class="qcm-row">
				<div class="qcm-question">
					{{constants_labels["SUIVI_TRAITEMENT"][ loop.index0 ]}}
				</div>
				<div class="qcm-response">
					<div class="wrap-input qcm-flex">
						{{ form_widget(qcm.response, {'attr': {'class': 'input radio-row'} }) }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<h3 id="biologie">Biologie</h3>
{{ form_row(form.protocole.suivi.debitFiltrationGlomerulaire, {'attr': {'class': 'input'} }) }}

<h5>Inflammation</h5>
<div class="form-space">
	{{ form_row(form.protocole.suivi.crp, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

<h5>Bilan lipidique</h5>
<div class="form-space">
	{{ form_row(form.protocole.suivi.triglycerides, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.suivi.ldl, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(form.protocole.suivi.hdl, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

{{ form_row(form.protocole.suivi.save, {'attr': {'class': 'form-btn btn-save', 'disabled': freezeDatabase} }) }}
