{% extends 'layout.html.twig' %}

{% block title %}
    Index
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootgrid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}
	<div class="container-fluid">

		<div class="title-wrapper">
			Liste des patients
		</div>

		<div class="container-form">
			<div class="btn-bar">
				<a href="{{ path('export_csv') }}" class="btn" download>
					<i aria-hidden="true" class="fa fa-file-download"></i>
					Exporter
				</a>
				<a href="{{ path('patient_add') }}" class="btn">
					<i aria-hidden="true" class="fa fa-plus"></i>Ajouter un patient</a>
			</div>
            <div class="filter__container">
                <div class="filter__name">Filtrer par protocoles : </div>
                <select class="input js-basic-multiple" name="protocoles[]" multiple="multiple">
                    {% for feuille in constants_feuilles %}
                        <option value={{ feuille }}>{{ feuille }}</option>
                    {% endfor %}
                </select>
            </div>
			<div class="flex">
				<div class="table-wrapper">
					<table cellspacing="0" class="table table-condensed table-hover table-striped" id="data-grid">
						<thead>
							<tr>
								<th data-column-id="id" data-identifier="true" data-searchable="false" data-type="numeric" data-visible="false">Id</th>
								<th data-column-id="civilite">Civilité</th>
								<th data-column-id="prenom">Prénom</th>
								<th data-column-id="nom">Nom</th>
								<th data-column-id="dateNaissance">Date de naissance</th>
                                <th data-column-id="protocolesList" data-formatter="protocolesList" data-sortable="false">Protocoles</th>
								<th data-column-id="error" data-formatter="error" data-sortable="false" data-width="261px"></th>
								<th data-column-id="status" data-searchable="false" data-visible="false">Status</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/vendor/select2.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootgrid.min.js') }}"></script>

    <script>
        $('li:eq(1)').addClass('active');

        $('ul li').on('click', function() {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>
        let protocolesSelected = [];

        $('.js-basic-multiple').select2({
            multiple: true,
            width: '100%',
            language: 'fr',
            placeholder: 'Sélectionner des protocoles',
            allowClear: true,
        });

        $('.js-basic-multiple').on('change', function (e) {
            let data = $('.js-basic-multiple').select2('data');
            let arr = [];
            $.each(data, function(e, v) {
                arr.push(v.id);
            });
            protocolesSelected = arr;
            $('#data-grid').bootgrid('reload');
        });

        var grid = $("#data-grid").bootgrid({
            rowCount: [
                20, 50, -1
            ],
            columnSelection: false,
            ajax: true,
            statusMapping: {
                0: "in",
                1: "out"
            },
            requestHandler: function (request) {
                return request;
            },
            post: function () {
                return {
                    protocoles: protocolesSelected,
                };
            },
            url: "{{ path('patient_list') }}",
            formatters: {
                protocolesList: function (column, row) {
                    return row.protocolesList.join(", ");
                },
                error: function (column, row) {
                    fetchAdvancement(row.id);
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            grid.find("tr").on("click", function (e) {
                redirect($(this).data("row-id"));
            });
        }).on("loaded.rs.jquery.bootgrid", function() {
            
        });

        function redirect(id) {
            if (id == undefined) 
                return;

            let pathArray = window.location.pathname.split("/");
            let url = window.location.protocol + "//" + window.location.host;
            for (let i = 0; i < pathArray.length - 1; i++) 
                url += pathArray[i] + "/";

            window.location.assign(url + "patient/view/" + id);
        };

        function fetchAdvancement(patientId) {
            let url = '{{ path("advancement") }}';

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {
                    "id": patientId
                },
                success: function (json) {
                    let listErr = '';
                    for (i = 0; i < json.length; i++) {
                        listErr += '<div class="badge-spe badge-tab badge-' + $.parseJSON(json[i])['state'] + '">' + $.parseJSON(json[i])['number'] + '</div>';
                    };
                    $('#data-grid tr[data-row-id=' + patientId + '] td:nth-child(6)').empty().append(listErr);
                }
            });
        };
    </script>
{% endblock %}