<h1 id="facteur">Facteurs de risques initiaux</h1>

<div class="radio-row">
	{{ form_row(form.facteur.antecedentFamiliaux, {'attr': {'class': 'input'} }) }}
</div>

<div class="margin-space"></div>

<div class="form-space">
	<div class="table-container">
		<table class="table-custom">
			<thead>
				<tr>
					<th></th>
					<th>Risques</th>
					<th>Depuis</th>
					<th>Traité</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="row-header">HTA</td>
					<td>{{ form_row(form.facteur.risqueHTA, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.facteur.depuisHTA, {'attr': {'class': 'input'}, 'useStyle': true}) }}</td>
					<td>{{ form_row(form.facteur.traiteHTA, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Diabète</td>
					<td>{{ form_row(form.facteur.risqueDiabete, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.facteur.depuisDiabete, {'attr': {'class': 'input'}, 'useStyle': true}) }}</td>
					<td>{{ form_row(form.facteur.traiteDiabete, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Hypercholestérolémie</td>
					<td>{{ form_row(form.facteur.risqueHypercholesterolemie, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.facteur.depuisHypercholesterolemie, {'attr': {'class': 'input'}, 'useStyle': true}) }}</td>
					<td>{{ form_row(form.facteur.traiteHypercholesterolemie, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Hypertriglycéridèmie</td>
					<td>{{ form_row(form.facteur.risqueHypertriglyceridemie, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.facteur.depuisHypertriglyceridemie, {'attr': {'class': 'input'}, 'useStyle': true}) }}</td>
					<td>{{ form_row(form.facteur.traiteHypertriglyceridemie, {'attr': {'class': 'input'} }) }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="margin-space"></div>
	<h5>Tabagisme</h5>
	<div class="flex-wrap">
		<div class="flex-1">
			{{ form_row(form.facteur.tabagisme, {'attr': {'class': 'input'} }) }}
		</div>
		<div class="flex-1">
			{{ form_row(form.facteur.dateArret, {'attr': {'class': 'input js-datepicker'} }) }}
		</div>
		<div class="flex-1">
			{{ form_row(form.facteur.nombrePaquetsAn, {'attr': {'class': 'input radio-row'} }) }}
		</div>
	</div>

	<h5>Obésité</h5>
	<div>
		{{ form_row(form.facteur.obesite, {'attr': {'class': 'input radio-row'} }) }}
	</div>

	<h5>Alcoolisme</h5>
	<div class="flex-wrap">
		<div class="flex-1">
			{{ form_row(form.facteur.alcoolisme, {'attr': {'class': 'input radio-row'} }) }}
		</div>
		<div class="flex-1">
			{{ form_row(form.facteur.sevre, {'attr': {'class': 'input radio-row'} }) }}
		</div>
	</div>

	<h5>Cannabis</h5>
	<div class="radio-row">
		{{ form_row(form.facteur.cannabis, {'attr': {'class': 'input radio-row'} }) }}
	</div>

</div>

{{ form_row(form.facteur.save, {'attr': {'class': 'form-btn'} }) }}
