<h1 id="information">Information sur l'événement cardiovasculaire</h1>

<h3 id="infarctusMyocarde">Type d'infarctus du myocarde</h3>
<div class="form-space">
	{{ form_widget(form.information.susDecalage, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.sansSusDecalage, {'attr': {'class': 'input radio-row'} }) }}

	<div class="margin-space"></div>
	<h5>Territoire atteint</h5>
	{{ form_widget(form.information.anterieur, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.septoApical, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.lateral, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.inferieurPosterieur, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.sansTerritoire, {'attr': {'class': 'input radio-row'} }) }}

	<div class="margin-space"></div>
	<h5>Coronarographie (sténose > 50%)</h5>
	{{ form_widget(form.information.IVA, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.diagonale, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.Cx, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.marginale, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.CD, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.pontage, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.troncCommun, {'attr': {'class': 'input radio-row'} }) }}
</div>

<div class="margin-space"></div>
<h5>Traitement à la phase aiguë</h5>
<div class="form-space">
	{{ form_row(form.information.traitementPhaseAigue, {'attr': {'class': 'input radio-row'} }) }}
</div>

<div class="margin-space"></div>
<h5>Complications immédiates</h5>
<div class="form-space">
	{{ form_widget(form.information.troubleRythmeVentriculaire, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.insuffisanceCardiaque, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.pericardite, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_widget(form.information.complicationMecanique, {'attr': {'class': 'input radio-row'} }) }}
</div>

<h3 id="accidentVasculaireCerebral">Accident vasculaire cérébral</h3>
<div class="form-space">
	{{ form_row(form.information.localisation, {'attr': {'class': 'input'} }) }}
	{{ form_row(form.information.taille, {'attr': {'class': 'input'} }) }}
</div>

<div class="form-space">
	<div class="table-container">
		<table class="table-custom">
			<thead>
				<tr>
					<th></th>
					<th>Cause potentielle</th>
					<th>Cause incertaine</th>
					<th>Cause improbable</th>
					<th>Pathologie absente</th>
					<th>Explorations insuffisantes pour statuer</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="row-header">Athérosclérose</td>
					<td>{{ form_row(form.information.causePotentielleAtherosclerose, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeIncertaineAtherosclerose, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeImprobableAtherosclerose, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.pathologieAbsenteAtherosclerose, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.explorationsInsuffisantesAtherosclerose, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Maladie des petits artères</td>
					<td>{{ form_row(form.information.causePotentielleMaladiePetitsArteres, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeIncertaineMaladiePetitsArteres, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeImprobableMaladiePetitsArteres, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.pathologieAbsenteMaladiePetitsArteres, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.explorationsInsuffisanteMaladiePetitsArteres, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Cardio-embolique</td>
					<td>{{ form_row(form.information.causePotentielleCardioEmbolique, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeIncertaineCardioEmbolique, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeImprobableCardioEmbolique, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.pathologieAbsenteCardioEmbolique, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.explorationsInsuffisanteCardioEmbolique, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Autre cause</td>
					<td>{{ form_row(form.information.causePotentielleAutreCause, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeIncertaineAutreCause, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeImprobableAutreCause, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.pathologieAbsenteAutreCause, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.explorationsInsuffisanteAutreCause, {'attr': {'class': 'input'} }) }}</td>
				</tr>
				<tr>
					<td class="row-header">Dissection</td>
					<td>{{ form_row(form.information.causePotentielleDissection, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeIncertaineDissection, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.causeImprobableDissection, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.pathologieAbsenteDissection, {'attr': {'class': 'input'} }) }}</td>
					<td>{{ form_row(form.information.explorationsInsuffisanteDissection, {'attr': {'class': 'input'} }) }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{{ form_row(form.information.save, {'attr': {'class': 'form-btn'} }) }}
