<div class="flex-suivi">
	<h1 id="information">Suivi {{index}}</h1>

	<button type="button" class="form-btn btn-danger suivi-delete" data-suivi-id="{{suivi.vars.data.id}}">
		<i class="fa fa-trash"></i>
		Supprimer le suivi
	</button>
</div>

<div class="form-space">
	{{ form_row(suivi.dateVisite, {'attr': {'class': 'input js-datepicker'} }) }}
</div>

<h3 id="recidive">Récidive</h3>
<div class="form-space">
	{{ form_row(suivi.recidive, {'attr': {'class': 'input radio-row'} }) }}
	{{ form_row(suivi.dateSurvenue, {'attr': {'class': 'input js-datepicker'} }) }}
	{{ form_row(suivi.type, {'attr': {'class': 'input'} }) }}
</div>

<h3 id="clinique">Clinique</h3>
<div class="form-space">
	{{ form_row(suivi.dyspnee, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(suivi.douleur, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

<h3 id="facteur">Facteurs de risque cardiovasculaire</h3>
<div class="form-space">
	{{ form_row(suivi.tabac, {'attr': {'class': 'input'} }) }}
	{{ form_row(suivi.activite, {'attr': {'class': 'input'} }) }}
	{{ form_row(suivi.alimentation, {'attr': {'class': 'input radio-row alimentation-js'} }) }}
	<div class="alimentation"></div>

	<div class="qcm">
		{% for qcm in suivi.facteurs %}
			<div class="qcm-row">
				<div class="qcm-question">
					{{constants_labels["SUIVI_FACTEUR"][ loop.index0 ]}}
				</div>
				<div class="qcm-response">
					<div class="wrap-input qcm-flex">
						{{ form_widget(qcm.response, {'attr': {'class': 'input radio-row'} }) }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<h3 id="place">Traitement mis en place suite à l'évènement cardiovasculaire</h3>
<div class="form-space">
	<div class="qcm">
		{% for qcm in suivi.traitement %}
			<div class="qcm-row">
				<div class="qcm-question">
					{{constants_labels["SUIVI_TRAITEMENT"][ loop.index0 ]}}
				</div>
				<div class="qcm-response">
					<div class="wrap-input qcm-flex">
						{{ form_widget(qcm.response, {'attr': {'class': 'input radio-row'} }) }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<h3 id="biologie2">Biologie</h3>
<div class="form-space">
	{{ form_row(suivi.debitFiltrationGlomerulaire, {'attr': {'class': 'input'} }) }}
	<h5>Inflammation</h5>
	{{ form_row(suivi.crp, {'attr': {'class': 'input'}, 'useStyle': true }) }}

	<h5>Bilan lipidique</h5>
	{{ form_row(suivi.triglycerides, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(suivi.ldl, {'attr': {'class': 'input'}, 'useStyle': true }) }}
	{{ form_row(suivi.hdl, {'attr': {'class': 'input'}, 'useStyle': true }) }}

	<h5>HbA1c</h5>
	{{ form_row(suivi.hba1c, {'attr': {'class': 'input'}, 'useStyle': true }) }}
</div>

{{ form_row(suivi.save, {'attr': {'class': 'form-btn'} }) }}
